{
    "openapi": "3.0.1",
    "info": {
        "title": "Equipment Systems",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/equipmentsystems/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/installed-equipment": {
            "get": {
                "tags": [
                    "InstalledEquipment"
                ],
                "summary": "InstalledEquipment_GetList",
                "operationId": "InstalledEquipment_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locationIds",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, CreatedOn, ModifiedOn.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_EquipmentSystems.V2.InstalledEquipmentResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "equipmentId": 0,
                                            "locationId": 0,
                                            "customerId": 0,
                                            "invoiceItemId": 0,
                                            "name": "string",
                                            "installedOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "serialNumber": "string",
                                            "barcodeId": "string",
                                            "memo": "string",
                                            "manufacturer": "string",
                                            "model": "string",
                                            "cost": 0,
                                            "manufacturerWarrantyStart": "string",
                                            "manufacturerWarrantyEnd": "string",
                                            "serviceProviderWarrantyStart": "string",
                                            "serviceProviderWarrantyEnd": "string",
                                            "tags": [
                                                {
                                                    "id": 0,
                                                    "ownerId": 0,
                                                    "typeId": 0,
                                                    "typeName": "string",
                                                    "memo": "string",
                                                    "color": "string",
                                                    "textColor": "string",
                                                    "code": "string"
                                                }
                                            ],
                                            "actualReplacementDate": "string",
                                            "predictedReplacementMonths": 0,
                                            "predictedReplacementDate": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "InstalledEquipment"
                ],
                "summary": "InstalledEquipment_Create",
                "operationId": "InstalledEquipment_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentCreateRequest"
                            },
                            "example": {
                                "locationId": 0,
                                "name": "string",
                                "installedOn": "string",
                                "actualReplacementDate": "string",
                                "serialNumber": "string",
                                "barcodeId": "string",
                                "memo": "string",
                                "manufacturer": "string",
                                "model": "string",
                                "cost": 0,
                                "manufacturerWarrantyStart": "string",
                                "manufacturerWarrantyEnd": "string",
                                "serviceProviderWarrantyStart": "string",
                                "serviceProviderWarrantyEnd": "string",
                                "customFields": [
                                    {
                                        "id": 0,
                                        "typeId": 0,
                                        "value": "string"
                                    }
                                ],
                                "attachments": [
                                    {
                                        "alias": "string",
                                        "fileName": "string",
                                        "type": {},
                                        "url": "string"
                                    }
                                ],
                                "tagTypeIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentDetailedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "equipmentId": 0,
                                    "locationId": 0,
                                    "customerId": 0,
                                    "invoiceItemId": 0,
                                    "name": "string",
                                    "installedOn": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "serialNumber": "string",
                                    "barcodeId": "string",
                                    "memo": "string",
                                    "manufacturer": "string",
                                    "model": "string",
                                    "cost": 0,
                                    "manufacturerWarrantyStart": "string",
                                    "manufacturerWarrantyEnd": "string",
                                    "serviceProviderWarrantyStart": "string",
                                    "serviceProviderWarrantyEnd": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "ownerId": 0,
                                            "typeId": 0,
                                            "typeName": "string",
                                            "memo": "string",
                                            "color": "string",
                                            "textColor": "string",
                                            "code": "string"
                                        }
                                    ],
                                    "actualReplacementDate": "string",
                                    "predictedReplacementMonths": 0,
                                    "predictedReplacementDate": "string",
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "attachments": [
                                        {
                                            "alias": "string",
                                            "fileName": "string",
                                            "type": {},
                                            "url": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/installed-equipment/{id}": {
            "get": {
                "tags": [
                    "InstalledEquipment"
                ],
                "summary": "InstalledEquipment_Get",
                "operationId": "InstalledEquipment_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentDetailedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "equipmentId": 0,
                                    "locationId": 0,
                                    "customerId": 0,
                                    "invoiceItemId": 0,
                                    "name": "string",
                                    "installedOn": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "serialNumber": "string",
                                    "barcodeId": "string",
                                    "memo": "string",
                                    "manufacturer": "string",
                                    "model": "string",
                                    "cost": 0,
                                    "manufacturerWarrantyStart": "string",
                                    "manufacturerWarrantyEnd": "string",
                                    "serviceProviderWarrantyStart": "string",
                                    "serviceProviderWarrantyEnd": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "ownerId": 0,
                                            "typeId": 0,
                                            "typeName": "string",
                                            "memo": "string",
                                            "color": "string",
                                            "textColor": "string",
                                            "code": "string"
                                        }
                                    ],
                                    "actualReplacementDate": "string",
                                    "predictedReplacementMonths": 0,
                                    "predictedReplacementDate": "string",
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "attachments": [
                                        {
                                            "alias": "string",
                                            "fileName": "string",
                                            "type": {},
                                            "url": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "InstalledEquipment"
                ],
                "summary": "InstalledEquipment_Update",
                "operationId": "InstalledEquipment_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentUpdateRequest"
                            },
                            "example": {
                                "name": "string",
                                "installedOn": "string",
                                "actualReplacementDate": "string",
                                "serialNumber": "string",
                                "barcodeId": "string",
                                "memo": "string",
                                "manufacturer": "string",
                                "model": "string",
                                "cost": 0,
                                "manufacturerWarrantyStart": "string",
                                "manufacturerWarrantyEnd": "string",
                                "serviceProviderWarrantyStart": "string",
                                "serviceProviderWarrantyEnd": "string",
                                "customFields": [
                                    {
                                        "id": 0,
                                        "typeId": 0,
                                        "value": "string"
                                    }
                                ],
                                "attachments": [
                                    {
                                        "alias": "string",
                                        "fileName": "string",
                                        "type": {},
                                        "url": "string"
                                    }
                                ],
                                "tagTypeIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentDetailedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "equipmentId": 0,
                                    "locationId": 0,
                                    "customerId": 0,
                                    "invoiceItemId": 0,
                                    "name": "string",
                                    "installedOn": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "serialNumber": "string",
                                    "barcodeId": "string",
                                    "memo": "string",
                                    "manufacturer": "string",
                                    "model": "string",
                                    "cost": 0,
                                    "manufacturerWarrantyStart": "string",
                                    "manufacturerWarrantyEnd": "string",
                                    "serviceProviderWarrantyStart": "string",
                                    "serviceProviderWarrantyEnd": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "ownerId": 0,
                                            "typeId": 0,
                                            "typeName": "string",
                                            "memo": "string",
                                            "color": "string",
                                            "textColor": "string",
                                            "code": "string"
                                        }
                                    ],
                                    "actualReplacementDate": "string",
                                    "predictedReplacementMonths": 0,
                                    "predictedReplacementDate": "string",
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "attachments": [
                                        {
                                            "alias": "string",
                                            "fileName": "string",
                                            "type": {},
                                            "url": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/installed-equipment/attachments": {
            "post": {
                "tags": [
                    "InstalledEquipment"
                ],
                "summary": "InstalledEquipment_PostAttachment",
                "operationId": "InstalledEquipment_PostAttachment",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            },
                            "example": {
                                "file": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.AttachmentUploadResponse"
                                },
                                "example": {
                                    "path": "string"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "The entity has been created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.AttachmentUploadResponse"
                                },
                                "example": {
                                    "path": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "InstalledEquipment"
                ],
                "summary": "InstalledEquipment_Get2",
                "operationId": "InstalledEquipment_Get2",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "path",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "302": {
                        "description": ""
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "PaginatedResponse_Of_EquipmentSystems.V2.InstalledEquipmentResponse": {
                "required": [
                    "page",
                    "pageSize",
                    "hasMore",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "page": {
                        "type": "integer",
                        "description": "From which page this output has started",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "description": "Page size for this query (i.e. how many records were requested to return)",
                        "format": "int32"
                    },
                    "hasMore": {
                        "type": "boolean",
                        "description": "True if there are more records in the query than returned in this result"
                    },
                    "totalCount": {
                        "type": "integer",
                        "description": "Total count of records for this query (can optionally be populated)",
                        "format": "int32",
                        "nullable": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentResponse"
                        },
                        "description": "The collection of result items, will never have more than PageSize items"
                    }
                },
                "additionalProperties": false,
                "description": "Represents paginated API response."
            },
            "EquipmentSystems.V2.InstalledEquipmentResponse": {
                "required": [
                    "id",
                    "locationId",
                    "customerId",
                    "name",
                    "createdOn",
                    "modifiedOn",
                    "serialNumber",
                    "memo",
                    "manufacturer",
                    "model",
                    "cost"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "equipmentId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "locationId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "customerId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "invoiceItemId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "installedOn": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "createdOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "serialNumber": {
                        "type": "string"
                    },
                    "barcodeId": {
                        "type": "string",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string"
                    },
                    "manufacturer": {
                        "type": "string"
                    },
                    "model": {
                        "type": "string"
                    },
                    "cost": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "manufacturerWarrantyStart": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "manufacturerWarrantyEnd": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "serviceProviderWarrantyStart": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "serviceProviderWarrantyEnd": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentSystems.V2.TagResponseModel"
                        },
                        "nullable": true
                    },
                    "actualReplacementDate": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "predictedReplacementMonths": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "predictedReplacementDate": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "EquipmentSystems.V2.TagResponseModel": {
                "required": [
                    "id",
                    "ownerId",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "ownerId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "typeId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "typeName": {
                        "type": "string",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string",
                        "nullable": true
                    },
                    "color": {
                        "type": "string",
                        "nullable": true
                    },
                    "textColor": {
                        "type": "string",
                        "nullable": true
                    },
                    "code": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ApiErrorResponse": {
                "required": [
                    "type",
                    "title",
                    "status",
                    "traceId",
                    "errors",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "A URI reference that identifies the problem type"
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, human-readable summary of the problem type"
                    },
                    "status": {
                        "type": "integer",
                        "description": "The HTTP status code generated by server",
                        "format": "int32"
                    },
                    "traceId": {
                        "type": "string",
                        "description": "Internal trace ID for advanced diagnostics"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Provides more details about errors occurred, which can potentially be used for visual display"
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": {},
                        "description": "Provides additional data, intended for programmatical usage"
                    }
                },
                "additionalProperties": false,
                "description": "Detailed error response, following RFC 7807 recommendations (https://tools.ietf.org/html/rfc7807)."
            },
            "EquipmentSystems.V2.InstalledEquipmentDetailedResponse": {
                "required": [
                    "id",
                    "locationId",
                    "customerId",
                    "name",
                    "createdOn",
                    "modifiedOn",
                    "serialNumber",
                    "memo",
                    "manufacturer",
                    "model",
                    "cost"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "equipmentId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "locationId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "customerId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "invoiceItemId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "installedOn": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "createdOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "serialNumber": {
                        "type": "string"
                    },
                    "barcodeId": {
                        "type": "string",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string"
                    },
                    "manufacturer": {
                        "type": "string"
                    },
                    "model": {
                        "type": "string"
                    },
                    "cost": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "manufacturerWarrantyStart": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "manufacturerWarrantyEnd": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "serviceProviderWarrantyStart": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "serviceProviderWarrantyEnd": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentSystems.V2.TagResponseModel"
                        },
                        "nullable": true
                    },
                    "actualReplacementDate": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "predictedReplacementMonths": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "predictedReplacementDate": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "customFields": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentSystems.V2.CustomFieldResponseModel"
                        },
                        "nullable": true
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentSystems.V2.AttachmentApiModel"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "EquipmentSystems.V2.CustomFieldResponseModel": {
                "required": [
                    "id",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "typeId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "value": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "EquipmentSystems.V2.AttachmentApiModel": {
                "required": [
                    "type",
                    "url"
                ],
                "type": "object",
                "properties": {
                    "alias": {
                        "type": "string",
                        "description": "Attachment Alias",
                        "nullable": true
                    },
                    "fileName": {
                        "type": "string",
                        "description": "Attachment file name when downloaded",
                        "nullable": true
                    },
                    "type": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.AttachmentAssetType"
                            }
                        ],
                        "description": "Attachment type - Image, Video, Document, or Video Link"
                    },
                    "url": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            },
            "EquipmentSystems.V2.AttachmentAssetType": {
                "enum": [
                    "Other",
                    "Image",
                    "VideoFile",
                    "VideoLink",
                    "Document"
                ],
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "Other",
                    "Image",
                    "VideoFile",
                    "VideoLink",
                    "Document"
                ]
            },
            "EquipmentSystems.V2.InstalledEquipmentCreateRequest": {
                "required": [
                    "locationId"
                ],
                "type": "object",
                "properties": {
                    "locationId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "installedOn": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "actualReplacementDate": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "serialNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "barcodeId": {
                        "type": "string",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string",
                        "nullable": true
                    },
                    "manufacturer": {
                        "type": "string",
                        "nullable": true
                    },
                    "model": {
                        "type": "string",
                        "nullable": true
                    },
                    "cost": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "manufacturerWarrantyStart": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "manufacturerWarrantyEnd": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "serviceProviderWarrantyStart": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "serviceProviderWarrantyEnd": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "customFields": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentSystems.V2.CustomFieldRequestModel"
                        },
                        "nullable": true
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentSystems.V2.AttachmentApiModel"
                        },
                        "nullable": true
                    },
                    "tagTypeIds": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "EquipmentSystems.V2.CustomFieldRequestModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "typeId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "value": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "EquipmentSystems.V2.InstalledEquipmentUpdateRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "installedOn": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "actualReplacementDate": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "serialNumber": {
                        "type": "string"
                    },
                    "barcodeId": {
                        "type": "string"
                    },
                    "memo": {
                        "type": "string"
                    },
                    "manufacturer": {
                        "type": "string"
                    },
                    "model": {
                        "type": "string"
                    },
                    "cost": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "manufacturerWarrantyStart": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "manufacturerWarrantyEnd": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "serviceProviderWarrantyStart": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "serviceProviderWarrantyEnd": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "customFields": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.CustomFieldRequestModel"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.AttachmentApiModel"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    "tagTypeIds": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "additionalProperties": false
            },
            "EquipmentSystems.V2.AttachmentUploadResponse": {
                "required": [
                    "path"
                ],
                "type": "object",
                "properties": {
                    "path": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "ST-App-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "servicetitanapplicationkey",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}