{
    "openapi": "3.0.1",
    "info": {
        "title": "Scheduling Pro",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/schedulingpro/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/schedulers": {
            "get": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "Gets a list schedulers",
                "description": "Gets a list schedulers",
                "operationId": "Scheduler_Sessions",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_SchedulingPro.V2.SchedulerResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": "string",
                                            "name": "string",
                                            "companyName": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "schedulerStatus": "string",
                                            "dataApiKey": "string",
                                            "isDefault": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/schedulers/{id}/sessions": {
            "get": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "Gets a paginated list of sessions for scheduler",
                "description": "Gets a paginated list of sessions for scheduler",
                "operationId": "Scheduler_SchedulerSessions",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_SchedulingPro.V2.SchedulerSessionResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "lastCheckinDate": "string",
                                            "sessionOutcome": "string",
                                            "jobId": 0,
                                            "bookingId": 0,
                                            "timeslotStart": "string",
                                            "timeslotEnd": "string",
                                            "category": "string",
                                            "jobTypeId": 0,
                                            "businessUnitId": 0,
                                            "customer": {
                                                "isNewCustomer": true,
                                                "id": 0,
                                                "firstName": "string",
                                                "lastName": "string",
                                                "email": "string",
                                                "phone": "string",
                                                "isNewLocation": true,
                                                "address": {
                                                    "street": "string",
                                                    "unit": "string",
                                                    "city": "string",
                                                    "state": "string",
                                                    "zip": "string",
                                                    "country": "string"
                                                }
                                            },
                                            "zoneId": 0,
                                            "customerResponses": [
                                                "string"
                                            ],
                                            "notes": "string",
                                            "sourceTracking": {
                                                "isRWGSession": true,
                                                "campaignId": "string",
                                                "landingPageUrl": "string",
                                                "gclid": "string",
                                                "fbclid": "string",
                                                "msclkid": "string",
                                                "utmSource": "string",
                                                "utmMedium": "string",
                                                "utmCampaign": "string",
                                                "utmAdgroup": "string",
                                                "utmTerm": "string",
                                                "utmContent": "string",
                                                "googleAnalyticsClientId": "string"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApiErrorResponse": {
                "required": [
                    "type",
                    "title",
                    "status",
                    "traceId",
                    "errors",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "A URI reference that identifies the problem type"
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, human-readable summary of the problem type"
                    },
                    "status": {
                        "type": "integer",
                        "description": "The HTTP status code generated by server",
                        "format": "int32"
                    },
                    "traceId": {
                        "type": "string",
                        "description": "Internal trace ID for advanced diagnostics"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Provides more details about errors occurred, which can potentially be used for visual display"
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": {},
                        "description": "Provides additional data, intended for programmatical usage"
                    }
                },
                "additionalProperties": false,
                "description": "Detailed error response, following RFC 7807 recommendations (https://tools.ietf.org/html/rfc7807)."
            },
            "PaginatedResponse_Of_SchedulingPro.V2.SchedulerResponse": {
                "required": [
                    "page",
                    "pageSize",
                    "hasMore",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "page": {
                        "type": "integer",
                        "description": "From which page this output has started",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "description": "Page size for this query (i.e. how many records were requested to return)",
                        "format": "int32"
                    },
                    "hasMore": {
                        "type": "boolean",
                        "description": "True if there are more records in the query than returned in this result"
                    },
                    "totalCount": {
                        "type": "integer",
                        "description": "Total count of records for this query (can optionally be populated)",
                        "format": "int32",
                        "nullable": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SchedulingPro.V2.SchedulerResponse"
                        },
                        "description": "The collection of result items, will never have more than PageSize items"
                    }
                },
                "additionalProperties": false,
                "description": "Represents paginated API response."
            },
            "SchedulingPro.V2.SchedulerResponse": {
                "required": [
                    "id",
                    "name",
                    "companyName",
                    "createdOn",
                    "modifiedOn",
                    "schedulerStatus",
                    "dataApiKey",
                    "isDefault"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Scheduler ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "Scheduler name"
                    },
                    "companyName": {
                        "type": "string",
                        "description": "Company Name"
                    },
                    "createdOn": {
                        "type": "string",
                        "description": "When this scheduler was created",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "description": "When this scheduler was last modified",
                        "format": "date-time"
                    },
                    "schedulerStatus": {
                        "type": "string",
                        "description": "Scheduler Status"
                    },
                    "dataApiKey": {
                        "type": "string",
                        "description": "Scheduler Data API Key used for embedding the Scheduler"
                    },
                    "isDefault": {
                        "type": "boolean",
                        "description": "Denotes if this is the default scheduler"
                    }
                },
                "additionalProperties": false
            },
            "PaginatedResponse_Of_SchedulingPro.V2.SchedulerSessionResponse": {
                "required": [
                    "page",
                    "pageSize",
                    "hasMore",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "page": {
                        "type": "integer",
                        "description": "From which page this output has started",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "description": "Page size for this query (i.e. how many records were requested to return)",
                        "format": "int32"
                    },
                    "hasMore": {
                        "type": "boolean",
                        "description": "True if there are more records in the query than returned in this result"
                    },
                    "totalCount": {
                        "type": "integer",
                        "description": "Total count of records for this query (can optionally be populated)",
                        "format": "int32",
                        "nullable": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SchedulingPro.V2.SchedulerSessionResponse"
                        },
                        "description": "The collection of result items, will never have more than PageSize items"
                    }
                },
                "additionalProperties": false,
                "description": "Represents paginated API response."
            },
            "SchedulingPro.V2.SchedulerSessionResponse": {
                "required": [
                    "id",
                    "createdOn",
                    "modifiedOn",
                    "lastCheckinDate",
                    "customer",
                    "sourceTracking"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Session ID"
                    },
                    "createdOn": {
                        "type": "string",
                        "description": "When this session was created",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "description": "When this session was last modified",
                        "format": "date-time"
                    },
                    "lastCheckinDate": {
                        "type": "string",
                        "description": "When the customer last interacted with the session",
                        "format": "date-time"
                    },
                    "sessionOutcome": {
                        "type": "string",
                        "description": "The outcome of the session",
                        "nullable": true
                    },
                    "jobId": {
                        "type": "integer",
                        "description": "Job ID if a job was created from this session",
                        "format": "int64",
                        "nullable": true
                    },
                    "bookingId": {
                        "type": "integer",
                        "description": "Booking ID if a booking was created from this session",
                        "format": "int64",
                        "nullable": true
                    },
                    "timeslotStart": {
                        "type": "string",
                        "description": "Timeslot start",
                        "format": "date-time",
                        "nullable": true
                    },
                    "timeslotEnd": {
                        "type": "string",
                        "description": "Timeslot end",
                        "format": "date-time",
                        "nullable": true
                    },
                    "category": {
                        "type": "string",
                        "description": "Category of the job",
                        "nullable": true
                    },
                    "jobTypeId": {
                        "type": "integer",
                        "description": "Job type ID",
                        "format": "int64",
                        "nullable": true
                    },
                    "businessUnitId": {
                        "type": "integer",
                        "description": "Business unit ID",
                        "format": "int64",
                        "nullable": true
                    },
                    "customer": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/SchedulingPro.V2.Customer"
                            }
                        ],
                        "description": "Customer information"
                    },
                    "zoneId": {
                        "type": "integer",
                        "description": "Zone ID",
                        "format": "int64",
                        "nullable": true
                    },
                    "customerResponses": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Customer Responses",
                        "nullable": true
                    },
                    "notes": {
                        "type": "string",
                        "description": "Customer customer",
                        "nullable": true
                    },
                    "sourceTracking": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/SchedulingPro.V2.SourceTracking"
                            }
                        ],
                        "description": "Source tracking information"
                    }
                },
                "additionalProperties": false
            },
            "SchedulingPro.V2.Customer": {
                "required": [
                    "isNewCustomer",
                    "isNewLocation",
                    "address"
                ],
                "type": "object",
                "properties": {
                    "isNewCustomer": {
                        "type": "boolean",
                        "description": "Whether this is a new customer"
                    },
                    "id": {
                        "type": "integer",
                        "description": "Customer ID",
                        "format": "int64",
                        "nullable": true
                    },
                    "firstName": {
                        "type": "string",
                        "description": "Customer first name",
                        "nullable": true
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Customer last name",
                        "nullable": true
                    },
                    "email": {
                        "type": "string",
                        "description": "Customer email",
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "description": "Customer phone",
                        "nullable": true
                    },
                    "isNewLocation": {
                        "type": "boolean",
                        "description": "Whether this is a new Location"
                    },
                    "address": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/SchedulingPro.V2.Address"
                            }
                        ],
                        "description": "Customer Address Information"
                    }
                },
                "additionalProperties": false
            },
            "SchedulingPro.V2.Address": {
                "type": "object",
                "properties": {
                    "street": {
                        "type": "string",
                        "description": "Street",
                        "nullable": true
                    },
                    "unit": {
                        "type": "string",
                        "description": "Unit",
                        "nullable": true
                    },
                    "city": {
                        "type": "string",
                        "description": "City",
                        "nullable": true
                    },
                    "state": {
                        "type": "string",
                        "description": "State",
                        "nullable": true
                    },
                    "zip": {
                        "type": "string",
                        "description": "Zip",
                        "nullable": true
                    },
                    "country": {
                        "type": "string",
                        "description": "Country",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "SchedulingPro.V2.SourceTracking": {
                "type": "object",
                "properties": {
                    "isRWGSession": {
                        "type": "boolean",
                        "description": "Whether the session came from Reserve with Google",
                        "nullable": true
                    },
                    "campaignId": {
                        "type": "string",
                        "description": "Campaign ID",
                        "nullable": true
                    },
                    "landingPageUrl": {
                        "type": "string",
                        "description": "Campaign Name",
                        "nullable": true
                    },
                    "gclid": {
                        "type": "string",
                        "description": "Google Click ID",
                        "nullable": true
                    },
                    "fbclid": {
                        "type": "string",
                        "description": "Facebook Click ID",
                        "nullable": true
                    },
                    "msclkid": {
                        "type": "string",
                        "description": "Microsoft Click ID",
                        "nullable": true
                    },
                    "utmSource": {
                        "type": "string",
                        "description": "UTM Source",
                        "nullable": true
                    },
                    "utmMedium": {
                        "type": "string",
                        "description": "UTM Medium",
                        "nullable": true
                    },
                    "utmCampaign": {
                        "type": "string",
                        "description": "UTM Campaign",
                        "nullable": true
                    },
                    "utmAdgroup": {
                        "type": "string",
                        "description": "UTM Content",
                        "nullable": true
                    },
                    "utmTerm": {
                        "type": "string",
                        "description": "UTM Term",
                        "nullable": true
                    },
                    "utmContent": {
                        "type": "string",
                        "description": "UTM Content",
                        "nullable": true
                    },
                    "googleAnalyticsClientId": {
                        "type": "string",
                        "description": "Google Analytics Client ID",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "ST-App-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "servicetitanapplicationkey",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}