{
    "openapi": "3.0.1",
    "info": {
        "title": "Accounting",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/accounting/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/ap-bills": {
            "get": {
                "tags": [
                    "ApBills"
                ],
                "summary": "Returns a paginated list of AP bills with detailed item information, filtering capabilities, and associated metadata",
                "description": "Returns a paginated list of AP bills with detailed item information, filtering capabilities, and associated metadata",
                "operationId": "ApBills_GetListPaginated",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Comma-separated list of specific AP bill IDs to retrieve",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "batchId",
                        "in": "query",
                        "description": "Filter by specific batch ID",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "batchNumber",
                        "in": "query",
                        "description": "Filter by batch number",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "billNumber",
                        "in": "query",
                        "description": "Filter by bill number (partial match supported)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "businessUnitIds",
                        "in": "query",
                        "description": "Comma-separated list of business unit IDs to filter by",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "customField.Fields",
                        "in": "query",
                        "description": "Dictionary of name-value pairs",
                        "schema": {
                            "maxProperties": 50,
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "nullable": true
                        }
                    },
                    {
                        "name": "customField.Operator",
                        "in": "query",
                        "description": "Operator to be used between the name-value pairs. Can be \"Or\" or \"And\", default is \"And\".\\\nValues: [And, Or]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Accounting.V2.LogicalOperator"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "Filter bills created on or after this date",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "Filter bills created on or before this date",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "jobNumber",
                        "in": "query",
                        "description": "Filter by job number (partial match supported)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "purchaseOrderNumber",
                        "in": "query",
                        "description": "Filter by purchase order number (partial match supported)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "purchaseOrderTypes",
                        "in": "query",
                        "description": "Comma-separated list of purchase order types to filter by",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "syncStatuses",
                        "in": "query",
                        "description": "Filter by sync status values",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Accounting.V2.ApBillSyncStatus"
                            },
                            "nullable": true
                        }
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "description": "Filter by bill status values",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Accounting.V2.ApBillStatus"
                            },
                            "nullable": true
                        }
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "Filter by bill source values",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Accounting.V2.ApBillSource"
                            },
                            "nullable": true
                        }
                    },
                    {
                        "name": "minCost",
                        "in": "query",
                        "description": "Filter bills with cost greater than or equal to this amount",
                        "schema": {
                            "type": "number",
                            "format": "decimal",
                            "nullable": true
                        }
                    },
                    {
                        "name": "maxCost",
                        "in": "query",
                        "description": "Filter bills with cost less than or equal to this amount",
                        "schema": {
                            "type": "number",
                            "format": "decimal",
                            "nullable": true
                        }
                    },
                    {
                        "name": "billType",
                        "in": "query",
                        "description": "Filter by bill type (defaults to Procurement)\\\nValues: [NotSet, Procurement, ApBill]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Accounting.V2.ApBillType"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the paginated list of AP bills",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.ApBillResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "purchaseOrderId": 0,
                                            "syncStatus": "string",
                                            "status": "string",
                                            "source": "string",
                                            "billType": "string",
                                            "postDate": "string",
                                            "referenceNumber": "string",
                                            "vendorNumber": "string",
                                            "summary": "string",
                                            "billDate": "string",
                                            "earlyDiscountDate": "string",
                                            "billAmount": "string",
                                            "vendorInvoiceTotal": "string",
                                            "taxAmount": "string",
                                            "shippingAmount": "string",
                                            "createdBy": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "termName": "string",
                                            "dueDate": "string",
                                            "doNotPay": true,
                                            "dateCanceled": "string",
                                            "canceledBy": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "shipToDescription": "string",
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "taxZone": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "vendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "remittanceVendorInfo": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "shipTo": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "budgetCodeId": 0,
                                            "items": [
                                                {
                                                    "order": 0,
                                                    "name": "string",
                                                    "description": "string",
                                                    "quantity": "string",
                                                    "cost": "string",
                                                    "inventoryLocation": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "type": "string"
                                                    },
                                                    "vendorPartNumber": "string",
                                                    "serialNumber": "string",
                                                    "generalLedgerAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "costOfSaleAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "assetAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "receiptItemId": 0,
                                                    "skuType": "string",
                                                    "skuCode": "string",
                                                    "budgetCodeId": 0
                                                }
                                            ],
                                            "expenseItems": [
                                                {
                                                    "id": 0,
                                                    "amount": "string",
                                                    "description": "string",
                                                    "generalLedgerAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "job": {
                                                        "id": 0,
                                                        "name": "string"
                                                    },
                                                    "businessUnit": {
                                                        "id": 0,
                                                        "name": "string"
                                                    },
                                                    "budgetCodeId": 0,
                                                    "projectLabelIds": [
                                                        0
                                                    ]
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "jobId": 0,
                                            "jobNumber": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-bills/{billId}": {
            "get": {
                "tags": [
                    "ApBills"
                ],
                "summary": "Returns a single AP bill by its unique identifier with complete details including items, expense items, and associated metadata",
                "description": "Returns a single AP bill by its unique identifier with complete details including items, expense items, and associated metadata",
                "operationId": "ApBills_GetById",
                "parameters": [
                    {
                        "name": "billId",
                        "in": "path",
                        "description": "The unique identifier of the AP bill to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the AP bill",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Accounting.V2.ApBillResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "purchaseOrderId": 0,
                                    "syncStatus": "string",
                                    "status": "string",
                                    "source": "string",
                                    "billType": "string",
                                    "postDate": "string",
                                    "referenceNumber": "string",
                                    "vendorNumber": "string",
                                    "summary": "string",
                                    "billDate": "string",
                                    "earlyDiscountDate": "string",
                                    "billAmount": "string",
                                    "vendorInvoiceTotal": "string",
                                    "taxAmount": "string",
                                    "shippingAmount": "string",
                                    "createdBy": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "termName": "string",
                                    "dueDate": "string",
                                    "doNotPay": true,
                                    "dateCanceled": "string",
                                    "canceledBy": {
                                        "id": 0,
                                        "name": "string"
                                    },
                                    "shipToDescription": "string",
                                    "batch": {
                                        "id": 0,
                                        "number": "string",
                                        "name": "string"
                                    },
                                    "businessUnit": {
                                        "id": 0,
                                        "name": "string"
                                    },
                                    "taxZone": {
                                        "id": 0,
                                        "name": "string"
                                    },
                                    "vendor": {
                                        "id": 0,
                                        "name": "string"
                                    },
                                    "remittanceVendorInfo": {
                                        "id": 0,
                                        "name": "string"
                                    },
                                    "shipTo": {
                                        "street": "string",
                                        "unit": "string",
                                        "city": "string",
                                        "state": "string",
                                        "zip": "string",
                                        "country": "string"
                                    },
                                    "budgetCodeId": 0,
                                    "items": [
                                        {
                                            "order": 0,
                                            "name": "string",
                                            "description": "string",
                                            "quantity": "string",
                                            "cost": "string",
                                            "inventoryLocation": {
                                                "id": 0,
                                                "name": "string",
                                                "type": "string"
                                            },
                                            "vendorPartNumber": "string",
                                            "serialNumber": "string",
                                            "generalLedgerAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "costOfSaleAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "assetAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "id": 0,
                                            "skuId": 0,
                                            "receiptItemId": 0,
                                            "skuType": "string",
                                            "skuCode": "string",
                                            "budgetCodeId": 0
                                        }
                                    ],
                                    "expenseItems": [
                                        {
                                            "id": 0,
                                            "amount": "string",
                                            "description": "string",
                                            "generalLedgerAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "job": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "budgetCodeId": 0,
                                            "projectLabelIds": [
                                                0
                                            ]
                                        }
                                    ],
                                    "customFields": [
                                        {
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "jobId": 0,
                                    "jobNumber": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "AP bill with the specified ID was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-bills/custom-fields": {
            "get": {
                "tags": [
                    "ApBills"
                ],
                "summary": "Returns a paginated list of filtered custom field types available for AP bills",
                "description": "Returns a paginated list of filtered custom field types available for AP bills",
                "operationId": "ApBills_GetCustomFieldTypes",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the custom field types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.CustomFieldTypeResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "dataType": "Text",
                                            "dataTypeOptions": [
                                                "string"
                                            ],
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "ApBills"
                ],
                "summary": "Updates custom field values on multiple AP bills",
                "description": "Updates custom field values on multiple AP bills",
                "operationId": "ApBills_UpdateCustomFields",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The custom field update request containing bill IDs and field values to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Accounting.V2.CustomFieldUpdateRequest"
                            },
                            "example": {
                                "operations": [
                                    {
                                        "objectId": 0,
                                        "customFields": [
                                            {
                                                "name": "string",
                                                "value": "string"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully updated custom fields on the specified AP bills"
                    },
                    "400": {
                        "description": "Invalid request data or validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-bills/markasexported": {
            "post": {
                "tags": [
                    "ApBills"
                ],
                "summary": "Marks multiple AP bills as exported, updating their sync status to indicate they have been exported to external systems",
                "description": "Marks multiple AP bills as exported, updating their sync status to indicate they have been exported to external systems",
                "operationId": "ApBills_MarkAsExported",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The request containing AP bill IDs to mark as exported",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Accounting.V2.MarkApBillAsExportedUpdateRequest"
                            },
                            "example": {
                                "billIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully processed the mark as exported request for all bills",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Accounting.V2.MarkApBillAsExportedUpdateResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "billId": 0,
                                        "success": true,
                                        "errorMessage": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request data or validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-credits": {
            "get": {
                "tags": [
                    "ApCredits"
                ],
                "summary": "Gets a paginated list of ap credits",
                "description": "Gets a paginated list of ap credits",
                "operationId": "ApCredits_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "syncStatuses",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Accounting.V2.InventoryBillSyncStatus"
                            },
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.ApCreditResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "inventoryReturnId": 0,
                                            "jobId": 0,
                                            "active": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "date": "string",
                                            "canceledOn": "string",
                                            "number": "string",
                                            "referenceNumber": "string",
                                            "memo": "string",
                                            "amount": 0,
                                            "appliedAmount": 0,
                                            "status": "Unreconciled",
                                            "syncStatus": "Pending",
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "remittanceVendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "vendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "paymentStatus": "Unpaid",
                                            "splits": [
                                                {
                                                    "id": 0,
                                                    "active": true,
                                                    "createdOn": "string",
                                                    "inventoryBillId": 0,
                                                    "vendorCreditId": 0,
                                                    "amount": 0
                                                }
                                            ],
                                            "budgetCodeId": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-credits/markasexported": {
            "post": {
                "tags": [
                    "ApCredits"
                ],
                "summary": "Marks ap-credits as exported.",
                "description": "Marks ap-credits as exported.",
                "operationId": "ApCredits_MarkAsExported",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Accounting.V2.MarkApCreditAsExportedUpdateRequest"
                                }
                            },
                            "example": [
                                {
                                    "apCreditId": 0
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Accounting.V2.MarkApCreditAsExportedUpdateResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "apCreditId": 0,
                                        "success": true,
                                        "errorMessage": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-payments": {
            "get": {
                "tags": [
                    "ApPayments"
                ],
                "summary": "ApPayments_GetList",
                "operationId": "ApPayments_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "syncStatuses",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Accounting.V2.InventoryBillSyncStatus"
                            },
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.ApPaymentResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "date": "string",
                                            "approvedDate": "string",
                                            "method": "AccountingSystem",
                                            "name": "string",
                                            "printCheck": true,
                                            "amount": 0,
                                            "errorMessage": "string",
                                            "status": "Unpaid",
                                            "syncStatus": "Pending",
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "glAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "vendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "remittanceVendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "splits": [
                                                {
                                                    "id": 0,
                                                    "active": true,
                                                    "createdOn": "string",
                                                    "documentId": 0,
                                                    "inventoryBillId": 0,
                                                    "amount": 0
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-payments/markasexported": {
            "post": {
                "tags": [
                    "ApPayments"
                ],
                "summary": "Marks ap-payments as exported.",
                "description": "Marks ap-payments as exported.",
                "operationId": "ApPayments_MarkAsExported",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Accounting.V2.MarkApPaymentAsExportedUpdateRequest"
                                }
                            },
                            "example": [
                                {
                                    "apPaymentId": 0,
                                    "externalId": "string",
                                    "externalMessage": "string"
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Accounting.V2.MarkApPaymentAsExportedUpdateResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "apPaymentId": 0,
                                        "success": true,
                                        "errorMessage": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/invoices": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for invoices",
                "description": "Provides export feed for invoices",
                "operationId": "Export_Invoices",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Accounting.V2.ExportInvoiceResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "summary": "string",
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "description": "string",
                                                    "quantity": "string",
                                                    "cost": "string",
                                                    "totalCost": "string",
                                                    "budgetCodeId": 0,
                                                    "inventoryLocationId": 0,
                                                    "inventoryLocation": "string",
                                                    "price": "string",
                                                    "type": "Service",
                                                    "skuName": "string",
                                                    "skuId": 0,
                                                    "total": "string",
                                                    "inventory": true,
                                                    "taxable": true,
                                                    "generalLedgerAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "costOfSaleAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "assetAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "membershipTypeId": 0,
                                                    "itemGroup": {
                                                        "rootId": 0,
                                                        "name": "string"
                                                    },
                                                    "displayName": "string",
                                                    "soldHours": 0,
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "serviceDate": "string",
                                                    "order": 0,
                                                    "businessUnit": {
                                                        "id": 0,
                                                        "name": "string"
                                                    },
                                                    "createdById": 0,
                                                    "displayInAmount": true,
                                                    "importId": "string",
                                                    "exportId": "string",
                                                    "inventoryStatus": "string",
                                                    "addOn": true,
                                                    "memberPrice": "string",
                                                    "technicianId": 0,
                                                    "installedEquipmentId": 0,
                                                    "estimateItemId": 0
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "active": true,
                                            "discountTotal": "string",
                                            "importId": "string",
                                            "exportId": "string",
                                            "materialSkuId": 0,
                                            "membershipId": 0,
                                            "paidOn": "string",
                                            "id": 0,
                                            "syncStatus": "string",
                                            "budgetCodeId": 0,
                                            "referenceNumber": "string",
                                            "invoiceDate": "string",
                                            "dueDate": "string",
                                            "subTotal": "string",
                                            "salesTax": "string",
                                            "salesTaxCode": {
                                                "id": 0,
                                                "name": "string",
                                                "taxRate": 0
                                            },
                                            "total": "string",
                                            "balance": "string",
                                            "invoiceType": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "customer": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "customerAddress": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "location": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "locationAddress": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "termName": "string",
                                            "createdBy": "string",
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "depositedOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "adjustmentToId": 0,
                                            "job": {
                                                "id": 0,
                                                "number": "string",
                                                "type": "string"
                                            },
                                            "projectId": 0,
                                            "royalty": {
                                                "status": "string",
                                                "date": "string",
                                                "sentOn": "string",
                                                "memo": "string"
                                            },
                                            "employeeInfo": {
                                                "id": 0,
                                                "name": "string",
                                                "modifiedOn": "string"
                                            },
                                            "commissionEligibilityDate": "string",
                                            "sentStatus": "NotSent",
                                            "reviewStatus": "NeedsReview",
                                            "assignedTo": {
                                                "id": 0,
                                                "name": "string"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/invoice-items": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for invoice items",
                "description": "Provides export feed for invoice items",
                "operationId": "Export_InvoiceItems",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Accounting.V2.ExportInvoiceItemResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "description": "string",
                                            "quantity": "string",
                                            "cost": "string",
                                            "totalCost": "string",
                                            "budgetCodeId": 0,
                                            "inventoryLocationId": 0,
                                            "inventoryLocation": "string",
                                            "price": "string",
                                            "type": "Service",
                                            "skuName": "string",
                                            "skuId": 0,
                                            "total": "string",
                                            "inventory": true,
                                            "taxable": true,
                                            "generalLedgerAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "costOfSaleAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "assetAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "membershipTypeId": 0,
                                            "itemGroup": {
                                                "rootId": 0,
                                                "name": "string"
                                            },
                                            "displayName": "string",
                                            "soldHours": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "serviceDate": "string",
                                            "order": 0,
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "createdById": 0,
                                            "displayInAmount": true,
                                            "importId": "string",
                                            "exportId": "string",
                                            "inventoryStatus": "string",
                                            "addOn": true,
                                            "memberPrice": "string",
                                            "technicianId": 0,
                                            "installedEquipmentId": 0,
                                            "estimateItemId": 0,
                                            "active": true,
                                            "invoiceId": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/payments": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for payments",
                "description": "Provides export feed for payments",
                "operationId": "Export_Payments",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Accounting.V2.ExportPaymentResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "syncStatus": "string",
                                            "referenceNumber": "string",
                                            "date": "string",
                                            "type": "string",
                                            "typeId": "string",
                                            "total": "string",
                                            "unappliedAmount": "string",
                                            "memo": "string",
                                            "customer": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "createdBy": "string",
                                            "generalLedgerAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "appliedTo": [
                                                {
                                                    "appliedId": 0,
                                                    "appliedTo": 0,
                                                    "appliedAmount": "string",
                                                    "appliedOn": "string",
                                                    "appliedBy": "string",
                                                    "appliedToReferenceNumber": "string"
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "authCode": "string",
                                            "checkNumber": "string",
                                            "modifiedOn": "string",
                                            "createdOn": "string",
[...]
