{
    "openapi": "3.0.1",
    "info": {
        "title": "Accounting",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/accounting/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/ap-credits": {
            "get": {
                "tags": [
                    "ApCredits"
                ],
                "summary": "Gets a paginated list of ap credits",
                "description": "Gets a paginated list of ap credits",
                "operationId": "ApCredits_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.ApCreditResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "inventoryReturnId": 0,
                                            "jobId": 0,
                                            "active": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "date": "string",
                                            "canceledOn": "string",
                                            "number": "string",
                                            "referenceNumber": "string",
                                            "memo": "string",
                                            "amount": 0,
                                            "appliedAmount": 0,
                                            "status": "Unreconciled",
                                            "syncStatus": "Pending",
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "remittanceVendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "vendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "paymentStatus": "Unpaid",
                                            "splits": [
                                                {
                                                    "id": 0,
                                                    "active": true,
                                                    "createdOn": "string",
                                                    "inventoryBillId": 0,
                                                    "vendorCreditId": 0,
                                                    "amount": 0
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-credits/markasexported": {
            "post": {
                "tags": [
                    "ApCredits"
                ],
                "summary": "Marks ap-credits as exported.",
                "description": "Marks ap-credits as exported.",
                "operationId": "ApCredits_MarkAsExported",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Accounting.V2.MarkApCreditAsExportedUpdateRequest"
                                }
                            },
                            "example": [
                                {
                                    "apCreditId": 0
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Accounting.V2.MarkApCreditAsExportedUpdateResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "apCreditId": 0,
                                        "success": true,
                                        "errorMessage": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-payments": {
            "get": {
                "tags": [
                    "ApPayments"
                ],
                "summary": "ApPayments_GetList",
                "operationId": "ApPayments_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.ApPaymentResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "date": "string",
                                            "approvedDate": "string",
                                            "method": "AccountingSystem",
                                            "name": "string",
                                            "printCheck": true,
                                            "amount": 0,
                                            "errorMessage": "string",
                                            "status": "Unpaid",
                                            "syncStatus": "Pending",
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "glAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "vendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "remittanceVendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "splits": [
                                                {
                                                    "id": 0,
                                                    "active": true,
                                                    "createdOn": "string",
                                                    "documentId": 0,
                                                    "inventoryBillId": 0,
                                                    "amount": 0
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/ap-payments/markasexported": {
            "post": {
                "tags": [
                    "ApPayments"
                ],
                "summary": "Marks ap-payments as exported.",
                "description": "Marks ap-payments as exported.",
                "operationId": "ApPayments_MarkAsExported",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Accounting.V2.MarkApPaymentAsExportedUpdateRequest"
                                }
                            },
                            "example": [
                                {
                                    "apPaymentId": 0,
                                    "externalId": "string",
                                    "externalMessage": "string"
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Accounting.V2.MarkApPaymentAsExportedUpdateResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "apPaymentId": 0,
                                        "success": true,
                                        "errorMessage": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/invoices": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for invoices",
                "description": "Provides export feed for invoices",
                "operationId": "Export_Invoices",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Accounting.V2.ExportInvoiceResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "summary": "string",
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "description": "string",
                                                    "quantity": "string",
                                                    "cost": "string",
                                                    "totalCost": "string",
                                                    "inventoryLocationId": 0,
                                                    "inventoryLocation": "string",
                                                    "price": "string",
                                                    "type": "Service",
                                                    "skuName": "string",
                                                    "skuId": 0,
                                                    "total": "string",
                                                    "inventory": true,
                                                    "taxable": true,
                                                    "generalLedgerAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "costOfSaleAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "assetAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "membershipTypeId": 0,
                                                    "itemGroup": {
                                                        "rootId": 0,
                                                        "name": "string"
                                                    },
                                                    "displayName": "string",
                                                    "soldHours": 0,
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "serviceDate": "string",
                                                    "order": 0,
                                                    "businessUnit": {
                                                        "id": 0,
                                                        "name": "string"
                                                    },
                                                    "createdById": 0,
                                                    "displayInAmount": true,
                                                    "importId": "string",
                                                    "exportId": "string",
                                                    "inventoryStatus": "string",
                                                    "addOn": true,
                                                    "memberPrice": "string",
                                                    "technicianId": 0,
                                                    "installedEquipmentId": 0,
                                                    "estimateItemId": 0
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "active": true,
                                            "discountTotal": "string",
                                            "importId": "string",
                                            "exportId": "string",
                                            "materialSkuId": 0,
                                            "membershipId": 0,
                                            "paidOn": "string",
                                            "id": 0,
                                            "syncStatus": "string",
                                            "referenceNumber": "string",
                                            "invoiceDate": "string",
                                            "dueDate": "string",
                                            "subTotal": "string",
                                            "salesTax": "string",
                                            "salesTaxCode": {
                                                "id": 0,
                                                "name": "string",
                                                "taxRate": 0
                                            },
                                            "total": "string",
                                            "balance": "string",
                                            "invoiceType": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "customer": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "customerAddress": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "location": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "locationAddress": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "termName": "string",
                                            "createdBy": "string",
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "depositedOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "adjustmentToId": 0,
                                            "job": {
                                                "id": 0,
                                                "number": "string",
                                                "type": "string"
                                            },
                                            "projectId": 0,
                                            "royalty": {
                                                "status": "string",
                                                "date": "string",
                                                "sentOn": "string",
                                                "memo": "string"
                                            },
                                            "employeeInfo": {
                                                "id": 0,
                                                "name": "string",
                                                "modifiedOn": "string"
                                            },
                                            "commissionEligibilityDate": "string",
                                            "sentStatus": "NotSent",
                                            "reviewStatus": "NeedsReview",
                                            "assignedTo": {
                                                "id": 0,
                                                "name": "string"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/invoice-items": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for invoice items",
                "description": "Provides export feed for invoice items",
                "operationId": "Export_InvoiceItems",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Accounting.V2.ExportInvoiceItemResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "description": "string",
                                            "quantity": "string",
                                            "cost": "string",
                                            "totalCost": "string",
                                            "inventoryLocationId": 0,
                                            "inventoryLocation": "string",
                                            "price": "string",
                                            "type": "Service",
                                            "skuName": "string",
                                            "skuId": 0,
                                            "total": "string",
                                            "inventory": true,
                                            "taxable": true,
                                            "generalLedgerAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "costOfSaleAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "assetAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "membershipTypeId": 0,
                                            "itemGroup": {
                                                "rootId": 0,
                                                "name": "string"
                                            },
                                            "displayName": "string",
                                            "soldHours": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "serviceDate": "string",
                                            "order": 0,
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "createdById": 0,
                                            "displayInAmount": true,
                                            "importId": "string",
                                            "exportId": "string",
                                            "inventoryStatus": "string",
                                            "addOn": true,
                                            "memberPrice": "string",
                                            "technicianId": 0,
                                            "installedEquipmentId": 0,
                                            "estimateItemId": 0,
                                            "active": true,
                                            "invoiceId": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/payments": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for payments",
                "description": "Provides export feed for payments",
                "operationId": "Export_Payments",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Accounting.V2.ExportPaymentResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "syncStatus": "string",
                                            "referenceNumber": "string",
                                            "date": "string",
                                            "type": "string",
                                            "typeId": "string",
                                            "total": "string",
                                            "unappliedAmount": "string",
                                            "memo": "string",
                                            "customer": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "createdBy": "string",
                                            "generalLedgerAccount": {
                                                "id": 0,
                                                "name": "string",
                                                "number": "string",
                                                "type": "string",
                                                "detailType": "string"
                                            },
                                            "appliedTo": [
                                                {
                                                    "appliedId": 0,
                                                    "appliedTo": 0,
                                                    "appliedAmount": "string",
                                                    "appliedOn": "string",
                                                    "appliedBy": "string",
                                                    "appliedToReferenceNumber": "string"
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "authCode": "string",
                                            "checkNumber": "string",
                                            "modifiedOn": "string",
                                            "createdOn": "string",
                                            "active": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/inventory-bills": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for inventory bills",
                "description": "Provides export feed for inventory bills",
                "operationId": "Export_InventoryBills",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Accounting.V2.ExportInventoryBillResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "purchaseOrderId": 0,
                                            "syncStatus": "string",
                                            "referenceNumber": "string",
                                            "vendorNumber": "string",
                                            "summary": "string",
                                            "billDate": "string",
                                            "billAmount": "string",
                                            "taxAmount": "string",
                                            "shippingAmount": "string",
                                            "createdBy": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "termName": "string",
                                            "dueDate": "string",
                                            "shipToDescription": "string",
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "taxZone": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "vendor": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "shipTo": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "items": [
                                                {
                                                    "order": 0,
                                                    "name": "string",
                                                    "description": "string",
                                                    "quantity": "string",
                                                    "cost": "string",
                                                    "inventoryLocation": "string",
                                                    "serialNumber": "string",
                                                    "generalLedgerAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "costOfSaleAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "assetAccount": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "receiptItemId": 0,
                                                    "skuType": "string",
                                                    "skuCode": "string"
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "jobId": 0,
                                            "jobNumber": "string",
                                            "active": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/gl-accounts": {
            "get": {
                "tags": [
                    "GlAccounts"
                ],
                "summary": "Retrieves General Ledger accounts that match the given criteria",
                "description": "Retrieves General Ledger accounts that match the given criteria",
                "operationId": "GlAccounts_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Comma-delimited list of account IDs, maximum 50 items",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "names",
                        "in": "query",
                        "description": "Comma-delimited list of account names, maximum 50 items",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "numbers",
                        "in": "query",
                        "description": "Comma-delimited list of account numbers, maximum 50 items",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "Comma-delimited list of account types, maximum 50 items",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "subtypes",
                        "in": "query",
                        "description": "Comma-delimited list of account subtypes, maximum 50 items",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "A substring that must be contained in the account description",
                        "schema": {
                            "maxLength": 255,
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "description": "Account source\\\nValues: [Undefined, AccountingSystem, ManuallyCreated, PublicApi]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Accounting.V2.GeneralLedgerAccountSource"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Specify if only active accounts, only inactive accounts, or both, should be retrieved.\nBy default, only active accounts will be retrieved.\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "isIntacctGroup",
                        "in": "query",
                        "description": "Set to true to retrieve Intacct group accounts only",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "isIntacctBankAccount",
                        "in": "query",
                        "description": "Set to true to retrieve Intacct bank accounts only",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A collection of General Ledger accounts that match the given criteria.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.GlAccountExtendedResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "number": "string",
                                            "description": "string",
                                            "type": "string",
                                            "subtype": "string",
                                            "active": true,
                                            "isIntacctGroup": true,
                                            "isIntacctBankAccount": true,
                                            "source": "Undefined",
                                            "defaultAccountType": {},
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "GlAccounts"
                ],
                "summary": "Creates a new General Ledger account",
                "description": "Creates a new General Ledger account",
                "operationId": "GlAccounts_CreateAccount",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Accounting.V2.GlAccountCreateRequest"
                            },
                            "example": {
                                "name": "string",
                                "number": "string",
                                "description": "string",
                                "type": "string",
                                "subtype": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "New General Ledger account has been created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Accounting.V2.GlAccountExtendedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "name": "string",
                                    "number": "string",
                                    "description": "string",
                                    "type": "string",
                                    "subtype": "string",
                                    "active": true,
                                    "isIntacctGroup": true,
                                    "isIntacctBankAccount": true,
                                    "source": "Undefined",
                                    "defaultAccountType": {},
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Another General Ledger account with the same name already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/gl-accounts/{accountId}": {
            "get": {
                "tags": [
                    "GlAccounts"
                ],
                "summary": "Retrieves single General Ledger account by account id",
                "description": "Retrieves single General Ledger account by account id",
                "operationId": "GlAccounts_GetAccount",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Long integer id of the General Ledger account to be retrieved",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "General Ledger account data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Accounting.V2.GlAccountExtendedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "name": "string",
                                    "number": "string",
                                    "description": "string",
                                    "type": "string",
                                    "subtype": "string",
                                    "active": true,
                                    "isIntacctGroup": true,
                                    "isIntacctBankAccount": true,
                                    "source": "Undefined",
                                    "defaultAccountType": {},
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Active General Ledger account with this id is not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "GlAccounts"
                ],
                "summary": "Updates General Ledger account",
                "description": "This method can also deactivate the account, which acts as a temporary soft delete. There is no way to permanently delete an account.",
                "operationId": "GlAccounts_UpdateAccount",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Long integer id of the General Ledger account to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "General Ledger account data that must be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Accounting.V2.GlAccountUpdateRequest"
                            },
                            "example": {
                                "name": "string",
                                "number": "string",
                                "description": "string",
                                "type": "string",
                                "subtype": "string",
                                "active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated General Ledger account data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Accounting.V2.GlAccountExtendedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "name": "string",
                                    "number": "string",
                                    "description": "string",
                                    "type": "string",
                                    "subtype": "string",
                                    "active": true,
                                    "isIntacctGroup": true,
                                    "isIntacctBankAccount": true,
                                    "source": "Undefined",
                                    "defaultAccountType": {},
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Active General Ledger account with this id is not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "General Ledger account cannot be deactivated because it's in use",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/gl-accounts/types": {
            "get": {
                "tags": [
                    "GlAccounts"
                ],
                "summary": "Retrieves General Ledger account types that match the given criteria",
                "description": "Retrieves General Ledger account types that match the given criteria",
                "operationId": "GlAccounts_GetTypeList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Comma-delimited list of account type IDs, maximum 50 items",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "names",
                        "in": "query",
                        "description": "Comma-delimited list of account type names, maximum 50 items",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A collection of General Ledger account types that match the given criteria.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.GlAccountTypeResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "parentTypeId": 0,
                                            "name": "string",
                                            "active": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/inventory-bills": {
            "get": {
                "tags": [
                    "InventoryBills"
                ],
                "summary": "InventoryBills_GetList",
                "operationId": "InventoryBills_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "batchId",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "batchNumber",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "billNumber",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "businessUnitIds",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "customField.Fields",
                        "in": "query",
                        "description": "Dictionary of name-value pairs",
                        "schema": {
                            "maxProperties": 50,
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "nullable": true
                        }
                    },
                    {
                        "name": "customField.Operator",
                        "in": "query",
                        "description": "Operator to be used between the name-value pairs. Can be \"Or\" or \"And\", default is \"And\".\\\nValues: [And, Or]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Accounting.V2.LogicalOperator"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "schema": {
                            "type": "string",
[...]
