{
    "openapi": "3.0.1",
    "info": {
        "title": "Dispatch",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/dispatch/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/adcap/availability": {
            "post": {
                "tags": [
                    "AdaptiveCapacity"
                ],
                "summary": "Generates availability report.",
                "description": "Request must contain at least:\n1. start date [time] - UTC\n2. end date [time] - UTC\n3. xType - type of dimension used to generate columns/x-axis (e.g., \"BusinessHour\", \"ArrivalWindow\")\n4. JobDurationInMinutes - required, duration of the job in minutes\n5. Optional filters such as TechnicianIds, JobType (required in most cases), Skills, Zones, Business Unit\n6. Optional JobStartUtc - earliest allowable start time (UTC)\n            \nRows are **always technicians** — you cannot configure the Y-axis in this endpoint.\nColumns are defined by `xType`, typically business hours or arrival windows.\nThe endpoint returns one or more 2D grids, each representing a subset of the schedule:\n- `rowHeaders`: technician IDs and names\n- `columnHeaders`: time slots (with availability flags)\n- `table`: 2D array of cell objects indicating capacity and bookability\n            \nEach cell includes:\n- `total`: total minutes available in the time slot (e.g., 120 minutes for a 2-hour slot)\n- `assigned`: total minutes already assigned (can exceed total due to overlaps)\n- `booked`: minutes of unassigned jobs that could be booked\n- `done`: minutes of completed jobs\n- `isBookable`: whether a job of the specified duration can be scheduled to **start** in this slot\n- `jobStartUtc` / `jobEndUtc`: proposed booking window for this job (if bookable)\n            \nNotes:\n- `isBookable = true` means the job *can start* in this slot. It may extend into the next slot(s) if needed.\n- `columnHeader.isBookable = true` means **at least one technician** is available in that slot.\n- Job duration may span multiple slots if there’s enough cumulative time.\n            \nExample request:\n{\n  \"StartUtc\": \"2024-10-29\",\n  \"EndUtc\": \"2024-10-30\",\n  \"xType\": \"BusinessHour\",\n  \"JobDurationInMinutes\": 60,\n  \"Technicians\": [68136905, 21604928],\n  \"JobStartUtc\": \"2024-10-29T08:00:00Z\",\n  \"JobType\": \"Install\",\n  \"Skills\": [\"Plumbing\"],\n  \"Zones\": [\"Zone1\"]\n}\n            \nSimplified output:\n{\n  \"grids\": [{\n    \"rowHeaders\": [{\"id\": 1, \"name\": \"tech1\"}, {\"id\": 2, \"name\": \"tech2\"}],\n    \"columnHeaders\": [{\"id\": 101, \"name\": \"BH1\", \"isBookable\": true}, ...],\n    \"table\": [\n      [\n        {\"total\": 120, \"assigned\": 60, \"booked\": 0, \"done\": 0, \"isBookable\": true, \"jobStartUtc\": \"...\", \"jobEndUtc\": \"...\"},\n        ...\n      ],\n      ...\n    ]\n  }]\n}\n            \nThis format supports booking UIs and APIs that need to visualize tech availability across various dimensions of time.",
                "operationId": "Availability_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Capacity.V2.GetAvailabilityRequestArgs"
                            },
                            "example": {
                                "startUtc": "string",
                                "endUtc": "string",
                                "xType": {},
                                "startMinuteTtz": 0,
                                "endMinuteTtz": 0,
                                "arrivalWindows": [
                                    0
                                ],
                                "businessHours": [
                                    0
                                ],
                                "businessUnits": [
                                    0
                                ],
                                "businessUnitGroups": [
                                    0
                                ],
                                "jobPriorities": [
                                    "Low"
                                ],
                                "jobTypes": [
                                    0
                                ],
                                "jobTypeGroups": [
                                    0
                                ],
                                "shiftTypes": [
                                    "Scheduled"
                                ],
                                "skills": [
                                    0
                                ],
                                "tagTypes": [
                                    0
                                ],
                                "teams": [
                                    0
                                ],
                                "technicians": [
                                    0
                                ],
                                "technicianTypes": [
                                    "Unmanaged"
                                ],
                                "trades": [
                                    0
                                ],
                                "zones": [
                                    0
                                ],
                                "weekdays": [
                                    "Sunday"
                                ],
                                "useTenantSettings": true,
                                "jobDurationInMinutes": 0,
                                "existingJobAppointmentId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Capacity.V2.GetAvailabilityResponse"
                                },
                                "example": {
                                    "timeStamp": "string",
                                    "grids": [
                                        {
                                            "rowHeaders": [
                                                {
                                                    "index": 0,
                                                    "id": 0,
                                                    "name": "string",
                                                    "total": 0,
                                                    "assigned": 0,
                                                    "booked": 0,
                                                    "done": 0,
                                                    "startUtc": "string",
                                                    "endUtc": "string",
                                                    "isBookable": true,
                                                    "isAssignable": true,
                                                    "jobStartUtc": "string",
                                                    "jobEndUtc": "string"
                                                }
                                            ],
                                            "columnHeaders": [
                                                {
                                                    "index": 0,
                                                    "id": 0,
                                                    "name": "string",
                                                    "total": 0,
                                                    "assigned": 0,
                                                    "booked": 0,
                                                    "done": 0,
                                                    "startUtc": "string",
                                                    "endUtc": "string",
                                                    "isBookable": true,
                                                    "isAssignable": true,
                                                    "jobStartUtc": "string",
                                                    "jobEndUtc": "string"
                                                }
                                            ],
                                            "table": [
                                                [
                                                    {
                                                        "index": 0,
                                                        "id": 0,
                                                        "name": "string",
                                                        "total": 0,
                                                        "assigned": 0,
                                                        "booked": 0,
                                                        "done": 0,
                                                        "startUtc": "string",
                                                        "endUtc": "string",
                                                        "isBookable": true,
                                                        "isAssignable": true,
                                                        "jobStartUtc": "string",
                                                        "jobEndUtc": "string"
                                                    }
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input date range or required conditions are missing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/adcap/availability/slots": {
            "post": {
                "tags": [
                    "AdaptiveCapacity"
                ],
                "summary": "Returns a flattened list of bookable job slots based on technician availability.",
                "description": "Request arguments are the same as the availability endpoint:\n1. StartUtc / EndUtc – the date range to search (UTC)\n2. xType – defines the column/time dimension, e.g., \"BusinessHour\" or \"ArrivalWindow\"\n3. JobDurationInMinutes – required; how long the job is (in minutes)\n4. Optional filters such as TechnicianIds, JobType (recommended), Skills, Zones, or Business Unit\n5. Optional JobStartUtc – the earliest UTC time the job may begin\n            \nThis endpoint **does not return a table/grid**. Instead, it returns a **flattened list** of slots, each representing a window of time where the job can be booked and the technicians who are available to take it.\n            \n### Response Format\n            \n```json\n{\n  \"timeStamp\": \"2024-10-29T12:00:00Z\",\n  \"availableSlots\": [\n    {\n      \"slotStart\": \"2024-10-29T08:00:00Z\",\n      \"slotEnd\": \"2024-10-29T09:00:00Z\",\n      \"technicians\": [\n        {\n          \"technicianId\": 123,\n          \"technicianName\": \"John Doe\",\n          \"jobStart\": \"2024-10-29T08:00:00Z\",\n          \"jobEnd\": \"2024-10-29T09:00:00Z\"\n        },\n        ...\n      ]\n    },\n    ...\n  ]\n}\n```\n            \n### Notes:\n- `slotStart` and `slotEnd` represent a discrete scheduling slot (from the time-based xType).\n- Each technician listed within a slot is **individually bookable** for that time window.\n- `jobStart` / `jobEnd` reflect the exact start and end time that would be used when booking the job, which may differ from the slot boundaries (e.g., if the job spills into the next slot).\n- If no technicians are available in a slot, it will be excluded from the response.\n            \nThis output format is ideal for booking workflows, calendar UIs, or Schedule Assistant-type selectors that need a concise, per-slot list of options with assigned techs.",
                "operationId": "Availability_GetSlots",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Capacity.V2.GetAvailabilityRequestArgs"
                            },
                            "example": {
                                "startUtc": "string",
                                "endUtc": "string",
                                "xType": {},
                                "startMinuteTtz": 0,
                                "endMinuteTtz": 0,
                                "arrivalWindows": [
                                    0
                                ],
                                "businessHours": [
                                    0
                                ],
                                "businessUnits": [
                                    0
                                ],
                                "businessUnitGroups": [
                                    0
                                ],
                                "jobPriorities": [
                                    "Low"
                                ],
                                "jobTypes": [
                                    0
                                ],
                                "jobTypeGroups": [
                                    0
                                ],
                                "shiftTypes": [
                                    "Scheduled"
                                ],
                                "skills": [
                                    0
                                ],
                                "tagTypes": [
                                    0
                                ],
                                "teams": [
                                    0
                                ],
                                "technicians": [
                                    0
                                ],
                                "technicianTypes": [
                                    "Unmanaged"
                                ],
                                "trades": [
                                    0
                                ],
                                "zones": [
                                    0
                                ],
                                "weekdays": [
                                    "Sunday"
                                ],
                                "useTenantSettings": true,
                                "jobDurationInMinutes": 0,
                                "existingJobAppointmentId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Capacity.V2.GetAvailabilitySlotsResponse"
                                },
                                "example": {
                                    "timeStamp": "string",
                                    "availableSlots": [
                                        {
                                            "slotStart": "string",
                                            "slotEnd": "string",
                                            "technicians": [
                                                {
                                                    "technicianId": 0,
                                                    "technicianName": "string",
                                                    "jobStart": "string",
                                                    "jobEnd": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input date range or required conditions are missing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/gps-provider/{gps_provider}/gps-pings": {
            "post": {
                "tags": [
                    "Gps"
                ],
                "summary": "Creates new gps ping.",
                "description": "Creates new gps ping.",
                "operationId": "Gps_Create",
                "parameters": [
                    {
                        "name": "gps_provider",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Dispatch.V2.GpsPingCreateRequest"
                                }
                            },
                            "example": [
                                {
                                    "unitId": "string",
                                    "unitName": "string",
                                    "eventTime": "string",
                                    "latitude": 0,
                                    "longitude": 0,
                                    "speed": 0,
                                    "street": "string",
                                    "city": "string",
                                    "region": "string",
                                    "postalCode": "string",
                                    "message": "string",
                                    "externalId": "string",
                                    "isNew": true,
                                    "statusMessage": "string"
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Dispatch.V2.GpsPingResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "externalId": "string",
                                        "status": {},
                                        "message": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/appointment-assignments": {
            "get": {
                "tags": [
                    "AppointmentAssignments"
                ],
                "summary": "Gets a list of appointment assignments",
                "description": "Gets a list of appointment assignments",
                "operationId": "AppointmentAssignments_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "appointmentIds",
                        "in": "query",
                        "description": "Return appointment assignments for one or more appointments",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "jobId",
                        "in": "query",
                        "description": "Return appointment assignments for a single job",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, CreatedOn, ModifiedOn.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Dispatch.V2.AppointmentAssignmentResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "technicianId": 0,
                                            "technicianName": "string",
                                            "assignedById": 0,
                                            "assignedOn": "string",
                                            "status": {},
                                            "isPaused": true,
                                            "jobId": 0,
                                            "appointmentId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "active": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/appointment-assignments/assign-technicians": {
            "post": {
                "tags": [
                    "AppointmentAssignments"
                ],
                "summary": "Assigns the list of technicians to the appointment",
                "description": "Assigns the list of technicians to the appointment",
                "operationId": "AppointmentAssignments_AssignTechnicians",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.AssignTechniciansRequest"
                            },
                            "example": {
                                "jobAppointmentId": 0,
                                "technicianIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.AppointmentResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "jobId": 0,
                                    "appointmentNumber": "string",
                                    "start": "string",
                                    "end": "string",
                                    "arrivalWindowStart": "string",
                                    "arrivalWindowEnd": "string",
                                    "status": {},
                                    "specialInstructions": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/appointment-assignments/unassign-technicians": {
            "post": {
                "tags": [
                    "AppointmentAssignments"
                ],
                "summary": "Unassigns the list of technicians from the appointment",
                "description": "Unassigns the list of technicians from the appointment",
                "operationId": "AppointmentAssignments_UnassignTechnicians",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.UnassignTechniciansRequest"
                            },
                            "example": {
                                "jobAppointmentId": 0,
                                "technicianIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.AppointmentResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "jobId": 0,
                                    "appointmentNumber": "string",
                                    "start": "string",
                                    "end": "string",
                                    "arrivalWindowStart": "string",
                                    "arrivalWindowEnd": "string",
                                    "status": {},
                                    "specialInstructions": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/arrival-windows": {
            "get": {
                "tags": [
                    "ArrivalWindows"
                ],
                "summary": "ArrivalWindows_GetList",
                "operationId": "ArrivalWindows_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Dispatch.V2.ArrivalWindowResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "start": "string",
                                            "duration": "string",
                                            "businessUnitIds": [
                                                0
                                            ],
                                            "active": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ArrivalWindows"
                ],
                "summary": "ArrivalWindows_Create",
                "operationId": "ArrivalWindows_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.CreateArrivalWindowRequest"
                            },
                            "example": {
                                "start": "string",
                                "duration": "string",
                                "businessUnitIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "start": "string",
                                    "duration": "string",
                                    "businessUnitIds": [
                                        0
                                    ],
                                    "active": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/arrival-windows/{id}": {
            "get": {
                "tags": [
                    "ArrivalWindows"
                ],
                "summary": "ArrivalWindows_Get",
                "operationId": "ArrivalWindows_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "start": "string",
                                    "duration": "string",
                                    "businessUnitIds": [
                                        0
                                    ],
                                    "active": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ArrivalWindows"
                ],
                "summary": "ArrivalWindows_Update",
                "operationId": "ArrivalWindows_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.UpdateArrivalWindowRequest"
                            },
                            "example": {
                                "start": "string",
                                "duration": "string",
                                "businessUnitIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "start": "string",
                                    "duration": "string",
                                    "businessUnitIds": [
                                        0
                                    ],
                                    "active": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/arrival-windows/{id}/activated": {
            "put": {
                "tags": [
                    "ArrivalWindows"
                ],
                "summary": "ArrivalWindows_Activated",
                "operationId": "ArrivalWindows_Activated",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.SetArrivalWindowStatusRequest"
                            },
                            "example": {
                                "isActive": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/arrival-windows/configuration": {
            "get": {
                "tags": [
                    "ArrivalWindows"
                ],
                "summary": "ArrivalWindows_GetConfiguration",
                "operationId": "ArrivalWindows_GetConfiguration",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowConfigurationResponse"
                                },
                                "example": {
                                    "configuration": "StartTimeOfArrivalWindow"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ArrivalWindows"
                ],
                "summary": "ArrivalWindows_UpdatedConfiguration",
                "operationId": "ArrivalWindows_UpdatedConfiguration",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.UpdateArrivalWindowConfigurationRequest"
                            },
                            "example": {
                                "configuration": "StartTimeOfArrivalWindow"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowConfigurationResponse"
                                },
                                "example": {
                                    "configuration": "StartTimeOfArrivalWindow"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/business-hours": {
            "get": {
                "tags": [
                    "BusinessHour"
                ],
                "summary": "Gets the business hours.",
                "description": "Gets the business hours.",
                "operationId": "BusinessHour_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list with the business hours",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.BusinessHourModel"
                                },
                                "example": {
                                    "weekdays": [
                                        {
                                            "fromHour": 0,
                                            "toHour": 0
                                        }
                                    ],
                                    "saturday": [
                                        {
                                            "fromHour": 0,
                                            "toHour": 0
                                        }
                                    ],
                                    "sunday": [
                                        {
                                            "fromHour": 0,
                                            "toHour": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "BusinessHour"
                ],
                "summary": "BusinessHour_Create",
                "operationId": "BusinessHour_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.CreateBusinessHourRequest"
                            },
                            "example": {
                                "weekdays": [
                                    {
                                        "fromHour": 0,
                                        "toHour": 0
                                    }
                                ],
                                "saturday": [
                                    {
                                        "fromHour": 0,
                                        "toHour": 0
                                    }
                                ],
                                "sunday": [
                                    {
                                        "fromHour": 0,
                                        "toHour": 0
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.CreateBusinessHourResponse"
                                },
                                "example": {
                                    "weekdays": [
                                        {
                                            "fromHour": 0,
                                            "toHour": 0
                                        }
                                    ],
                                    "saturday": [
                                        {
                                            "fromHour": 0,
                                            "toHour": 0
                                        }
                                    ],
                                    "sunday": [
                                        {
                                            "fromHour": 0,
                                            "toHour": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/capacity": {
            "post": {
                "tags": [
                    "Capacity"
                ],
                "summary": "Capacity_GetList",
                "operationId": "Capacity_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.CapacityRequestArgs"
                            },
                            "example": {
                                "startsOnOrAfter": "string",
                                "endsOnOrBefore": "string",
                                "businessUnitIds": [
                                    0
                                ],
                                "jobTypeId": 0,
                                "skillBasedAvailability": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.CapacityResponse"
                                },
                                "example": {
                                    "timeStamp": "string",
                                    "availabilities": [
                                        {
                                            "start": "string",
                                            "end": "string",
                                            "startUtc": "string",
                                            "endUtc": "string",
                                            "businessUnitIds": [
                                                0
                                            ],
                                            "totalAvailability": 0,
                                            "openAvailability": 0,
                                            "technicians": [
                                                {
                                                    "id": 0,
                                                    "name": "string",
                                                    "status": {},
                                                    "hasRequiredSkills": true
                                                }
                                            ],
                                            "isAvailable": true,
                                            "isExceedingIdealBookingPercentage": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/appointment-assignments": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for appointment assignments",
                "description": "Provides export feed for appointment assignments",
                "operationId": "Export_AppointmentAssignments",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Dispatch.V2.ExportAppointmentAssignmentsResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "technicianId": 0,
                                            "technicianName": "string",
                                            "assignedById": 0,
                                            "assignedOn": "string",
                                            "status": {},
                                            "isPaused": true,
                                            "jobId": 0,
                                            "appointmentId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "active": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/non-job-appointments/{id}": {
            "get": {
                "tags": [
                    "NonJobAppointments"
                ],
                "summary": "NonJobAppointments_Get",
                "operationId": "NonJobAppointments_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.GetNonJobAppointmentResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "technicianId": 0,
                                    "start": "string",
                                    "name": "string",
                                    "duration": "string",
                                    "timesheetCodeId": 0,
                                    "summary": "string",
                                    "clearDispatchBoard": true,
                                    "clearTechnicianView": true,
                                    "removeTechnicianFromCapacityPlanning": true,
                                    "allDay": true,
                                    "showOnTechnicianSchedule": true,
                                    "active": true,
                                    "createdOn": "string",
                                    "createdById": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "NonJobAppointments"
                ],
                "summary": "Update an existing non-job appointment",
                "description": "Update an existing non-job appointment",
                "operationId": "NonJobAppointments_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dispatch.V2.NonJobAppointmentUpdateRequest"
                            },
                            "example": {
                                "technicianId": 0,
                                "start": "string",
                                "duration": "string",
                                "name": "string",
                                "timesheetCodeId": 0,
                                "summary": "string",
                                "clearDispatchBoard": true,
                                "clearTechnicianView": true,
                                "showOnTechnicianSchedule": true,
                                "removeTechnicianFromCapacityPlanning": true,
                                "allDay": true,
                                "repeat": true,
                                "countOccurrences": 0,
                                "interval": 0,
                                "frequency": {},
                                "endType": {},
                                "endOn": "string",
                                "daysOfWeek": "Monday, Wednesday, Friday"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.V2.GetNonJobAppointmentResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "technicianId": 0,
                                    "start": "string",
                                    "name": "string",
                                    "duration": "string",
                                    "timesheetCodeId": 0,
                                    "summary": "string",
                                    "clearDispatchBoard": true,
                                    "clearTechnicianView": true,
                                    "removeTechnicianFromCapacityPlanning": true,
                                    "allDay": true,
                                    "showOnTechnicianSchedule": true,
                                    "active": true,
                                    "createdOn": "string",
                                    "createdById": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "NonJobAppointments"
                ],
                "summary": "Delete non-job appointment",
                "description": "Delete non-job appointment",
                "operationId": "NonJobAppointments_Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dispatch.Contracts.NonJobAppointment.DeleteNonJobAppointmentResult"
                                },
                                "example": {
                                    "message": "string",
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/non-job-appointments": {
            "get": {
                "tags": [
                    "NonJobAppointments"
                ],
                "summary": "Gets a list of non-job appointments",
                "description": "Gets a list of non-job appointments",
                "operationId": "NonJobAppointments_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "technicianId",
                        "in": "query",
                        "description": "Unique id of the technician this non-job appointment applies to",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "startsOnOrAfter",
                        "in": "query",
                        "description": "When the Start of non-job appointment should be at or after",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "startsOnOrBefore",
                        "in": "query",
                        "description": "When the Start of non-job appointment should be at or before",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "timesheetCodeId",
                        "in": "query",
                        "description": "Unique Id of timesheet code must apply to",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "activeOnly",
                        "in": "query",
                        "description": "Whether the result should contains only active non-job appointments",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "showOnTechnicianSchedule",
                        "in": "query",
                        "description": "Whether the non-job appointment shows on the technicians schedule even if there is no timesheet",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
[...]
