{
    "openapi": "3.0.1",
    "info": {
        "title": "Inventory",
        "description": "Adjustments, purchase orders, purchase order markups, purchase order types, receipts, returns, return types, transfers, trucks, vendors, warehouses, inventory templates",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/inventory/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/adjustments": {
            "get": {
                "tags": [
                    "Adjustments"
                ],
                "summary": "Get a list of inventory adjustments",
                "description": "Get a list of inventory adjustments",
                "operationId": "Adjustments_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataApplicationGuid",
                        "in": "query",
                        "description": "If this guid is provided, external data corresponding to\nthis application guid will be returned.",
                        "schema": {
                            "type": "string",
                            "format": "guid",
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataKey",
                        "in": "query",
                        "description": "Performs lookup by external data key, 'externalDataValues' must also be provided.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataValues",
                        "in": "query",
                        "description": "Performs lookup by external data values (maximum 50), 'externalDataKey' must also be provided.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Number filter",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "referenceNumber",
                        "in": "query",
                        "description": "Reference number filter",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "batchId",
                        "in": "query",
                        "description": "BatchId filter",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "invoiceIds",
                        "in": "query",
                        "description": "Filter by a collection of invoice Ids",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "inventoryLocationIds",
                        "in": "query",
                        "description": "Filter by a collection of inventory location Ids",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "adjustmentTypes",
                        "in": "query",
                        "description": "Filter by a collection of adjustment types",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "businessUnitIds",
                        "in": "query",
                        "description": "Filter by a collection of business unit Ids",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "syncStatuses",
                        "in": "query",
                        "description": "Filter by a collection of sync statues",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "customFields.Fields",
                        "in": "query",
                        "description": "Collection of custom field pairs (name, value) to filter by",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "nullable": true
                        }
                    },
                    {
                        "name": "customFields.Operator",
                        "in": "query",
                        "description": "Can be \"Or\" or \"And\"\\\nValues: [And, Or]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Inventory.V2.LogicalOperator"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateOnOrAfter",
                        "in": "query",
                        "description": "Return adjustments with date on or after certain date/time",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateBefore",
                        "in": "query",
                        "description": "Return adjustments with date before certain date/time",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Inventory.V2.InventoryAdjustmentResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "number": "string",
                                            "referenceNumber": "string",
                                            "type": "string",
                                            "inventoryLocationId": 0,
                                            "businessUnitId": 0,
                                            "projectId": 0,
                                            "invoiceId": 0,
                                            "createdById": 0,
                                            "memo": "string",
                                            "date": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "batchId": 0,
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "syncStatus": {},
                                            "canceledReason": {},
                                            "canceledById": 0,
                                            "dateCanceled": "string",
                                            "externalData": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "description": "string",
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "name": "string",
                                                    "code": "string",
                                                    "quantity": 0,
                                                    "cost": 0,
                                                    "totalCost": 0,
                                                    "createdById": 0,
                                                    "active": true,
                                                    "budgetCodeId": 0,
                                                    "serialNumbers": [
                                                        {
                                                            "id": 0,
                                                            "number": "string"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/adjustments/{id}": {
            "patch": {
                "tags": [
                    "Adjustments"
                ],
                "summary": "Update an existing adjustment",
                "description": "Update an existing adjustment",
                "operationId": "Adjustments_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Adjustment Id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update Adjustment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Inventory.V2.UpdateAdjustmentRequest"
                            },
                            "example": {
                                "externalData": {
                                    "patchMode": {},
                                    "applicationGuid": "string",
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Id of the updated Adjustment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/adjustments/custom-fields": {
            "patch": {
                "tags": [
                    "Adjustments"
                ],
                "summary": "Update custom fields on adjustments",
                "description": "Update custom fields on adjustments",
                "operationId": "Adjustments_UpdateCustomFields",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Inventory.V2.CustomFieldUpdateRequest"
                            },
                            "example": {
                                "operations": [
                                    {
                                        "objectId": 0,
                                        "customFields": [
                                            {
                                                "name": "string",
                                                "value": "string"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/adjustments": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for adjustments",
                "description": "Provides export feed for adjustments",
                "operationId": "Export_Adjustments",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Inventory.V2.ExportAdjustmentsResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "number": "string",
                                            "referenceNumber": "string",
                                            "type": "string",
                                            "inventoryLocationId": 0,
                                            "businessUnitId": 0,
                                            "projectId": 0,
                                            "invoiceId": 0,
                                            "createdById": 0,
                                            "memo": "string",
                                            "date": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "batchId": 0,
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "syncStatus": {},
                                            "canceledReason": {},
                                            "canceledById": 0,
                                            "dateCanceled": "string",
                                            "externalData": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "description": "string",
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "name": "string",
                                                    "code": "string",
                                                    "quantity": 0,
                                                    "cost": 0,
                                                    "totalCost": 0,
                                                    "createdById": 0,
                                                    "active": true,
                                                    "budgetCodeId": 0,
                                                    "serialNumbers": [
                                                        {
                                                            "id": 0,
                                                            "number": "string"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/purchase-orders": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for purchase orders",
                "description": "Provides export feed for purchase orders",
                "operationId": "Export_PurchaseOrders",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Inventory.V2.ExportPurchaseOrdersResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "number": "string",
                                            "invoiceId": 0,
                                            "jobId": 0,
                                            "projectId": 0,
                                            "status": "string",
                                            "typeId": 0,
                                            "vendorId": 0,
                                            "technicianId": 0,
                                            "shipTo": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "businessUnitId": 0,
                                            "inventoryLocationId": 0,
                                            "batchId": 0,
                                            "budgetCodeId": 0,
                                            "vendorDocumentNumber": "string",
                                            "date": "string",
                                            "requiredOn": "string",
                                            "sentOn": "string",
                                            "receivedOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "total": 0,
                                            "tax": 0,
                                            "shipping": 0,
                                            "summary": "string",
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "description": "string",
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "skuName": "string",
                                                    "skuCode": "string",
                                                    "skuType": "string",
                                                    "vendorPartNumber": "string",
                                                    "quantity": 0,
                                                    "quantityReceived": 0,
                                                    "cost": 0,
                                                    "total": 0,
                                                    "serialNumbers": [
                                                        {
                                                            "id": 0,
                                                            "number": "string"
                                                        }
                                                    ],
                                                    "status": "string",
                                                    "chargeable": true,
                                                    "budgetCodeId": 0
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/returns": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for returns",
                "description": "Provides export feed for returns",
                "operationId": "Export_Returns",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Inventory.V2.ExportReturnsResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "number": "string",
                                            "referenceNumber": "string",
                                            "status": {},
                                            "vendorId": 0,
                                            "purchaseOrderId": 0,
                                            "jobId": 0,
                                            "projectId": 0,
                                            "budgetCodeId": 0,
                                            "businessUnitId": 0,
                                            "inventoryLocationId": 0,
                                            "createdById": 0,
                                            "memo": "string",
                                            "returnAmount": 0,
                                            "taxAmount": 0,
                                            "shippingAmount": 0,
                                            "returnDate": "string",
                                            "returnedOn": "string",
                                            "creditReceivedOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "batchId": 0,
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "syncStatus": {},
                                            "canceledById": 0,
                                            "canceledReason": {},
                                            "dateCanceled": "string",
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "description": "string",
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "name": "string",
                                                    "code": "string",
                                                    "quantity": 0,
                                                    "cost": 0,
                                                    "generalLedgerAccount": {
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "costOfSaleAccount": {
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "assetAccount": {
                                                        "name": "string",
                                                        "number": "string",
                                                        "type": "string",
                                                        "detailType": "string"
                                                    },
                                                    "serialNumbers": [
                                                        {
                                                            "id": 0,
                                                            "number": "string"
                                                        }
                                                    ],
                                                    "createdById": 0,
                                                    "active": true,
                                                    "receiptItemId": 0,
                                                    "budgetCodeId": 0
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "externalData": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/transfers": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for transfers",
                "description": "Provides export feed for transfers",
                "operationId": "Export_Transfers",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Inventory.V2.ExportTransfersResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "transferType": "string",
                                            "status": "string",
                                            "number": "string",
                                            "referenceNumber": "string",
                                            "fromLocationId": 0,
                                            "toLocationId": 0,
                                            "createdById": 0,
                                            "memo": "string",
                                            "date": "string",
                                            "pickedDate": "string",
                                            "receivedDate": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "batchId": 0,
                                            "batch": {
                                                "id": 0,
                                                "number": "string",
                                                "name": "string"
                                            },
                                            "syncStatus": {},
                                            "dateRequired": "string",
                                            "jobId": 0,
                                            "invoiceId": 0,
                                            "canceledById": 0,
                                            "canceledReason": {},
                                            "dateCanceled": "string",
                                            "active": true,
                                            "pickedById": 0,
                                            "receivedById": 0,
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "description": "string",
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "name": "string",
                                                    "code": "string",
                                                    "quantity": 0,
                                                    "quantityPicked": 0,
                                                    "cost": 0,
                                                    "totalCost": 0,
                                                    "serialNumbers": [
                                                        {
                                                            "id": 0,
                                                            "number": "string"
                                                        }
                                                    ],
                                                    "createdById": 0,
                                                    "active": true,
                                                    "budgetCodeId": 0
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "externalData": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/inventory-templates": {
            "get": {
                "tags": [
                    "InventoryTemplates"
                ],
                "summary": "Get a list of inventory template details",
                "description": "Get a list of inventory template details",
                "operationId": "InventoryTemplates_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of inventory template details including item details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Inventory.V2.InventoryTemplateResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "active": true,
                                            "type": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "isConsignment": true,
                                            "locationIds": [
                                                0
                                            ],
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "code": "string",
                                                    "description": "string",
                                                    "name": "string",
                                                    "skuType": "string",
                                                    "minQuantity": 0,
                                                    "maxQuantity": 0,
                                                    "memo": "string",
                                                    "unitOfMeasure": {
                                                        "name": "string",
                                                        "skuId": 0,
                                                        "skuType": "Service",
                                                        "quantity": 0,
                                                        "id": 0,
                                                        "unitOfMeasureBaseId": 0,
                                                        "newSkuConversionBatchId": 0,
                                                        "oldSkuConversionBatchId": 0,
                                                        "skuCode": "string",
                                                        "isUsedForPurchasing": true,
                                                        "vendors": [
                                                            {
                                                                "id": 0,
                                                                "procurementVendorId": 0,
                                                                "vendorPartNumber": "string",
                                                                "vendorDefaultUnit": true,
                                                                "cost": 0,
                                                                "active": true
                                                            }
                                                        ]
                                                    },
                                                    "isConsignment": true
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/purchase-orders": {
            "post": {
                "tags": [
                    "PurchaseOrders"
                ],
                "summary": "Create a new purchase order",
                "description": "Create a new purchase order",
                "operationId": "PurchaseOrders_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Inventory.V2.CreatePurchaseOrderRequest"
                            },
                            "example": {
                                "vendorId": 0,
                                "typeId": 0,
                                "businessUnitId": 0,
                                "inventoryLocationId": 0,
                                "jobId": 0,
                                "technicianId": 0,
                                "projectId": 0,
                                "budgetCodeId": 0,
                                "shipTo": {
                                    "description": "string",
                                    "address": {
                                        "street": "string",
                                        "unit": "string",
                                        "city": "string",
                                        "state": "string",
                                        "zip": "string",
                                        "country": "string"
                                    }
                                },
                                "vendorInvoiceNumber": "string",
                                "impactsTechnicianPayroll": true,
                                "memo": "string",
                                "date": "string",
                                "requiredOn": "string",
                                "tax": 0,
                                "shipping": 0,
                                "items": [
                                    {
                                        "skuId": 0,
                                        "description": "string",
                                        "vendorPartNumber": "string",
                                        "quantity": 0,
                                        "cost": 0,
                                        "budgetCodeId": 0
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "PurchaseOrders"
                ],
                "summary": "Get a list of purchase orders",
                "description": "Get a list of purchase orders",
                "operationId": "PurchaseOrders_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filters by PO status\n\\\nAvailable values are: Pending, Sent, PartiallyReceived, Received, Exported, Canceled",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Filters by PO number ",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "jobId",
                        "in": "query",
                        "description": "Filters by JobId associated with PO",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "jobIds",
                        "in": "query",
                        "description": "Filters by JobIds associated with PO",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "technicianId",
                        "in": "query",
                        "description": "Filter by TechnicianId associated with PO",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "Filter by ProjectId associated with PO",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateOnOrAfter",
                        "in": "query",
                        "description": "Return POs with date on or after certain date/time",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateBefore",
                        "in": "query",
                        "description": "Return POs with date before certain date/time",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sentOnOrAfter",
                        "in": "query",
                        "description": "Return POs sent on or after certain date/time",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sentBefore",
                        "in": "query",
                        "description": "Return POs sent before certain date/time",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Inventory.V2.PurchaseOrderResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "number": "string",
                                            "invoiceId": 0,
                                            "jobId": 0,
                                            "projectId": 0,
                                            "status": "string",
                                            "typeId": 0,
                                            "vendorId": 0,
                                            "technicianId": 0,
                                            "shipTo": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "businessUnitId": 0,
                                            "inventoryLocationId": 0,
                                            "batchId": 0,
                                            "budgetCodeId": 0,
                                            "vendorDocumentNumber": "string",
                                            "date": "string",
                                            "requiredOn": "string",
                                            "sentOn": "string",
                                            "receivedOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "total": 0,
                                            "tax": 0,
                                            "shipping": 0,
                                            "summary": "string",
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "description": "string",
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "skuName": "string",
                                                    "skuCode": "string",
                                                    "skuType": "string",
                                                    "vendorPartNumber": "string",
                                                    "quantity": 0,
                                                    "quantityReceived": 0,
                                                    "cost": 0,
                                                    "total": 0,
                                                    "serialNumbers": [
                                                        {
                                                            "id": 0,
                                                            "number": "string"
                                                        }
                                                    ],
                                                    "status": "string",
                                                    "chargeable": true,
                                                    "budgetCodeId": 0
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/purchase-orders/requests": {
            "get": {
                "tags": [
                    "PurchaseOrders"
                ],
                "summary": "Get a list of purchase order requests",
                "description": "Get a list of purchase order requests",
                "operationId": "PurchaseOrders_GetRequests",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "requestStatus",
                        "in": "query",
                        "description": "Filters by PO request status\nAvailable values are: PendingApproval, Rejected\\\nValues: [PendingApproval, Approved, Rejected]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Inventory.V2.PurchaseOrderRequestStatus"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "requestNumber",
                        "in": "query",
                        "description": "Filters by PO request number ",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "jobId",
                        "in": "query",
                        "description": "Filters by JobId associated with PO request",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "jobIds",
                        "in": "query",
                        "description": "Filters by JobIds associated with PO request",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "technicianId",
                        "in": "query",
                        "description": "Filter by TechnicianId associated with PO request",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "Filter by ProjectId associated with PO request",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateOnOrAfter",
                        "in": "query",
                        "description": "Return PO requests with date on or after certain date/time",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "dateBefore",
                        "in": "query",
                        "description": "Return PO requests with date before certain date/time",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Inventory.V2.PurchaseOrderRequestResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "requestNumber": "string",
                                            "requestStatus": "string",
                                            "invoiceId": 0,
                                            "jobId": 0,
                                            "projectId": 0,
                                            "typeId": 0,
                                            "vendorId": 0,
                                            "technicianId": 0,
                                            "shipTo": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string"
                                            },
                                            "businessUnitId": 0,
                                            "inventoryLocationId": 0,
                                            "batchId": 0,
                                            "vendorDocumentNumber": "string",
                                            "date": "string",
                                            "requiredOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "total": 0,
                                            "tax": 0,
                                            "shipping": 0,
                                            "summary": "string",
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "description": "string",
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "skuName": "string",
                                                    "skuCode": "string",
                                                    "skuType": "string",
                                                    "vendorPartNumber": "string",
                                                    "quantity": 0,
                                                    "quantityReceived": 0,
                                                    "cost": 0,
                                                    "total": 0,
                                                    "serialNumbers": [
                                                        {
                                                            "id": 0,
                                                            "number": "string"
                                                        }
                                                    ],
                                                    "status": "string",
                                                    "chargeable": true,
                                                    "budgetCodeId": 0
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
[...]
