{
    "openapi": "3.0.1",
    "info": {
        "title": "Memberships",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/memberships/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/memberships": {
            "get": {
                "tags": [
                    "CustomerMemberships"
                ],
                "summary": "Gets a list of customer memberships",
                "description": "Gets a list of customer memberships",
                "operationId": "CustomerMemberships_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "customerIds",
                        "in": "query",
                        "description": "Filters by customer IDs",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filters by membership status\\\nValues: [Active, Suspended, Expired, Canceled, Deleted]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Memberships.V2.MembershipStatus"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "description": "Format - int32. Filters by membership duration (in months); use null for ongoing memberships",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "billingFrequency",
                        "in": "query",
                        "description": "Filters by membership billing frequency\\\nValues: [OneTime, Monthly, EveryOtherMonth, Quarterly, BiAnnual, Annual]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Memberships.V2.MembershipRecurrenceType"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Memberships.V2.CustomerMembershipResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "createdOn": "string",
                                            "createdById": 0,
                                            "modifiedOn": "string",
                                            "followUpOn": "string",
                                            "cancellationDate": "string",
                                            "from": "string",
                                            "nextScheduledBillDate": "string",
                                            "to": "string",
                                            "billingFrequency": {},
                                            "renewalBillingFrequency": {},
                                            "status": {},
                                            "followUpStatus": {},
                                            "active": true,
                                            "initialDeferredRevenue": 0,
                                            "duration": 0,
                                            "renewalDuration": 0,
                                            "businessUnitId": 0,
                                            "customerId": 0,
                                            "membershipTypeId": 0,
                                            "activatedById": 0,
                                            "activatedFromId": 0,
                                            "billingTemplateId": 0,
                                            "cancellationBalanceInvoiceId": 0,
                                            "cancellationInvoiceId": 0,
                                            "followUpCustomStatusId": 0,
                                            "locationId": 0,
                                            "paymentMethodId": 0,
                                            "paymentTypeId": 0,
                                            "recurringLocationId": 0,
                                            "renewalMembershipTaskId": 0,
                                            "renewedById": 0,
                                            "soldById": 0,
                                            "customerPo": "string",
                                            "importId": "string",
                                            "memo": "string",
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/memberships/custom-fields": {
            "get": {
                "tags": [
                    "CustomerMemberships"
                ],
                "summary": "Gets a list of custom field types that apply to customer memberships",
                "description": "Gets a list of custom field types that apply to customer memberships",
                "operationId": "CustomerMemberships_GetCustomFields",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Memberships.V2.CustomFieldTypeResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "dataType": {},
                                            "dataTypeOptions": [
                                                "string"
                                            ],
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/memberships/{id}": {
            "get": {
                "tags": [
                    "CustomerMemberships"
                ],
                "summary": "Gets customer membership specified by ID",
                "description": "Gets customer membership specified by ID",
                "operationId": "CustomerMemberships_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. Customer membership ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Memberships.V2.CustomerMembershipResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "createdOn": "string",
                                    "createdById": 0,
                                    "modifiedOn": "string",
                                    "followUpOn": "string",
                                    "cancellationDate": "string",
                                    "from": "string",
                                    "nextScheduledBillDate": "string",
                                    "to": "string",
                                    "billingFrequency": {},
                                    "renewalBillingFrequency": {},
                                    "status": {},
                                    "followUpStatus": {},
                                    "active": true,
                                    "initialDeferredRevenue": 0,
                                    "duration": 0,
                                    "renewalDuration": 0,
                                    "businessUnitId": 0,
                                    "customerId": 0,
                                    "membershipTypeId": 0,
                                    "activatedById": 0,
                                    "activatedFromId": 0,
                                    "billingTemplateId": 0,
                                    "cancellationBalanceInvoiceId": 0,
                                    "cancellationInvoiceId": 0,
                                    "followUpCustomStatusId": 0,
                                    "locationId": 0,
                                    "paymentMethodId": 0,
                                    "paymentTypeId": 0,
                                    "recurringLocationId": 0,
                                    "renewalMembershipTaskId": 0,
                                    "renewedById": 0,
                                    "soldById": 0,
                                    "customerPo": "string",
                                    "importId": "string",
                                    "memo": "string",
                                    "customFields": [
                                        {
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer membership not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "CustomerMemberships"
                ],
                "summary": "Updates specified customer membership in \"patch\" mode",
                "description": "Updates specified customer membership in \"patch\" mode",
                "operationId": "CustomerMemberships_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. Customer membership ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Customer membership update request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Memberships.V2.CustomerMembershipUpdateRequest"
                            },
                            "example": {
                                "businessUnitId": 0,
                                "nextScheduledBillDate": "string",
                                "status": {},
                                "memo": "string",
                                "from": "string",
                                "to": "string",
                                "soldById": 0,
                                "billingTemplateId": 0,
                                "locationId": 0,
                                "recurringServiceAction": {},
                                "recurringLocationId": 0,
                                "paymentMethodId": 0,
                                "paymentTypeId": 0,
                                "renewalMembershipTaskId": 0,
                                "initialDeferredRevenue": 0,
                                "cancellationBalanceInvoiceId": 0,
                                "cancellationInvoiceId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer membership not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/memberships/{id}/status-changes": {
            "get": {
                "tags": [
                    "CustomerMemberships"
                ],
                "summary": "Gets status changes for the given customer membership",
                "description": "Gets status changes for the given customer membership",
                "operationId": "CustomerMemberships_GetStatusChanges",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. Customer membership ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Memberships.V2.CustomerMembershipStatusChangeItemResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "id": 0,
                                        "oldStatus": {},
                                        "newStatus": {},
                                        "note": "string",
                                        "createdOn": "string",
                                        "createdById": 0
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer membership not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/memberships/sale": {
            "post": {
                "tags": [
                    "CustomerMemberships"
                ],
                "summary": "Creates membership sale invoice",
                "description": "Creates membership sale invoice",
                "operationId": "CustomerMemberships_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Memberships.V2.MembershipSaleInvoiceCreateRequest"
                            },
                            "example": {
                                "customerId": 0,
                                "businessUnitId": 0,
                                "saleTaskId": 0,
                                "durationBillingId": 0,
                                "locationId": 0,
                                "recurringServiceAction": {},
                                "recurringLocationId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Memberships.V2.MembershipSaleInvoiceCreateResponse"
                                },
                                "example": {
                                    "invoiceId": 0,
                                    "customerMembershipId": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/membership-types": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for membership types",
                "description": "Provides export feed for membership types",
                "operationId": "Export_MembershipTypes",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Memberships.V2.ExportMembershipTypeResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "createdOn": "string",
                                            "createdById": 0,
                                            "modifiedOn": "string",
                                            "importId": "string",
                                            "billingTemplateId": 0,
                                            "durationBilling": [
                                                {
                                                    "duration": 0,
                                                    "billingFrequency": {}
                                                }
                                            ],
                                            "name": "string",
                                            "displayName": "string",
                                            "active": true,
                                            "discountMode": {},
                                            "locationTarget": {},
                                            "revenueRecognitionMode": {},
                                            "autoCalculateInvoiceTemplates": true,
                                            "useMembershipPricingTable": true,
                                            "showMembershipSavings": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/recurring-service-types": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for recurring service types",
                "description": "Provides export feed for recurring service types",
                "operationId": "Export_RecurringServiceTypes",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Memberships.V2.ExportRecurringServiceTypeResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "createdOn": "string",
                                            "createdById": 0,
                                            "modifiedOn": "string",
                                            "active": true,
                                            "recurrenceType": {},
                                            "recurrenceInterval": 0,
                                            "recurrenceMonths": [
                                                "January"
                                            ],
                                            "durationType": {},
                                            "durationLength": 0,
                                            "invoiceTemplateId": 0,
                                            "businessUnitId": 0,
                                            "jobTypeId": 0,
                                            "priority": {},
                                            "campaignId": 0,
                                            "jobSummary": "string",
                                            "name": "string",
                                            "importId": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/memberships": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for customer memberships",
                "description": "Provides export feed for customer memberships",
                "operationId": "Export_Memberships",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Memberships.V2.ExportCustomerMembershipResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "createdOn": "string",
                                            "createdById": 0,
                                            "modifiedOn": "string",
                                            "followUpOn": "string",
                                            "cancellationDate": "string",
                                            "from": "string",
                                            "nextScheduledBillDate": "string",
                                            "to": "string",
                                            "billingFrequency": {},
                                            "renewalBillingFrequency": {},
                                            "status": {},
                                            "followUpStatus": {},
                                            "active": true,
                                            "initialDeferredRevenue": 0,
                                            "duration": 0,
                                            "renewalDuration": 0,
                                            "businessUnitId": 0,
                                            "customerId": 0,
                                            "membershipTypeId": 0,
                                            "activatedById": 0,
                                            "activatedFromId": 0,
                                            "billingTemplateId": 0,
                                            "cancellationBalanceInvoiceId": 0,
                                            "cancellationInvoiceId": 0,
                                            "followUpCustomStatusId": 0,
                                            "locationId": 0,
                                            "paymentMethodId": 0,
                                            "paymentTypeId": 0,
                                            "recurringLocationId": 0,
                                            "renewalMembershipTaskId": 0,
                                            "renewedById": 0,
                                            "soldById": 0,
                                            "customerPo": "string",
                                            "importId": "string",
                                            "memo": "string",
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/invoice-templates": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for invoice templates",
                "description": "Provides export feed for invoice templates",
                "operationId": "Export_InvoiceTemplates",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Memberships.V2.ExportInvoiceTemplateResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "createdOn": "string",
                                            "createdById": 0,
                                            "modifiedOn": "string",
                                            "active": true,
                                            "total": 0,
                                            "isSettingsTemplate": true,
                                            "importId": "string",
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "skuType": {},
                                                    "quantity": 0,
                                                    "unitPrice": 0,
                                                    "isAddOn": true,
                                                    "importId": "string",
                                                    "workflowActionItemId": 0,
                                                    "description": "string",
                                                    "cost": 0,
                                                    "hours": 0
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/recurring-services": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for recurring services",
                "description": "Provides export feed for recurring services",
                "operationId": "Export_LocationRecurringServices",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Memberships.V2.ExportLocationRecurringServiceResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "active": true,
                                            "createdOn": "string",
                                            "createdById": 0,
                                            "modifiedOn": "string",
                                            "importId": "string",
                                            "membershipId": 0,
                                            "locationId": 0,
                                            "recurringServiceTypeId": 0,
                                            "durationType": {},
                                            "durationLength": 0,
                                            "from": "string",
                                            "to": "string",
                                            "memo": "string",
                                            "invoiceTemplateId": 0,
                                            "invoiceTemplateForFollowingYearsId": 0,
                                            "firstVisitComplete": true,
                                            "activatedFromId": 0,
                                            "allocation": 0,
                                            "businessUnitId": 0,
                                            "jobTypeId": 0,
                                            "campaignId": 0,
                                            "priority": {},
                                            "jobSummary": "string",
                                            "recurrenceType": {},
                                            "recurrenceInterval": 0,
                                            "recurrenceMonths": [
                                                "January"
                                            ],
                                            "recurrenceDaysOfWeek": [
                                                "Sunday"
                                            ],
                                            "recurrenceWeek": {},
                                            "recurrenceDayOfNthWeek": {},
                                            "recurrenceDaysOfMonth": [
                                                0
                                            ],
                                            "jobStartTime": "string",
                                            "estimatedPayrollCost": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/recurring-service-events": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for recurring service events",
                "description": "Provides export feed for recurring service events",
                "operationId": "Export_LocationRecurringServiceEvents",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Memberships.V2.ExportLocationRecurringServiceEventResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "locationRecurringServiceId": 0,
                                            "locationRecurringServiceName": "string",
                                            "membershipId": 0,
                                            "membershipName": "string",
                                            "status": {},
                                            "date": "string",
                                            "createdOn": "string",
                                            "jobId": 0,
                                            "createdById": 0,
                                            "modifiedOn": "string",
                                            "active": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/membership-status-changes": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for customer membership status changes",
                "description": "Provides export feed for customer membership status changes",
                "operationId": "Export_MembershipStatusChanges",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Memberships.V2.ExportCustomerMembershipStatusChangesResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "oldStatus": {},
                                            "newStatus": {},
                                            "note": "string",
                                            "createdOn": "string",
                                            "createdById": 0,
                                            "membershipId": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/invoice-templates": {
            "get": {
                "tags": [
                    "InvoiceTemplates"
                ],
                "summary": "Gets a list of invoice templates by given IDs",
                "description": "Please note this endpoint does not allow to enumerate all invoice templates.\nUse the Customer Membership endpoint (for billing template) or\nRecurring Service endpoint (for invoice template) to get invoice template IDs.",
                "operationId": "InvoiceTemplates_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Memberships.V2.InvoiceTemplateResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "createdOn": "string",
                                            "createdById": 0,
                                            "modifiedOn": "string",
                                            "active": true,
                                            "total": 0,
                                            "isSettingsTemplate": true,
                                            "importId": "string",
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "skuId": 0,
                                                    "skuType": {},
                                                    "quantity": 0,
                                                    "unitPrice": 0,
                                                    "isAddOn": true,
                                                    "importId": "string",
                                                    "workflowActionItemId": 0,
                                                    "description": "string",
                                                    "cost": 0,
                                                    "hours": 0
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "InvoiceTemplates"
                ],
                "summary": "Creates new invoice template",
                "description": "Creates new invoice template",
                "operationId": "InvoiceTemplates_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Memberships.V2.InvoiceTemplateCreateRequest"
                            },
                            "example": {
                                "items": [
                                    {
                                        "skuId": 0,
                                        "quantity": 0,
                                        "unitPrice": 0,
                                        "isAddOn": true,
                                        "workflowActionItemId": 0,
                                        "description": "string",
                                        "cost": 0,
                                        "hours": 0
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/invoice-templates/{id}": {
            "get": {
                "tags": [
                    "InvoiceTemplates"
                ],
                "summary": "Gets invoice template specified by ID",
                "description": "Gets invoice template specified by ID",
                "operationId": "InvoiceTemplates_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. Invoice template ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Memberships.V2.InvoiceTemplateResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "name": "string",
                                    "createdOn": "string",
                                    "createdById": 0,
                                    "modifiedOn": "string",
                                    "active": true,
                                    "total": 0,
                                    "isSettingsTemplate": true,
                                    "importId": "string",
                                    "items": [
                                        {
                                            "id": 0,
                                            "skuId": 0,
                                            "skuType": {},
                                            "quantity": 0,
                                            "unitPrice": 0,
                                            "isAddOn": true,
                                            "importId": "string",
                                            "workflowActionItemId": 0,
                                            "description": "string",
                                            "cost": 0,
                                            "hours": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Invoice template not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "InvoiceTemplates"
                ],
                "summary": "Updates specified invoice template in \"patch\" mode",
                "description": "Updates specified invoice template in \"patch\" mode",
                "operationId": "InvoiceTemplates_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. Invoice template ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Invoice template update request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Memberships.V2.InvoiceTemplateUpdateRequest"
                            },
                            "example": {
                                "name": "string",
                                "createdOn": "string",
                                "createdById": 0,
                                "active": true,
                                "items": [
                                    {
                                        "id": 0,
                                        "skuId": 0,
                                        "quantity": 0,
                                        "unitPrice": 0,
                                        "isAddOn": true,
                                        "description": "string",
                                        "cost": 0,
                                        "hours": 0
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Invoice template not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/recurring-service-events": {
            "get": {
                "tags": [
                    "LocationRecurringServiceEvents"
                ],
                "summary": "Gets a list of recurring service events",
                "description": "Gets a list of recurring service events",
                "operationId": "LocationRecurringServiceEvents_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "locationId",
                        "in": "query",
                        "description": "Format - int64. Location ID ",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "jobId",
                        "in": "query",
                        "description": "Format - int64. Job ID ",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Follow up status \\\nValues: [NotAttempted, Unreachable, Contacted, Won, Dismissed]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Memberships.V2.OpportunityStatus"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Memberships.V2.LocationRecurringServiceEventResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "locationRecurringServiceId": 0,
                                            "locationRecurringServiceName": "string",
                                            "membershipId": 0,
                                            "membershipName": "string",
                                            "status": {},
                                            "date": "string",
                                            "createdOn": "string",
                                            "jobId": 0,
                                            "createdById": 0,
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/recurring-service-events/{id}/mark-complete": {
            "post": {
                "tags": [
                    "LocationRecurringServiceEvents"
                ],
                "summary": "Marks the specified recurring service event as complete",
                "description": "Marking an event as complete links the job with provided JobID to the given Location Recurring Service Event.\nIt will also copy over invoice items to the Job Invoice corresponding to the Invoice Template of the\nLocation Recurring Service the Event was generated from.",
                "operationId": "LocationRecurringServiceEvents_MarkComplete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. Recurring service event ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Recurring service event status update request",
                    "content": {
                        "application/json": {
[...]
