{
    "openapi": "3.0.1",
    "info": {
        "title": "Pricebook",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/pricebook/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/clientspecificpricing": {
            "get": {
                "tags": [
                    "ClientSpecificPricing"
                ],
                "summary": "ClientSpecificPricing_GetAllRateSheets",
                "operationId": "ClientSpecificPricing_GetAllRateSheets",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "searchTerm",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Values: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Estimates.V2.ClientSpecificPricingResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "exceptions": [
                                                {
                                                    "skuId": 0,
                                                    "skuType": "Service",
                                                    "value": 0,
                                                    "valueType": "Percent"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/clientspecificpricing/{rateSheetId}": {
            "patch": {
                "tags": [
                    "ClientSpecificPricing"
                ],
                "summary": "ClientSpecificPricing_UpdateRateSheet",
                "operationId": "ClientSpecificPricing_UpdateRateSheet",
                "parameters": [
                    {
                        "name": "rateSheetId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Estimates.V2.UpdateClientSpecificPricingRequest"
                            },
                            "example": {
                                "exceptions": [
                                    {
                                        "skuId": 0,
                                        "value": 0,
                                        "valueType": "Percent"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Estimates.V2.UpdateClientSpecificPricingResponse"
                                },
                                "example": {
                                    "exceptions": [
                                        {
                                            "skuId": 0,
                                            "value": 0,
                                            "valueType": "Percent"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "GET the categories in your pricebook",
                "description": "GET the categories in your pricebook",
                "operationId": "Categories_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, Name.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "categoryType",
                        "in": "query",
                        "description": "Category type\\\nValues: [Services, Materials]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Pricebook.V2.CategoryType"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Pricebook.V2.CategoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Post to add a new category to your pricebook",
                "description": "Post to add a new category to your pricebook",
                "operationId": "Categories_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pricebook.V2.CategoryCreateRequest"
                            },
                            "example": {
                                "name": "string",
                                "active": true,
                                "description": "string",
                                "parentId": 0,
                                "position": 0,
                                "image": "string",
                                "categoryType": {},
                                "businessUnitIds": [
                                    0
                                ],
                                "skuImages": [
                                    "string"
                                ],
                                "skuVideos": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The entity has been created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pricebook.V2.CategoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Gets category details",
                "description": "Gets category details",
                "operationId": "Categories_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id of the service you are requesting",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pricebook.V2.CategoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Categories"
                ],
                "summary": "Edits an existing category in your pricebook",
                "description": "Edits an existing category in your pricebook",
                "operationId": "Categories_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique id for the SKU is modified",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pricebook.V2.CategoryUpdateRequest"
                            },
                            "example": {
                                "name": "string",
                                "active": true,
                                "description": "string",
                                "parentId": 0,
                                "position": 0,
                                "image": "string",
                                "categoryType": {},
                                "businessUnitIds": [
                                    0
                                ],
                                "skuImages": [
                                    "string"
                                ],
                                "skuVideos": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pricebook.V2.CategoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Deletes an existing category from your pricebook",
                "description": "Deletes an existing category from your pricebook",
                "operationId": "Categories_Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the SKU you are deleting",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The request has succeeded, no content to return"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/discounts-and-fees": {
            "get": {
                "tags": [
                    "DiscountAndFees"
                ],
                "summary": "Get data on all of the discounts or fees in the pricebook.",
                "description": "Get data on all of the discounts or fees in the pricebook.",
                "operationId": "DiscountAndFees_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, Code, DisplayName, CreatedOn, ModifiedOn, Price, MemberPrice, AddOnPrice, AddOnMemberPrice, MaterialsCost, PrimaryVendor, Cost, Manufacturer, Priority.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataApplicationGuid",
                        "in": "query",
                        "description": "Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided",
                        "schema": {
                            "type": "string",
                            "format": "guid",
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataKey",
                        "in": "query",
                        "description": "Allows filtering by external data key",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataValues",
                        "in": "query",
                        "description": "Allows filtering by external data values",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Pricebook.V2.DiscountAndFeesResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "type": {},
                                            "code": "string",
                                            "displayName": "string",
                                            "description": "string",
                                            "amountType": {},
                                            "amount": 0,
                                            "limit": 0,
                                            "taxable": true,
                                            "categories": [
                                                0
                                            ],
                                            "hours": 0,
                                            "assets": [
                                                {
                                                    "alias": "string",
                                                    "fileName": "string",
                                                    "isDefault": true,
                                                    "type": {},
                                                    "url": "string"
                                                }
                                            ],
                                            "account": "string",
                                            "crossSaleGroup": "string",
                                            "active": true,
                                            "bonus": 0,
                                            "commissionBonus": 0,
                                            "paysCommission": true,
                                            "excludeFromPayroll": true,
                                            "externalData": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "budgetCostCode": "string",
                                            "budgetCostType": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "DiscountAndFees"
                ],
                "summary": "Post to add a new discount or fee to your pricebook",
                "description": "Post to add a new discount or fee to your pricebook",
                "operationId": "DiscountAndFees_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pricebook.V2.DiscountAndFeesCreateRequest"
                            },
                            "example": {
                                "type": {},
                                "code": "string",
                                "displayName": "string",
                                "description": "string",
                                "amountType": {},
                                "amount": 0,
                                "limit": 0,
                                "taxable": true,
                                "categories": [
                                    0
                                ],
                                "hours": 0,
                                "assets": [
                                    {
                                        "type": {},
                                        "alias": "string",
                                        "url": "string",
                                        "isDefault": true
                                    }
                                ],
                                "account": "string",
                                "intacctGlGroupAccount": "string",
                                "crossSaleGroup": "string",
                                "active": true,
                                "bonus": 0,
                                "commissionBonus": 0,
                                "paysCommission": true,
                                "excludeFromPayroll": true,
                                "externalData": {
                                    "applicationGuid": "string",
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ]
                                },
                                "budgetCostCode": "string",
                                "budgetCostType": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The entity has been created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pricebook.V2.DiscountAndFeesResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "type": {},
                                    "code": "string",
                                    "displayName": "string",
                                    "description": "string",
                                    "amountType": {},
                                    "amount": 0,
                                    "limit": 0,
                                    "taxable": true,
                                    "categories": [
                                        0
                                    ],
                                    "hours": 0,
                                    "assets": [
                                        {
                                            "alias": "string",
                                            "fileName": "string",
                                            "isDefault": true,
                                            "type": {},
                                            "url": "string"
                                        }
                                    ],
                                    "account": "string",
                                    "crossSaleGroup": "string",
                                    "active": true,
                                    "bonus": 0,
                                    "commissionBonus": 0,
                                    "paysCommission": true,
                                    "excludeFromPayroll": true,
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "budgetCostCode": "string",
                                    "budgetCostType": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/discounts-and-fees/{id}": {
            "get": {
                "tags": [
                    "DiscountAndFees"
                ],
                "summary": "Get details if a discount or fees in the pricebook.",
                "description": "Get details if a discount or fees in the pricebook.",
                "operationId": "DiscountAndFees_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id of the discount and fee you are requesting",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "externalDataApplicationGuid",
                        "in": "query",
                        "description": "Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided.",
                        "schema": {
                            "type": "string",
                            "format": "guid",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pricebook.V2.DiscountAndFeesResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "type": {},
                                    "code": "string",
                                    "displayName": "string",
                                    "description": "string",
                                    "amountType": {},
                                    "amount": 0,
                                    "limit": 0,
                                    "taxable": true,
                                    "categories": [
                                        0
                                    ],
                                    "hours": 0,
                                    "assets": [
                                        {
                                            "alias": "string",
                                            "fileName": "string",
                                            "isDefault": true,
                                            "type": {},
                                            "url": "string"
                                        }
                                    ],
                                    "account": "string",
                                    "crossSaleGroup": "string",
                                    "active": true,
                                    "bonus": 0,
                                    "commissionBonus": 0,
                                    "paysCommission": true,
                                    "excludeFromPayroll": true,
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "budgetCostCode": "string",
                                    "budgetCostType": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "DiscountAndFees"
                ],
                "summary": "Edit an existing item in your pricebook",
                "description": "Edit an existing item in your pricebook",
                "operationId": "DiscountAndFees_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique id for the SKU is modified",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pricebook.V2.DiscountAndFeesUpdateRequest"
                            },
                            "example": {
                                "type": {},
                                "code": "string",
                                "displayName": "string",
                                "description": "string",
                                "amountType": {},
                                "amount": 0,
                                "intacctGlGroupAccount": "string",
                                "limit": 0,
                                "taxable": true,
                                "categories": [
                                    0
                                ],
                                "hours": 0,
                                "assets": [
                                    {
                                        "type": {},
                                        "alias": "string",
                                        "url": "string",
                                        "isDefault": true
                                    }
                                ],
                                "account": "string",
                                "crossSaleGroup": "string",
                                "active": true,
                                "bonus": 0,
                                "commissionBonus": 0,
                                "paysCommission": true,
                                "excludeFromPayroll": true,
                                "externalData": {
                                    "patchMode": {},
                                    "applicationGuid": "string",
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ]
                                },
                                "budgetCostCode": "string",
                                "budgetCostType": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pricebook.V2.DiscountAndFeesResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "type": {},
                                    "code": "string",
                                    "displayName": "string",
                                    "description": "string",
                                    "amountType": {},
                                    "amount": 0,
                                    "limit": 0,
                                    "taxable": true,
                                    "categories": [
                                        0
                                    ],
                                    "hours": 0,
                                    "assets": [
                                        {
                                            "alias": "string",
                                            "fileName": "string",
                                            "isDefault": true,
                                            "type": {},
                                            "url": "string"
                                        }
                                    ],
                                    "account": "string",
                                    "crossSaleGroup": "string",
                                    "active": true,
                                    "bonus": 0,
                                    "commissionBonus": 0,
                                    "paysCommission": true,
                                    "excludeFromPayroll": true,
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "budgetCostCode": "string",
                                    "budgetCostType": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "DiscountAndFees"
                ],
                "summary": "Deletes a discount or fee from your pricebook",
                "description": "Deletes a discount or fee from your pricebook",
                "operationId": "DiscountAndFees_Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the SKU you are deleting",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The request has succeeded, no content to return"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/equipment": {
            "get": {
                "tags": [
                    "Equipment"
                ],
                "summary": "Get data on all of the equipment in the pricebook.",
                "description": "Get data on all of the equipment in the pricebook.",
                "operationId": "Equipment_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, Code, DisplayName, CreatedOn, ModifiedOn, Price, MemberPrice, AddOnPrice, AddOnMemberPrice, MaterialsCost, PrimaryVendor, Cost, Manufacturer, Priority.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataApplicationGuid",
                        "in": "query",
                        "description": "Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided",
                        "schema": {
                            "type": "string",
                            "format": "guid",
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataKey",
                        "in": "query",
                        "description": "Allows filtering by external data key",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataValues",
                        "in": "query",
                        "description": "Allows filtering by external data values",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Pricebook.V2.EquipmentResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "code": "string",
                                            "displayName": "string",
                                            "description": "string",
                                            "active": true,
                                            "price": 0,
                                            "memberPrice": 0,
                                            "addOnPrice": 0,
                                            "addOnMemberPrice": 0,
                                            "manufacturer": "string",
                                            "model": "string",
                                            "manufacturerWarranty": {
                                                "duration": 0,
                                                "description": "string"
                                            },
                                            "serviceProviderWarranty": {
                                                "duration": 0,
                                                "description": "string"
                                            },
                                            "categories": [
                                                0
                                            ],
                                            "assets": [
                                                {
                                                    "alias": "string",
                                                    "fileName": "string",
                                                    "isDefault": true,
                                                    "type": {},
                                                    "url": "string"
                                                }
                                            ],
                                            "recommendations": [
                                                {
                                                    "skuId": 0,
                                                    "type": {}
                                                }
                                            ],
                                            "upgrades": [
                                                0
                                            ],
                                            "equipmentMaterials": [
                                                {
                                                    "skuId": 0,
                                                    "quantity": 0
                                                }
                                            ],
                                            "primaryVendor": {
                                                "id": 0,
                                                "vendorName": "string",
                                                "vendorId": 0,
                                                "memo": "string",
                                                "vendorPart": "string",
                                                "cost": 0,
                                                "active": true,
                                                "primarySubAccount": {
                                                    "id": 0,
                                                    "cost": 0,
                                                    "accountName": "string"
                                                },
                                                "otherSubAccounts": [
                                                    {
                                                        "id": 0,
                                                        "cost": 0,
                                                        "accountName": "string"
                                                    }
                                                ]
                                            },
                                            "otherVendors": [
                                                {
                                                    "id": 0,
                                                    "vendorName": "string",
                                                    "vendorId": 0,
                                                    "memo": "string",
                                                    "vendorPart": "string",
                                                    "cost": 0,
                                                    "active": true,
                                                    "primarySubAccount": {
                                                        "id": 0,
                                                        "cost": 0,
                                                        "accountName": "string"
                                                    },
                                                    "otherSubAccounts": [
                                                        {
                                                            "id": 0,
                                                            "cost": 0,
                                                            "accountName": "string"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "account": "string",
                                            "costOfSaleAccount": "string",
                                            "assetAccount": "string",
                                            "crossSaleGroup": "string",
                                            "paysCommission": true,
                                            "bonus": 0,
                                            "commissionBonus": 0,
                                            "hours": 0,
                                            "taxable": true,
                                            "cost": 0,
                                            "unitOfMeasure": "string",
                                            "isInventory": true,
                                            "modifiedOn": "string",
                                            "source": "string",
                                            "externalId": "string",
                                            "externalData": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "isConfigurableEquipment": true,
                                            "variationsOrConfigurableEquipment": [
                                                0
                                            ],
                                            "typeId": 0,
                                            "displayInAmount": true,
                                            "generalLedgerAccountId": 0,
                                            "createdOn": "string",
                                            "defaultAssetUrl": "string",
                                            "dimensions": {
                                                "height": 0,
                                                "width": 0,
                                                "depth": 0
                                            },
                                            "budgetCostCode": "string",
                                            "budgetCostType": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Equipment"
                ],
                "summary": "Post to add a new equipment to your pricebook",
                "description": "Post to add a new equipment to your pricebook",
                "operationId": "Equipment_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pricebook.V2.EquipmentCreateRequest"
                            },
                            "example": {
                                "equipmentMaterials": [
                                    {
                                        "skuId": 0,
                                        "quantity": 0
                                    }
                                ],
                                "recommendations": [
                                    {
                                        "skuId": 0,
                                        "type": "Service"
                                    }
                                ],
                                "upgrades": [
                                    0
                                ],
                                "code": "string",
                                "displayName": "string",
                                "description": "string",
                                "price": 0,
                                "memberPrice": 0,
                                "addOnPrice": 0,
                                "addOnMemberPrice": 0,
                                "active": true,
                                "manufacturer": "string",
                                "model": "string",
                                "manufacturerWarranty": {
                                    "duration": 0,
                                    "description": "string"
                                },
                                "serviceProviderWarranty": {
                                    "duration": 0,
                                    "description": "string"
                                },
                                "assets": [
                                    {
                                        "type": {},
                                        "alias": "string",
                                        "url": "string",
                                        "isDefault": true
                                    }
                                ],
                                "categories": [
                                    0
                                ],
                                "primaryVendor": {
                                    "vendorId": 0,
                                    "memo": "string",
                                    "vendorPart": "string",
                                    "cost": 0,
                                    "active": true,
                                    "primarySubAccount": {
                                        "cost": 0,
                                        "accountName": "string"
                                    },
                                    "otherSubAccounts": [
                                        {
                                            "cost": 0,
                                            "accountName": "string"
                                        }
                                    ]
                                },
                                "otherVendors": [
                                    {
                                        "vendorId": 0,
                                        "memo": "string",
                                        "vendorPart": "string",
                                        "cost": 0,
                                        "active": true,
                                        "primarySubAccount": {
                                            "cost": 0,
                                            "accountName": "string"
                                        },
                                        "otherSubAccounts": [
                                            {
                                                "cost": 0,
                                                "accountName": "string"
                                            }
                                        ]
                                    }
                                ],
                                "account": "string",
                                "costOfSaleAccount": "string",
                                "assetAccount": "string",
                                "intacctGlGroupAccount": "string",
                                "crossSaleGroup": "string",
                                "paysCommission": true,
                                "bonus": 0,
                                "commissionBonus": 0,
                                "hours": 0,
                                "taxable": true,
                                "cost": 0,
                                "unitOfMeasure": "string",
                                "isInventory": true,
                                "externalData": {
                                    "applicationGuid": "string",
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ]
                                },
                                "isConfigurableEquipment": true,
                                "variationEquipment": [
                                    0
                                ],
                                "budgetCostCode": "string",
                                "budgetCostType": "string",
                                "dimensions": {
                                    "height": 0,
                                    "width": 0,
                                    "depth": 0
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The entity has been created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pricebook.V2.EquipmentResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "code": "string",
                                    "displayName": "string",
                                    "description": "string",
                                    "active": true,
                                    "price": 0,
                                    "memberPrice": 0,
                                    "addOnPrice": 0,
                                    "addOnMemberPrice": 0,
                                    "manufacturer": "string",
                                    "model": "string",
                                    "manufacturerWarranty": {
                                        "duration": 0,
                                        "description": "string"
                                    },
                                    "serviceProviderWarranty": {
                                        "duration": 0,
                                        "description": "string"
                                    },
                                    "categories": [
                                        0
                                    ],
                                    "assets": [
                                        {
                                            "alias": "string",
                                            "fileName": "string",
                                            "isDefault": true,
                                            "type": {},
                                            "url": "string"
                                        }
                                    ],
                                    "recommendations": [
                                        {
                                            "skuId": 0,
                                            "type": {}
                                        }
                                    ],
                                    "upgrades": [
                                        0
                                    ],
                                    "equipmentMaterials": [
                                        {
                                            "skuId": 0,
                                            "quantity": 0
                                        }
                                    ],
                                    "primaryVendor": {
                                        "id": 0,
                                        "vendorName": "string",
                                        "vendorId": 0,
                                        "memo": "string",
                                        "vendorPart": "string",
                                        "cost": 0,
                                        "active": true,
                                        "primarySubAccount": {
                                            "id": 0,
                                            "cost": 0,
                                            "accountName": "string"
                                        },
                                        "otherSubAccounts": [
                                            {
                                                "id": 0,
                                                "cost": 0,
                                                "accountName": "string"
                                            }
                                        ]
                                    },
                                    "otherVendors": [
                                        {
                                            "id": 0,
                                            "vendorName": "string",
                                            "vendorId": 0,
                                            "memo": "string",
                                            "vendorPart": "string",
                                            "cost": 0,
                                            "active": true,
                                            "primarySubAccount": {
                                                "id": 0,
                                                "cost": 0,
                                                "accountName": "string"
                                            },
                                            "otherSubAccounts": [
                                                {
                                                    "id": 0,
                                                    "cost": 0,
                                                    "accountName": "string"
                                                }
                                            ]
                                        }
                                    ],
                                    "account": "string",
                                    "costOfSaleAccount": "string",
                                    "assetAccount": "string",
                                    "crossSaleGroup": "string",
                                    "paysCommission": true,
                                    "bonus": 0,
                                    "commissionBonus": 0,
                                    "hours": 0,
                                    "taxable": true,
                                    "cost": 0,
                                    "unitOfMeasure": "string",
                                    "isInventory": true,
                                    "modifiedOn": "string",
                                    "source": "string",
                                    "externalId": "string",
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "isConfigurableEquipment": true,
                                    "variationsOrConfigurableEquipment": [
                                        0
                                    ],
                                    "typeId": 0,
                                    "displayInAmount": true,
                                    "generalLedgerAccountId": 0,
                                    "createdOn": "string",
                                    "defaultAssetUrl": "string",
                                    "dimensions": {
                                        "height": 0,
                                        "width": 0,
                                        "depth": 0
                                    },
                                    "budgetCostCode": "string",
                                    "budgetCostType": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/equipment/{id}": {
            "get": {
                "tags": [
                    "Equipment"
                ],
                "summary": "Get details a equipment in the pricebook.",
                "description": "Get details a equipment in the pricebook.",
                "operationId": "Equipment_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id of the equipment you are requesting",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "externalDataApplicationGuid",
                        "in": "query",
                        "description": "Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided.",
                        "schema": {
                            "type": "string",
                            "format": "guid",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pricebook.V2.EquipmentResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "code": "string",
                                    "displayName": "string",
                                    "description": "string",
                                    "active": true,
                                    "price": 0,
                                    "memberPrice": 0,
                                    "addOnPrice": 0,
                                    "addOnMemberPrice": 0,
                                    "manufacturer": "string",
                                    "model": "string",
                                    "manufacturerWarranty": {
                                        "duration": 0,
                                        "description": "string"
                                    },
                                    "serviceProviderWarranty": {
                                        "duration": 0,
                                        "description": "string"
                                    },
                                    "categories": [
                                        0
                                    ],
                                    "assets": [
                                        {
                                            "alias": "string",
                                            "fileName": "string",
                                            "isDefault": true,
                                            "type": {},
                                            "url": "string"
                                        }
                                    ],
                                    "recommendations": [
                                        {
                                            "skuId": 0,
                                            "type": {}
                                        }
                                    ],
                                    "upgrades": [
                                        0
                                    ],
[...]
