{
    "openapi": "3.0.1",
    "info": {
        "title": "Sales & Estimates",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/sales/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/estimates/{id}": {
            "get": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_Get",
                "operationId": "Estimates_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Estimates.V2.EstimateResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "jobId": 0,
                                    "projectId": 0,
                                    "locationId": 0,
                                    "customerId": 0,
                                    "name": "string",
                                    "jobNumber": "string",
                                    "status": {
                                        "value": 0,
                                        "name": "string"
                                    },
                                    "reviewStatus": "None",
                                    "summary": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "soldOn": "string",
                                    "soldBy": 0,
                                    "active": true,
                                    "items": [
                                        {
                                            "id": 0,
                                            "sku": {
                                                "id": 0,
                                                "name": "string",
                                                "displayName": "string",
                                                "type": "string",
                                                "soldHours": 0,
                                                "generalLedgerAccountId": 0,
                                                "generalLedgerAccountName": "string",
                                                "modifiedOn": "string"
                                            },
                                            "skuAccount": "string",
                                            "description": "string",
                                            "membershipTypeId": 0,
                                            "qty": 0,
                                            "unitRate": 0,
                                            "total": 0,
                                            "unitCost": 0,
                                            "totalCost": 0,
                                            "itemGroupName": "string",
                                            "itemGroupRootId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "chargeable": true,
                                            "invoiceItemId": 0,
                                            "budgetCodeId": 0
                                        }
                                    ],
                                    "externalLinks": [
                                        {
                                            "name": "string",
                                            "url": "string"
                                        }
                                    ],
                                    "subtotal": 0,
                                    "tax": 0,
                                    "businessUnitId": 0,
                                    "businessUnitName": "string",
                                    "isRecommended": true,
                                    "budgetCodeId": 0,
                                    "isChangeOrder": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_Update",
                "operationId": "Estimates_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Estimates.V2.UpdateEstimateRequest"
                            },
                            "example": {
                                "name": "string",
                                "summary": "string",
                                "tax": 0,
                                "status": {},
                                "reviewStatus": {},
                                "soldBy": 0,
                                "isRecommended": true,
                                "budgetCodeId": 0,
                                "items": [
                                    {
                                        "id": 0,
                                        "skuId": 0,
                                        "skuName": "string",
                                        "parentItemId": 0,
                                        "description": "string",
                                        "isAddOn": true,
                                        "quantity": 0,
                                        "unitPrice": 0,
                                        "skipUpdatingMembershipPrices": true,
                                        "itemGroupName": "string",
                                        "itemGroupRootId": 0,
                                        "chargeable": true,
                                        "useDefaultProjectLabels": true,
                                        "budgetCodeId": 0
                                    }
                                ],
                                "externalLinks": [
                                    {
                                        "name": "string",
                                        "url": "string"
                                    }
                                ],
                                "useDefaultProjectLabels": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Estimates.V2.EstimateResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "jobId": 0,
                                    "projectId": 0,
                                    "locationId": 0,
                                    "customerId": 0,
                                    "name": "string",
                                    "jobNumber": "string",
                                    "status": {
                                        "value": 0,
                                        "name": "string"
                                    },
                                    "reviewStatus": "None",
                                    "summary": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "soldOn": "string",
                                    "soldBy": 0,
                                    "active": true,
                                    "items": [
                                        {
                                            "id": 0,
                                            "sku": {
                                                "id": 0,
                                                "name": "string",
                                                "displayName": "string",
                                                "type": "string",
                                                "soldHours": 0,
                                                "generalLedgerAccountId": 0,
                                                "generalLedgerAccountName": "string",
                                                "modifiedOn": "string"
                                            },
                                            "skuAccount": "string",
                                            "description": "string",
                                            "membershipTypeId": 0,
                                            "qty": 0,
                                            "unitRate": 0,
                                            "total": 0,
                                            "unitCost": 0,
                                            "totalCost": 0,
                                            "itemGroupName": "string",
                                            "itemGroupRootId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "chargeable": true,
                                            "invoiceItemId": 0,
                                            "budgetCodeId": 0
                                        }
                                    ],
                                    "externalLinks": [
                                        {
                                            "name": "string",
                                            "url": "string"
                                        }
                                    ],
                                    "subtotal": 0,
                                    "tax": 0,
                                    "businessUnitId": 0,
                                    "businessUnitName": "string",
                                    "isRecommended": true,
                                    "budgetCodeId": 0,
                                    "isChangeOrder": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/estimates": {
            "get": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_GetList",
                "operationId": "Estimates_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "jobId",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "jobNumber",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "totalGreater",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "decimal",
                            "nullable": true
                        }
                    },
                    {
                        "name": "totalLess",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "decimal",
                            "nullable": true
                        }
                    },
                    {
                        "name": "soldById",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "soldByEmployeeId",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "soldAfter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "soldBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "orderByDirection",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "locationId",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Estimates.V2.EstimateResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "jobId": 0,
                                            "projectId": 0,
                                            "locationId": 0,
                                            "customerId": 0,
                                            "name": "string",
                                            "jobNumber": "string",
                                            "status": {
                                                "value": 0,
                                                "name": "string"
                                            },
                                            "reviewStatus": "None",
                                            "summary": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "soldOn": "string",
                                            "soldBy": 0,
                                            "active": true,
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "sku": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "displayName": "string",
                                                        "type": "string",
                                                        "soldHours": 0,
                                                        "generalLedgerAccountId": 0,
                                                        "generalLedgerAccountName": "string",
                                                        "modifiedOn": "string"
                                                    },
                                                    "skuAccount": "string",
                                                    "description": "string",
                                                    "membershipTypeId": 0,
                                                    "qty": 0,
                                                    "unitRate": 0,
                                                    "total": 0,
                                                    "unitCost": 0,
                                                    "totalCost": 0,
                                                    "itemGroupName": "string",
                                                    "itemGroupRootId": 0,
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "chargeable": true,
                                                    "invoiceItemId": 0,
                                                    "budgetCodeId": 0
                                                }
                                            ],
                                            "externalLinks": [
                                                {
                                                    "name": "string",
                                                    "url": "string"
                                                }
                                            ],
                                            "subtotal": 0,
                                            "tax": 0,
                                            "businessUnitId": 0,
                                            "businessUnitName": "string",
                                            "isRecommended": true,
                                            "budgetCodeId": 0,
                                            "isChangeOrder": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_Create",
                "operationId": "Estimates_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Estimates.V2.CreateEstimateRequest"
                            },
                            "example": {
                                "name": "string",
                                "summary": "string",
                                "tax": 0,
                                "status": {},
                                "reviewStatus": {},
                                "soldBy": 0,
                                "isRecommended": true,
                                "budgetCodeId": 0,
                                "items": [
                                    {
                                        "id": 0,
                                        "skuId": 0,
                                        "skuName": "string",
                                        "parentItemId": 0,
                                        "description": "string",
                                        "isAddOn": true,
                                        "quantity": 0,
                                        "unitPrice": 0,
                                        "skipUpdatingMembershipPrices": true,
                                        "itemGroupName": "string",
                                        "itemGroupRootId": 0,
                                        "chargeable": true,
                                        "useDefaultProjectLabels": true,
                                        "budgetCodeId": 0
                                    }
                                ],
                                "externalLinks": [
                                    {
                                        "name": "string",
                                        "url": "string"
                                    }
                                ],
                                "useDefaultProjectLabels": true,
                                "jobId": 0,
                                "projectId": 0,
                                "locationId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Estimates.V2.EstimateResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "jobId": 0,
                                    "projectId": 0,
                                    "locationId": 0,
                                    "customerId": 0,
                                    "name": "string",
                                    "jobNumber": "string",
                                    "status": {
                                        "value": 0,
                                        "name": "string"
                                    },
                                    "reviewStatus": "None",
                                    "summary": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "soldOn": "string",
                                    "soldBy": 0,
                                    "active": true,
                                    "items": [
                                        {
                                            "id": 0,
                                            "sku": {
                                                "id": 0,
                                                "name": "string",
                                                "displayName": "string",
                                                "type": "string",
                                                "soldHours": 0,
                                                "generalLedgerAccountId": 0,
                                                "generalLedgerAccountName": "string",
                                                "modifiedOn": "string"
                                            },
                                            "skuAccount": "string",
                                            "description": "string",
                                            "membershipTypeId": 0,
                                            "qty": 0,
                                            "unitRate": 0,
                                            "total": 0,
                                            "unitCost": 0,
                                            "totalCost": 0,
                                            "itemGroupName": "string",
                                            "itemGroupRootId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "chargeable": true,
                                            "invoiceItemId": 0,
                                            "budgetCodeId": 0
                                        }
                                    ],
                                    "externalLinks": [
                                        {
                                            "name": "string",
                                            "url": "string"
                                        }
                                    ],
                                    "subtotal": 0,
                                    "tax": 0,
                                    "businessUnitId": 0,
                                    "businessUnitName": "string",
                                    "isRecommended": true,
                                    "budgetCodeId": 0,
                                    "isChangeOrder": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/estimates/items": {
            "get": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_GetItems",
                "operationId": "Estimates_GetItems",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "estimateId",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Estimates.V2.EstimateItemResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "sku": {
                                                "id": 0,
                                                "name": "string",
                                                "displayName": "string",
                                                "type": "string",
                                                "soldHours": 0,
                                                "generalLedgerAccountId": 0,
                                                "generalLedgerAccountName": "string",
                                                "modifiedOn": "string"
                                            },
                                            "skuAccount": "string",
                                            "description": "string",
                                            "membershipTypeId": 0,
                                            "qty": 0,
                                            "unitRate": 0,
                                            "total": 0,
                                            "unitCost": 0,
                                            "totalCost": 0,
                                            "itemGroupName": "string",
                                            "itemGroupRootId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "chargeable": true,
                                            "invoiceItemId": 0,
                                            "budgetCodeId": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/estimates/{id}/sell": {
            "put": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_Sell",
                "operationId": "Estimates_Sell",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Estimates.V2.SellRequest"
                            },
                            "example": {
                                "soldBy": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Estimates.V2.EstimateResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "jobId": 0,
                                    "projectId": 0,
                                    "locationId": 0,
                                    "customerId": 0,
                                    "name": "string",
                                    "jobNumber": "string",
                                    "status": {
                                        "value": 0,
                                        "name": "string"
                                    },
                                    "reviewStatus": "None",
                                    "summary": "string",
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "soldOn": "string",
                                    "soldBy": 0,
                                    "active": true,
                                    "items": [
                                        {
                                            "id": 0,
                                            "sku": {
                                                "id": 0,
                                                "name": "string",
                                                "displayName": "string",
                                                "type": "string",
                                                "soldHours": 0,
                                                "generalLedgerAccountId": 0,
                                                "generalLedgerAccountName": "string",
                                                "modifiedOn": "string"
                                            },
                                            "skuAccount": "string",
                                            "description": "string",
                                            "membershipTypeId": 0,
                                            "qty": 0,
                                            "unitRate": 0,
                                            "total": 0,
                                            "unitCost": 0,
                                            "totalCost": 0,
                                            "itemGroupName": "string",
                                            "itemGroupRootId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "chargeable": true,
                                            "invoiceItemId": 0,
                                            "budgetCodeId": 0
                                        }
                                    ],
                                    "externalLinks": [
                                        {
                                            "name": "string",
                                            "url": "string"
                                        }
                                    ],
                                    "subtotal": 0,
                                    "tax": 0,
                                    "businessUnitId": 0,
                                    "businessUnitName": "string",
                                    "isRecommended": true,
                                    "budgetCodeId": 0,
                                    "isChangeOrder": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/estimates/{id}/unsell": {
            "put": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_Unsell",
                "operationId": "Estimates_Unsell",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/estimates/{id}/dismiss": {
            "put": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_Dismiss",
                "operationId": "Estimates_Dismiss",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/estimates/{id}/items": {
            "put": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_PutItem",
                "operationId": "Estimates_PutItem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Estimates.V2.EstimateItemCreateUpdateRequest"
                            },
                            "example": {
                                "id": 0,
                                "skuId": 0,
                                "skuName": "string",
                                "parentItemId": 0,
                                "description": "string",
                                "isAddOn": true,
                                "quantity": 0,
                                "unitPrice": 0,
                                "skipUpdatingMembershipPrices": true,
                                "itemGroupName": "string",
                                "itemGroupRootId": 0,
                                "chargeable": true,
                                "useDefaultProjectLabels": true,
                                "budgetCodeId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Estimates.V2.EstimateItemUpdateResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "sku": {
                                        "id": 0,
                                        "name": "string",
                                        "displayName": "string",
                                        "type": "string",
                                        "soldHours": 0,
                                        "generalLedgerAccountId": 0,
                                        "generalLedgerAccountName": "string",
                                        "modifiedOn": "string"
                                    },
                                    "skuAccount": "string",
                                    "description": "string",
                                    "membershipTypeId": 0,
                                    "qty": 0,
                                    "unitRate": 0,
                                    "total": 0,
                                    "unitCost": 0,
                                    "totalCost": 0,
                                    "itemGroupName": "string",
                                    "itemGroupRootId": 0,
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "chargeable": true,
                                    "invoiceItemId": 0,
                                    "budgetCodeId": 0,
                                    "estimateId": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/estimates/{id}/items/{itemId}": {
            "delete": {
                "tags": [
                    "Estimates"
                ],
                "summary": "Estimates_DeleteItem",
                "operationId": "Estimates_DeleteItem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/estimates/export": {
            "get": {
                "tags": [
                    "EstimatesExport"
                ],
                "summary": "Provides export feed for estimates",
                "description": "Provides export feed for estimates",
                "operationId": "EstimatesExport_Estimates",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Estimates.V2.ExportEstimatesResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "jobId": 0,
                                            "projectId": 0,
                                            "locationId": 0,
                                            "customerId": 0,
                                            "name": "string",
                                            "jobNumber": "string",
                                            "status": {
                                                "value": 0,
                                                "name": "string"
                                            },
                                            "reviewStatus": "None",
                                            "summary": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "soldOn": "string",
                                            "soldBy": 0,
                                            "active": true,
                                            "items": [
                                                {
                                                    "id": 0,
                                                    "sku": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "displayName": "string",
                                                        "type": "string",
                                                        "soldHours": 0,
                                                        "generalLedgerAccountId": 0,
                                                        "generalLedgerAccountName": "string",
                                                        "modifiedOn": "string"
                                                    },
                                                    "skuAccount": "string",
                                                    "description": "string",
                                                    "membershipTypeId": 0,
                                                    "qty": 0,
                                                    "unitRate": 0,
                                                    "total": 0,
                                                    "unitCost": 0,
                                                    "totalCost": 0,
                                                    "itemGroupName": "string",
                                                    "itemGroupRootId": 0,
                                                    "createdOn": "string",
                                                    "modifiedOn": "string",
                                                    "chargeable": true,
                                                    "invoiceItemId": 0,
                                                    "budgetCodeId": 0
                                                }
                                            ],
                                            "externalLinks": [
                                                {
                                                    "name": "string",
                                                    "url": "string"
                                                }
                                            ],
                                            "subtotal": 0,
                                            "tax": 0,
                                            "businessUnitId": 0,
                                            "businessUnitName": "string",
                                            "isRecommended": true,
                                            "budgetCodeId": 0,
                                            "isChangeOrder": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/opportunities/{id}": {
            "get": {
                "tags": [
                    "Opportunities",
                    "CustomerOnly"
                ],
                "summary": "Opportunities_Get",
                "operationId": "Opportunities_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/opportunities": {
            "get": {
                "tags": [
                    "Opportunities",
                    "CustomerOnly"
                ],
                "summary": "Opportunities_GetList",
                "operationId": "Opportunities_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/opportunities": {
            "get": {
                "tags": [
                    "OpportunitiesExport",
                    "CustomerOnly"
                ],
                "summary": "OpportunitiesExport_Export",
                "operationId": "OpportunitiesExport_Export",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/opportunities/{id}/followups": {
            "get": {
                "tags": [
                    "OpportunitiesFollowUps",
                    "CustomerOnly"
                ],
                "summary": "OpportunitiesFollowUps_GetFollowUps",
                "operationId": "OpportunitiesFollowUps_GetFollowUps",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/opportunities/followups": {
            "get": {
                "tags": [
                    "OpportunitiesFollowUps",
                    "CustomerOnly"
                ],
                "summary": "OpportunitiesFollowUps_GetFollowUpsList",
                "operationId": "OpportunitiesFollowUps_GetFollowUpsList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/opportunities/followups": {
            "get": {
                "tags": [
                    "OpportunitiesFollowUpsExport",
                    "CustomerOnly"
                ],
                "summary": "OpportunitiesFollowUpsExport_Export",
                "operationId": "OpportunitiesFollowUpsExport_Export",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Estimates.V2.EstimateResponse": {
                "required": [
                    "id",
                    "reviewStatus",
                    "createdOn",
                    "modifiedOn",
                    "active",
                    "subtotal",
                    "tax",
                    "isRecommended",
                    "isChangeOrder"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "jobId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "locationId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "customerId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "jobNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Estimates.V2.EstimateStatusModel"
                            }
                        ],
                        "nullable": true
                    },
                    "reviewStatus": {
                        "$ref": "#/components/schemas/Estimates.Types.EstimateReviewStatus"
                    },
                    "summary": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "soldOn": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "soldBy": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Estimates.V2.EstimateItemResponse"
                        },
                        "nullable": true
                    },
                    "externalLinks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Estimates.V2.ExternalLinkResponse"
                        },
                        "nullable": true
                    },
                    "subtotal": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "tax": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "businessUnitId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "businessUnitName": {
                        "type": "string",
                        "nullable": true
                    },
                    "isRecommended": {
                        "type": "boolean"
                    },
                    "budgetCodeId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "isChangeOrder": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "Estimates.V2.EstimateStatusModel": {
                "required": [
                    "value",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            },
            "Estimates.Types.EstimateReviewStatus": {
                "enum": [
                    "None",
                    "NeedsApproval",
                    "Approved",
                    "NotApproved"
                ],
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "None",
                    "NeedsApproval",
                    "Approved",
                    "NotApproved"
                ]
            },
            "Estimates.V2.EstimateItemResponse": {
                "required": [
                    "id",
                    "sku",
                    "skuAccount",
                    "description",
                    "qty",
                    "unitRate",
                    "total",
                    "unitCost",
                    "totalCost",
                    "itemGroupName",
                    "createdOn",
                    "modifiedOn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "sku": {
                        "$ref": "#/components/schemas/Estimates.V2.SkuModel"
                    },
                    "skuAccount": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "format": "html"
                    },
                    "membershipTypeId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "qty": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "unitRate": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "total": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "unitCost": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "totalCost": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "itemGroupName": {
                        "type": "string"
                    },
                    "itemGroupRootId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "createdOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "chargeable": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "invoiceItemId": {
                        "type": "integer",
                        "description": "The invoice item which was created from this estimate item.",
                        "format": "int64",
                        "nullable": true
                    },
                    "budgetCodeId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "Estimates.V2.SkuModel": {
                "required": [
                    "id",
                    "name",
                    "displayName",
                    "type",
                    "soldHours",
                    "generalLedgerAccountId",
                    "generalLedgerAccountName",
                    "modifiedOn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "soldHours": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "generalLedgerAccountId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "generalLedgerAccountName": {
                        "type": "string"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "additionalProperties": false
            },
            "Estimates.V2.ExternalLinkResponse": {
                "required": [
                    "name",
                    "url"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            },
            "ApiErrorResponse": {
                "required": [
                    "type",
                    "title",
                    "status",
                    "traceId",
                    "errors",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "A URI reference that identifies the problem type"
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, human-readable summary of the problem type"
                    },
                    "status": {
                        "type": "integer",
                        "description": "The HTTP status code generated by server",
                        "format": "int32"
                    },
                    "traceId": {
                        "type": "string",
                        "description": "Internal trace ID for advanced diagnostics"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
[...]
