{
    "openapi": "3.0.1",
    "info": {
        "title": "Settings",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/settings/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/employees": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Gets a list of employees",
                "description": "Gets a list of employees",
                "operationId": "Employees_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "userIds",
                        "in": "query",
                        "description": "Perform lookup by multiple User Ids (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filters records by name (case-insensitive \"contains\" operation)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Filters records by email (exact match).",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_TenantSettings.V2.EmployeeResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "userId": 0,
                                            "name": "string",
                                            "role": {},
                                            "roleIds": [
                                                0
                                            ],
                                            "businessUnitId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "email": "string",
                                            "phoneNumber": "string",
                                            "loginName": "string",
                                            "active": true,
                                            "aadUserId": "string",
                                            "accountLocked": true,
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "permissions": [
                                                {
                                                    "id": 0,
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Creates new employee",
                "description": "Creates new employee",
                "operationId": "Employees_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TenantSettings.V2.EmployeeCreateRequest"
                            },
                            "example": {
                                "name": "string",
                                "mobilePhoneNumber": "string",
                                "phoneNumber": "string",
                                "email": "string",
                                "login": "string",
                                "password": "string",
                                "accountCreationMethod": {},
                                "businessUnitId": 0,
                                "roleId": 0,
                                "positions": [
                                    "CSR"
                                ],
                                "aadUserId": "string",
                                "customFields": [
                                    {
                                        "typeId": 0,
                                        "value": "string"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.EmployeeCreateResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/employees/{id}": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Gets a employee by ID",
                "description": "Gets a employee by ID",
                "operationId": "Employees_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.EmployeeResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "userId": 0,
                                    "name": "string",
                                    "role": {},
                                    "roleIds": [
                                        0
                                    ],
                                    "businessUnitId": 0,
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "email": "string",
                                    "phoneNumber": "string",
                                    "loginName": "string",
                                    "active": true,
                                    "aadUserId": "string",
                                    "accountLocked": true,
                                    "customFields": [
                                        {
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "permissions": [
                                        {
                                            "id": 0,
                                            "value": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Employee not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Employees"
                ],
                "summary": "Updates employee",
                "description": "Updates employee",
                "operationId": "Employees_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TenantSettings.V2.EmployeeUpdateRequest"
                            },
                            "example": {
                                "name": "string",
                                "mobilePhoneNumber": "string",
                                "phoneNumber": "string",
                                "email": "string",
                                "login": "string",
                                "businessUnitId": 0,
                                "roleId": 0,
                                "positions": [
                                    "CSR"
                                ],
                                "aadUserId": "string",
                                "customFields": [
                                    {
                                        "typeId": 0,
                                        "value": "string"
                                    }
                                ],
                                "accountLocked": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.EmployeeUpdateResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/employees/{id}/account-actions": {
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Performs standard actions with the account",
                "description": "Performs standard actions with the account",
                "operationId": "Employees_AccountActions",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TenantSettings.V2.AccountActionRequest"
                            },
                            "example": {
                                "action": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.AccountActionResponse"
                                },
                                "example": {
                                    "status": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/employees": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for employees",
                "description": "Provides export feed for employees",
                "operationId": "Export_Employees",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_TenantSettings.V2.ExportEmployeeResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "permissions": [
                                                {
                                                    "id": 0,
                                                    "value": "string"
                                                }
                                            ],
                                            "id": 0,
                                            "userId": 0,
                                            "name": "string",
                                            "role": {},
                                            "roleIds": [
                                                0
                                            ],
                                            "businessUnitId": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "email": "string",
                                            "phoneNumber": "string",
                                            "loginName": "string",
                                            "active": true,
                                            "aadUserId": "string",
                                            "accountLocked": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/technicians": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for technicians",
                "description": "Provides export feed for technicians",
                "operationId": "Export_Technicians",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_TenantSettings.V2.ExportTechnicianResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "userId": 0,
                                            "name": "string",
                                            "roleIds": [
                                                0
                                            ],
                                            "businessUnitId": 0,
                                            "mainZoneId": 0,
                                            "zoneIds": [
                                                0
                                            ],
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "email": "string",
                                            "phoneNumber": "string",
                                            "loginName": "string",
                                            "home": {
                                                "street": "string",
                                                "unit": "string",
                                                "country": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "streetAddress": "string",
                                                "latitude": 0,
                                                "longitude": 0
                                            },
                                            "dailyGoal": 0,
                                            "isManagedTech": true,
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "active": true,
                                            "aadUserId": "string",
                                            "burdenRate": 0,
                                            "team": "string",
                                            "jobFilter": {},
                                            "permissions": [
                                                {
                                                    "id": 0,
                                                    "value": "string"
                                                }
                                            ],
                                            "accountLocked": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/technicians": {
            "get": {
                "tags": [
                    "Technicians"
                ],
                "summary": "Gets a list of technicians",
                "description": "Gets a list of technicians",
                "operationId": "Technicians_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "userIds",
                        "in": "query",
                        "description": "Perform lookup by multiple User Ids (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filters records by name (case-insensitive \"contains\" operation)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_TenantSettings.V2.TechnicianResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "userId": 0,
                                            "name": "string",
                                            "roleIds": [
                                                0
                                            ],
                                            "businessUnitId": 0,
                                            "mainZoneId": 0,
                                            "zoneIds": [
                                                0
                                            ],
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "email": "string",
                                            "phoneNumber": "string",
                                            "loginName": "string",
                                            "home": {
                                                "street": "string",
                                                "unit": "string",
                                                "country": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "streetAddress": "string",
                                                "latitude": 0,
                                                "longitude": 0
                                            },
                                            "dailyGoal": 0,
                                            "isManagedTech": true,
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "active": true,
                                            "aadUserId": "string",
                                            "burdenRate": 0,
                                            "team": "string",
                                            "jobFilter": {},
                                            "permissions": [
                                                {
                                                    "id": 0,
                                                    "value": "string"
                                                }
                                            ],
                                            "accountLocked": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Technicians"
                ],
                "summary": "Creates new technician",
                "description": "Creates new technician",
                "operationId": "Technicians_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TenantSettings.V2.TechnicianCreateRequest"
                            },
                            "example": {
                                "name": "string",
                                "phoneNumber": "string",
                                "email": "string",
                                "login": "string",
                                "password": "string",
                                "accountCreationMethod": {},
                                "businessUnitId": 0,
                                "roleId": 0,
                                "positions": [
                                    "Installer"
                                ],
                                "aadUserId": "string",
                                "licenseType": {},
                                "team": "string",
                                "dailyGoal": 0,
                                "burdenRate": 0,
                                "bio": "string",
                                "memo": "string",
                                "jobFilter": {},
                                "jobHistoryDateFilter": {},
                                "home": {
                                    "unit": "string",
                                    "street": "string",
                                    "city": "string",
                                    "state": "string",
                                    "country": "string",
                                    "zip": "string",
                                    "latitude": 0,
                                    "longitude": 0
                                },
                                "customFields": [
                                    {
                                        "typeId": 0,
                                        "value": "string"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.TechnicianCreateResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/technicians/{id}": {
            "get": {
                "tags": [
                    "Technicians"
                ],
                "summary": "Gets a technician by ID",
                "description": "Gets a technician by ID",
                "operationId": "Technicians_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.TechnicianResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "userId": 0,
                                    "name": "string",
                                    "roleIds": [
                                        0
                                    ],
                                    "businessUnitId": 0,
                                    "mainZoneId": 0,
                                    "zoneIds": [
                                        0
                                    ],
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "email": "string",
                                    "phoneNumber": "string",
                                    "loginName": "string",
                                    "home": {
                                        "street": "string",
                                        "unit": "string",
                                        "country": "string",
                                        "city": "string",
                                        "state": "string",
                                        "zip": "string",
                                        "streetAddress": "string",
                                        "latitude": 0,
                                        "longitude": 0
                                    },
                                    "dailyGoal": 0,
                                    "isManagedTech": true,
                                    "customFields": [
                                        {
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "active": true,
                                    "aadUserId": "string",
                                    "burdenRate": 0,
                                    "team": "string",
                                    "jobFilter": {},
                                    "permissions": [
                                        {
                                            "id": 0,
                                            "value": "string"
                                        }
                                    ],
                                    "accountLocked": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Technician not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Technicians"
                ],
                "summary": "Updates technician",
                "description": "Updates technician",
                "operationId": "Technicians_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TenantSettings.V2.TechnicianUpdateRequest"
                            },
                            "example": {
                                "name": "string",
                                "phoneNumber": "string",
                                "email": "string",
                                "login": "string",
                                "businessUnitId": 0,
                                "roleId": 0,
                                "positions": [
                                    "Installer"
                                ],
                                "aadUserId": "string",
                                "licenseType": {},
                                "team": "string",
                                "dailyGoal": 0,
                                "burdenRate": 0,
                                "bio": "string",
                                "memo": "string",
                                "jobFilter": {},
                                "jobHistoryDateFilter": {},
                                "home": {
                                    "unit": "string",
                                    "street": "string",
                                    "city": "string",
                                    "state": "string",
                                    "country": "string",
                                    "zip": "string",
                                    "latitude": 0,
                                    "longitude": 0
                                },
                                "customFields": [
                                    {
                                        "typeId": 0,
                                        "value": "string"
                                    }
                                ],
                                "accountLocked": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.TechnicianUpdateResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/technicians/{id}/account-actions": {
            "post": {
                "tags": [
                    "Technicians"
                ],
                "summary": "Performs standard actions with the account",
                "description": "Performs standard actions with the account",
                "operationId": "Technicians_AccountActions",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TenantSettings.V2.TechnicianAccountActionRequest"
                            },
                            "example": {
                                "action": {},
                                "licenseType": {},
                                "truckId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.AccountActionResponse"
                                },
                                "example": {
                                    "status": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/user-roles": {
            "get": {
                "tags": [
                    "UserRoles"
                ],
                "summary": "Gets a list of user roles",
                "description": "Gets a list of user roles",
                "operationId": "UserRoles_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filters records by name (case-insensitive \"contains\" operation)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "employeeType",
                        "in": "query",
                        "description": "Filter roles by employee type\\\nValues: [None, Employee, Technician, All]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/TenantSettings.V2.RequestedEmployeeTypeArg"
                                }
                            ],
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_TenantSettings.V2.UserRoleResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "name": "string",
                                            "createdOn": "string",
                                            "employeeType": "Employee"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/business-units": {
            "get": {
                "tags": [
                    "BusinessUnits"
                ],
                "summary": "Gets a list of business units",
                "description": "Gets a list of business units",
                "operationId": "BusinessUnits_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filters records by name (case-insensitive \"contains\" operation)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "externalDataApplicationGuid",
                        "in": "query",
                        "description": "If this guid is provided, external data corresponding to\nthis application guid will be returned.",
                        "schema": {
                            "type": "string",
                            "format": "guid",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_TenantSettings.V2.BusinessUnitResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "name": "string",
                                            "officialName": "string",
                                            "email": "string",
                                            "currency": "string",
                                            "phoneNumber": "string",
                                            "invoiceHeader": "string",
                                            "invoiceMessage": "string",
                                            "defaultTaxRate": 0,
                                            "authorizationParagraph": "string",
                                            "acknowledgementParagraph": "string",
                                            "address": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string",
                                                "latitude": 0,
                                                "longitude": 0,
                                                "isManualCoordinates": true,
                                                "isMilitary": true
                                            },
                                            "materialSku": "string",
                                            "quickbooksClass": "string",
                                            "accountCode": "string",
                                            "franchiseId": "string",
                                            "conceptCode": "string",
                                            "corporateContractNumber": "string",
                                            "trade": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "division": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "tagTypeIds": [
                                                0
                                            ],
                                            "tenant": {
                                                "id": 0,
                                                "name": "string",
                                                "accountCode": "string",
                                                "franchiseId": "string",
                                                "conceptCode": "string",
                                                "modifiedOn": "string"
                                            },
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "externalData": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/business-units/{id}": {
            "get": {
                "tags": [
                    "BusinessUnits"
                ],
                "summary": "Gets a business unit by ID",
                "description": "Gets a business unit by ID",
                "operationId": "BusinessUnits_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "externalDataApplicationGuid",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "guid",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantSettings.V2.BusinessUnitResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "active": true,
                                    "name": "string",
                                    "officialName": "string",
                                    "email": "string",
                                    "currency": "string",
                                    "phoneNumber": "string",
                                    "invoiceHeader": "string",
                                    "invoiceMessage": "string",
                                    "defaultTaxRate": 0,
                                    "authorizationParagraph": "string",
                                    "acknowledgementParagraph": "string",
                                    "address": {
                                        "street": "string",
                                        "unit": "string",
                                        "city": "string",
                                        "state": "string",
                                        "zip": "string",
                                        "country": "string",
                                        "latitude": 0,
                                        "longitude": 0,
                                        "isManualCoordinates": true,
                                        "isMilitary": true
                                    },
                                    "materialSku": "string",
                                    "quickbooksClass": "string",
                                    "accountCode": "string",
                                    "franchiseId": "string",
                                    "conceptCode": "string",
                                    "corporateContractNumber": "string",
                                    "trade": {
                                        "id": 0,
                                        "name": "string"
                                    },
                                    "division": {
                                        "id": 0,
                                        "name": "string"
                                    },
                                    "tagTypeIds": [
                                        0
                                    ],
                                    "tenant": {
                                        "id": 0,
                                        "name": "string",
                                        "accountCode": "string",
                                        "franchiseId": "string",
                                        "conceptCode": "string",
                                        "modifiedOn": "string"
                                    },
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Business unit not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "BusinessUnits"
                ],
                "summary": "Update an existing BusinessUnit",
                "description": "Update an existing BusinessUnit",
                "operationId": "BusinessUnits_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "BusinessUnit Id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update BusinessUnit Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TenantSettings.V2.UpdateBusinessUnitRequest"
                            },
                            "example": {
                                "externalData": {
                                    "patchMode": {},
                                    "applicationGuid": "string",
                                    "externalData": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Id of the updated BusinessUnit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/business-units": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for business units",
                "description": "Provides export feed for business units",
                "operationId": "Export_BusinessUnits",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_TenantSettings.V2.ExportBusinessUnitResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "name": "string",
                                            "officialName": "string",
                                            "email": "string",
                                            "currency": "string",
                                            "phoneNumber": "string",
                                            "invoiceHeader": "string",
                                            "invoiceMessage": "string",
                                            "defaultTaxRate": 0,
                                            "authorizationParagraph": "string",
                                            "acknowledgementParagraph": "string",
                                            "address": {
                                                "street": "string",
                                                "unit": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "country": "string",
                                                "latitude": 0,
                                                "longitude": 0,
[...]
