{
    "openapi": "3.0.1",
    "info": {
        "title": "Telecom",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/telecom"
        }
    ],
    "paths": {
        "/v3/tenant/{tenant}/calls": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "Provides a feed for telecom calls",
                "description": "Provides a feed for telecom calls",
                "operationId": "Calls_Calls",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Return items created after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedAfter",
                        "in": "query",
                        "description": "Return items modified after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "campaignId",
                        "in": "query",
                        "description": "Campaign ID",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "query",
                        "description": "Agent ID (number)",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "minDuration",
                        "in": "query",
                        "description": "Minimum call duration (number of seconds)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "phoneNumberCalled",
                        "in": "query",
                        "description": "The phone number that was called (string)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "callerPhoneNumber",
                        "in": "query",
                        "description": "The caller's phone number (string)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "agentName",
                        "in": "query",
                        "description": "Agent name (string)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "agentIsExternal",
                        "in": "query",
                        "description": "Is agent external flag (boolean)",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "agentExternalId",
                        "in": "query",
                        "description": "Agent external ID (number)",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The Sorting field, possible values: Id, CreatedOn, ModifiedOn.\nThe Sorting is ascending by default, add the '-' character to use descending (for example -Id)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "sid",
                        "in": "query",
                        "description": "Sid of the call (string)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "Tag of the call (string)",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Telecom.V3.CallResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "jobNumber": "string",
                                            "projectId": 0,
                                            "businessUnit": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "type": {
                                                "id": 0,
                                                "name": "string",
                                                "modifiedOn": "string"
                                            },
                                            "leadCall": {
                                                "createdOn": "string",
                                                "active": true,
                                                "id": 0,
                                                "receivedOn": "string",
                                                "duration": "string",
                                                "from": "string",
                                                "to": "string",
                                                "direction": "Inbound",
                                                "callType": {},
                                                "reason": {
                                                    "id": 0,
                                                    "name": "string",
                                                    "lead": true,
                                                    "active": true
                                                },
                                                "recordingUrl": "string",
                                                "voiceMailUrl": "string",
                                                "createdBy": {
                                                    "id": 0,
                                                    "name": "string"
                                                },
                                                "customer": {
                                                    "id": 0,
                                                    "name": "string"
                                                },
                                                "campaign": {
                                                    "id": 0,
                                                    "name": "string"
                                                },
                                                "modifiedOn": "string",
                                                "agent": {
                                                    "id": 0,
                                                    "name": "string",
                                                    "externalId": 0
                                                },
                                                "sid": "string",
                                                "tags": [
                                                    {
                                                        "id": 0,
                                                        "typeName": "string"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tenant/{tenant}/optinouts/optouts": {
            "get": {
                "tags": [
                    "OptInOut"
                ],
                "summary": "Returns all opt-outs for the tenant",
                "description": "Numbers are returned in E.164 format.",
                "operationId": "OptInOut_GetAllOptOuts",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Telecom.V3.OptOutListResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "contactNumber": "string",
                                            "optOutType": {}
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "OptInOut"
                ],
                "summary": "Adds opt-outs for the specified phone numbers",
                "description": "Has to have at least one phone number in the request (use the dedicated endpoint if you need to get all the opt-outs).\nAll numbers in the request must be valid, otherwise the request will fail.\nIf a number is opted-out globally, you can't opt it out for marketing.",
                "operationId": "OptInOut_CreateOptOutList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Telecom.V3.CreateOptOutListRequest"
                            },
                            "example": {
                                "optOutType": {},
                                "contactNumbers": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Telecom.V3.CreateOptOutListResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "contactNumber": "string",
                                            "status": {}
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "At least one number in the request couldn't be parsed, or there were no numbers in the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tenant/{tenant}/optinouts/optouts/getlist": {
            "post": {
                "tags": [
                    "OptInOut"
                ],
                "summary": "For each phone number in the request, returns the opt-out status, if it exists",
                "description": "Has to have at least one phone number in the request (use the dedicated endpoint if you need to get all the opt-outs).\nIf there's no opt-out info for a phone number, it won't be included in the response.\nAll numbers in the request must be valid (E.164 format is preferred, but not required), otherwise the request will fail.\nThe numbers in the response will be in E.164 format.",
                "operationId": "OptInOut_GetOptOutList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Telecom.V3.GetOptOutListRequest"
                            },
                            "example": {
                                "contactNumbers": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Telecom.V3.OptOutListResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "contactNumber": "string",
                                            "optOutType": {}
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "At least one number in the request couldn't be parsed, or there were no numbers in the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/tenant/{tenant}/calls/{id}": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "Get call's details.",
                "description": "Get call's details.",
                "operationId": "Calls_GetDetails",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the call.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DetailedBundleCallModel with the following fields:\nlong Id;\nstring JobNumber;\nlong ProjectId;\nBusinessUnitModel BusinessUnit;\nJobTypeModel Type;\nDetailedCallModel LeadCall;",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Module.Telecom.Shared.DetailedBundleCallModel"
                                },
                                "example": {
                                    "id": 0,
                                    "jobNumber": "string",
                                    "projectId": 0,
                                    "businessUnit": {
                                        "id": 0,
                                        "active": true,
                                        "name": "string",
                                        "officialName": "string",
                                        "email": "string",
                                        "currency": "string",
                                        "phoneNumber": "string",
                                        "invoiceHeader": "string",
                                        "invoiceMessage": "string",
                                        "defaultTaxRate": 0,
                                        "authorizationParagraph": "string",
                                        "acknowledgementParagraph": "string",
                                        "address": {
                                            "street": "string",
                                            "unit": "string",
                                            "city": "string",
                                            "state": "string",
                                            "zip": "string",
                                            "country": "string"
                                        },
                                        "materialSku": "string",
                                        "quickbooksClass": "string",
                                        "accountCode": "string",
                                        "franchiseId": "string",
                                        "conceptCode": "string",
                                        "corporateContractNumber": "string",
                                        "tenant": {
                                            "id": 0,
                                            "name": "string",
                                            "quickbooksClass": "string",
                                            "accountCode": "string",
                                            "franchiseId": "string",
                                            "conceptCode": "string",
                                            "modifiedOn": "string"
                                        },
                                        "modifiedOn": "string"
                                    },
                                    "type": {
                                        "id": 0,
                                        "name": "string",
                                        "modifiedOn": "string"
                                    },
                                    "leadCall": {
                                        "id": 0,
                                        "receivedOn": "string",
                                        "duration": "string",
                                        "from": "string",
                                        "to": "string",
                                        "direction": "Inbound",
                                        "callType": {},
                                        "reason": {
                                            "id": 0,
                                            "name": "string",
                                            "lead": true,
                                            "active": true
                                        },
                                        "recordingUrl": "string",
                                        "voiceMailUrl": "string",
                                        "createdBy": {
                                            "id": 0,
                                            "name": "string"
                                        },
                                        "customer": {
                                            "id": 0,
                                            "active": true,
                                            "name": "string",
                                            "email": "string",
                                            "balance": 0,
                                            "doNotMail": true,
                                            "address": {
                                                "street": "string",
                                                "unit": "string",
                                                "country": "string",
                                                "city": "string",
                                                "state": "string",
                                                "zip": "string",
                                                "streetAddress": "string",
                                                "latitude": 0,
                                                "longitude": 0
                                            },
                                            "importId": "string",
                                            "doNotService": true,
                                            "type": "Residential",
                                            "contacts": [
                                                {
                                                    "id": 0,
                                                    "type": "string",
                                                    "value": "string",
                                                    "memo": "string",
                                                    "active": true,
                                                    "modifiedOn": "string"
                                                }
                                            ],
                                            "mergedToId": 0,
                                            "modifiedOn": "string",
                                            "memberships": [
                                                {
                                                    "id": 0,
                                                    "active": true,
                                                    "type": {
                                                        "id": 0,
                                                        "active": true,
                                                        "name": "string"
                                                    },
                                                    "status": "string",
                                                    "from": "string",
                                                    "to": "string",
                                                    "locationId": 0
                                                }
                                            ],
                                            "hasActiveMembership": true,
                                            "customFields": [
                                                {
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "createdOn": "string",
                                            "createdBy": 0,
                                            "phoneSettings": [
                                                {
                                                    "phoneNumber": "string",
                                                    "doNotText": true
                                                }
                                            ]
                                        },
                                        "campaign": {
                                            "id": 0,
                                            "name": "string",
                                            "modifiedOn": "string",
                                            "createdOn": "string",
                                            "active": true,
                                            "isDefaultCampaign": true,
                                            "category": {
                                                "id": 0,
                                                "name": "string",
                                                "active": true
                                            },
                                            "source": "string",
                                            "otherSource": "string",
                                            "businessUnit": "string",
                                            "medium": "string",
                                            "otherMedium": "string",
                                            "dnis": "string"
                                        },
                                        "modifiedOn": "string",
                                        "agent": {
                                            "id": 0,
                                            "name": "string",
                                            "externalId": 0
                                        },
                                        "sid": "string",
                                        "tags": [
                                            {
                                                "id": 0,
                                                "typeName": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Calls"
                ],
                "summary": "Update existing call.",
                "description": "Update existing call.",
                "operationId": "Calls_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of updating call.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "DateTime? CreatedOn;\nTimeSpan? Duration;\nCallDirection? Direction;\nCallStatus? Status;\nCallType? CallType;\nstring ExcuseMemo;\nlong? CampaignId;\nlong? JobId;\nlong? AgentId;\nstring RecordingUrl;\nstring RecordingId;\nReasonInModel Reason;\nCustomerInModel Customer;\nLocationInModel Location;",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Module.Telecom.Shared.CallInUpdateModelV2"
                            },
                            "example": {
                                "callId": 0,
                                "callType": {},
                                "excuseMemo": "string",
                                "campaignId": 0,
                                "jobId": 0,
                                "agentId": 0,
                                "reason": {
                                    "name": "string",
                                    "lead": true
                                },
                                "customer": {
                                    "id": 0,
                                    "name": "string",
                                    "address": {
                                        "street": "string",
                                        "unit": "string",
                                        "country": "string",
                                        "city": "string",
                                        "state": "string",
                                        "zip": "string",
                                        "latitude": 0,
                                        "longitude": 0
                                    },
                                    "contacts": [
                                        {
                                            "id": 0,
                                            "type": "string",
                                            "value": "string",
                                            "memo": "string"
                                        }
                                    ]
                                },
                                "location": {
                                    "id": 0,
                                    "name": "string",
                                    "address": {
                                        "street": "string",
                                        "unit": "string",
                                        "country": "string",
                                        "city": "string",
                                        "state": "string",
                                        "zip": "string",
                                        "latitude": 0,
                                        "longitude": 0
                                    },
                                    "contacts": [
                                        {
                                            "id": 0,
                                            "type": "string",
                                            "value": "string",
                                            "memo": "string"
                                        }
                                    ]
                                },
                                "tag": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "DetailedCallModel",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Module.Telecom.Shared.DetailedCallModel"
                                },
                                "example": {
                                    "id": 0,
                                    "receivedOn": "string",
                                    "duration": "string",
                                    "from": "string",
                                    "to": "string",
                                    "direction": "Inbound",
                                    "callType": {},
                                    "reason": {
                                        "id": 0,
                                        "name": "string",
                                        "lead": true,
                                        "active": true
                                    },
                                    "recordingUrl": "string",
                                    "voiceMailUrl": "string",
                                    "createdBy": {
                                        "id": 0,
                                        "name": "string"
                                    },
                                    "customer": {
                                        "id": 0,
                                        "active": true,
                                        "name": "string",
                                        "email": "string",
                                        "balance": 0,
                                        "doNotMail": true,
                                        "address": {
                                            "street": "string",
                                            "unit": "string",
                                            "country": "string",
                                            "city": "string",
                                            "state": "string",
                                            "zip": "string",
                                            "streetAddress": "string",
                                            "latitude": 0,
                                            "longitude": 0
                                        },
                                        "importId": "string",
                                        "doNotService": true,
                                        "type": "Residential",
                                        "contacts": [
                                            {
                                                "id": 0,
                                                "type": "string",
                                                "value": "string",
                                                "memo": "string",
                                                "active": true,
                                                "modifiedOn": "string"
                                            }
                                        ],
                                        "mergedToId": 0,
                                        "modifiedOn": "string",
                                        "memberships": [
                                            {
                                                "id": 0,
                                                "active": true,
                                                "type": {
                                                    "id": 0,
                                                    "active": true,
                                                    "name": "string"
                                                },
                                                "status": "string",
                                                "from": "string",
                                                "to": "string",
                                                "locationId": 0
                                            }
                                        ],
                                        "hasActiveMembership": true,
                                        "customFields": [
                                            {
                                                "typeId": 0,
                                                "name": "string",
                                                "value": "string"
                                            }
                                        ],
                                        "createdOn": "string",
                                        "createdBy": 0,
                                        "phoneSettings": [
                                            {
                                                "phoneNumber": "string",
                                                "doNotText": true
                                            }
                                        ]
                                    },
                                    "campaign": {
                                        "id": 0,
                                        "name": "string",
                                        "modifiedOn": "string",
                                        "createdOn": "string",
                                        "active": true,
                                        "isDefaultCampaign": true,
                                        "category": {
                                            "id": 0,
                                            "name": "string",
                                            "active": true
                                        },
                                        "source": "string",
                                        "otherSource": "string",
                                        "businessUnit": "string",
                                        "medium": "string",
                                        "otherMedium": "string",
                                        "dnis": "string"
                                    },
                                    "modifiedOn": "string",
                                    "agent": {
                                        "id": 0,
                                        "name": "string",
                                        "externalId": 0
                                    },
                                    "sid": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "typeName": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/tenant/{tenant}/calls": {
            "get": {
                "tags": [
                    "Calls (Deprecated)"
                ],
                "summary": "Get filtered calls.",
                "description": "Get filtered calls.",
                "operationId": "Calls_GetCalls",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Modified before a certain date/time (as date-time in RFC3339), not inclusive",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Modified on or after a certain date/time (as date-time in RFC3339), inclusive",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Created on or after a certain date/time (as date-time in RFC3339), inclusive",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedAfter",
                        "in": "query",
                        "description": "Modified after a certain date/time (as date-time in RFC3339), not inclusive",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "minDuration",
                        "in": "query",
                        "description": "Minimum call duration (number)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "phoneNumberCalled",
                        "in": "query",
                        "description": "The phone number that was called (string)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "campaignId",
                        "in": "query",
                        "description": "Campaign ID",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "query",
                        "description": "Agent ID (number)",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "agentName",
                        "in": "query",
                        "description": "Agent name (string)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentIsExternal",
                        "in": "query",
                        "description": "Is agent external flag (boolean)",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "agentExternalId",
                        "in": "query",
                        "description": "Agent external ID (number)",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "Sorting (string with possible values \"Id\" (default), \"createdOn\", or \"modifiedOn\")",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderByDirection",
                        "in": "query",
                        "description": "Sorting direction (string with possible values \"asc\" (default) or \"desc\")",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "activeOnly",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of BundleCallModels with the following fields:\nlong Id;\nstring JobNumber;\nlong ProjectId;\nBusinessUnitModel BusinessUnit;\nJobTypeModel Type;\nCallModel LeadCall;",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResult_Of_Module.Telecom.Shared.V2.BundleCallModel"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 0,
                                            "jobNumber": "string",
                                            "projectId": 0,
                                            "businessUnit": {
                                                "id": 0,
                                                "active": true,
                                                "name": "string",
                                                "officialName": "string",
                                                "email": "string",
                                                "currency": "string",
                                                "phoneNumber": "string",
                                                "invoiceHeader": "string",
                                                "invoiceMessage": "string",
                                                "defaultTaxRate": 0,
                                                "authorizationParagraph": "string",
                                                "acknowledgementParagraph": "string",
                                                "address": {
                                                    "street": "string",
                                                    "unit": "string",
                                                    "city": "string",
                                                    "state": "string",
                                                    "zip": "string",
                                                    "country": "string"
                                                },
                                                "materialSku": "string",
                                                "quickbooksClass": "string",
                                                "accountCode": "string",
                                                "franchiseId": "string",
                                                "conceptCode": "string",
                                                "corporateContractNumber": "string",
                                                "tenant": {
                                                    "id": 0,
                                                    "name": "string",
                                                    "quickbooksClass": "string",
                                                    "accountCode": "string",
                                                    "franchiseId": "string",
                                                    "conceptCode": "string",
                                                    "modifiedOn": "string"
                                                },
                                                "modifiedOn": "string"
                                            },
                                            "type": {
                                                "id": 0,
                                                "name": "string",
                                                "modifiedOn": "string"
                                            },
                                            "leadCall": {
                                                "id": 0,
                                                "receivedOn": "string",
                                                "duration": "string",
                                                "from": "string",
                                                "to": "string",
                                                "direction": "Inbound",
                                                "callType": {},
                                                "reason": {
                                                    "id": 0,
                                                    "name": "string",
                                                    "lead": true,
                                                    "active": true
                                                },
                                                "recordingUrl": "string",
                                                "voiceMailUrl": "string",
                                                "createdBy": {
                                                    "id": 0,
                                                    "name": "string"
                                                },
                                                "customer": {
                                                    "id": 0,
                                                    "active": true,
                                                    "name": "string",
                                                    "email": "string",
                                                    "balance": 0,
                                                    "doNotMail": true,
                                                    "address": {
                                                        "street": "string",
                                                        "unit": "string",
                                                        "country": "string",
                                                        "city": "string",
                                                        "state": "string",
                                                        "zip": "string",
                                                        "streetAddress": "string",
                                                        "latitude": 0,
                                                        "longitude": 0
                                                    },
                                                    "importId": "string",
                                                    "doNotService": true,
                                                    "type": "Residential",
                                                    "contacts": [
                                                        {
                                                            "id": 0,
                                                            "type": "string",
                                                            "value": "string",
                                                            "memo": "string",
                                                            "active": true,
                                                            "modifiedOn": "string"
                                                        }
                                                    ],
                                                    "mergedToId": 0,
                                                    "modifiedOn": "string",
                                                    "memberships": [
                                                        {
                                                            "id": 0,
                                                            "active": true,
                                                            "type": {
                                                                "id": 0,
                                                                "active": true,
                                                                "name": "string"
                                                            },
                                                            "status": "string",
                                                            "from": "string",
                                                            "to": "string",
                                                            "locationId": 0
                                                        }
                                                    ],
                                                    "hasActiveMembership": true,
                                                    "customFields": [
                                                        {
                                                            "typeId": 0,
                                                            "name": "string",
                                                            "value": "string"
                                                        }
                                                    ],
                                                    "createdOn": "string",
                                                    "createdBy": 0,
                                                    "phoneSettings": [
                                                        {
                                                            "phoneNumber": "string",
                                                            "doNotText": true
                                                        }
                                                    ]
                                                },
                                                "campaign": {
                                                    "id": 0,
                                                    "name": "string",
                                                    "modifiedOn": "string",
                                                    "createdOn": "string",
                                                    "active": true,
                                                    "isDefaultCampaign": true,
                                                    "category": {
                                                        "id": 0,
                                                        "name": "string",
                                                        "active": true
                                                    },
                                                    "source": "string",
                                                    "otherSource": "string",
                                                    "businessUnit": "string",
                                                    "medium": "string",
                                                    "otherMedium": "string",
                                                    "dnis": "string"
                                                },
                                                "modifiedOn": "string",
                                                "agent": {
                                                    "id": 0,
                                                    "name": "string",
                                                    "externalId": 0
                                                },
                                                "sid": "string",
                                                "tags": [
                                                    {
                                                        "id": 0,
                                                        "typeName": "string"
                                                    }
                                                ],
                                                "createdOn": "string",
                                                "active": true
                                            }
                                        }
                                    ],
                                    "page": 0,
                                    "pageSize": 0,
                                    "totalCount": 0,
                                    "hasMore": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/tenant/{tenant}/calls/{id}/recording": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "Get recording of the call.",
                "description": "Get recording of the call.",
                "operationId": "Calls_GetRecording",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the call.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\"audio/mpeg\" stream with call recording.",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/tenant/{tenant}/calls/{id}/voicemail": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "Get voicemail of the call.",
                "description": "Get voicemail of the call.",
                "operationId": "Calls_GetVoiceMail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the call.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\"audio/mpeg\" stream with call voicemail.",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/tenant/{tenant}/export/calls": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for telecom calls",
                "description": "Provides export feed for telecom calls",
                "operationId": "Export_Calls",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Telecom.V2.ExportCallResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "duration": "string",
                                            "from": "string",
                                            "to": "string",
                                            "direction": {},
                                            "status": {},
                                            "type": {},
                                            "recordingUrl": "string",
                                            "voiceMailPath": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "reason": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "customer": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "location": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "campaign": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "job": {
                                                "id": 0,
                                                "number": "string"
                                            },
                                            "agent": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "createdBy": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "excuseMemo": "string",
                                            "tag": "string",
                                            "active": true,
                                            "lead": {
                                                "id": 0
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "PaginatedResponse_Of_Telecom.V3.CallResponse": {
                "required": [
                    "page",
                    "pageSize",
                    "hasMore",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "page": {
                        "type": "integer",
                        "description": "From which page this output has started",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "description": "Page size for this query (i.e. how many records were requested to return)",
                        "format": "int32"
                    },
                    "hasMore": {
                        "type": "boolean",
                        "description": "True if there are more records in the query than returned in this result"
                    },
                    "totalCount": {
                        "type": "integer",
                        "description": "Total count of records for this query (can optionally be populated)",
                        "format": "int32",
                        "nullable": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Telecom.V3.CallResponse"
                        },
                        "description": "The collection of result items, will never have more than PageSize items"
                    }
                },
                "additionalProperties": false,
                "description": "Represents paginated API response."
            },
            "Telecom.V3.CallResponse": {
                "required": [
                    "id",
                    "jobNumber",
                    "projectId",
                    "businessUnit",
                    "type",
                    "leadCall"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "jobNumber": {
                        "type": "string"
                    },
                    "projectId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "businessUnit": {
                        "$ref": "#/components/schemas/Telecom.V2.NamedModel"
                    },
                    "type": {
                        "$ref": "#/components/schemas/Telecom.V3.JobTypeModel"
                    },
                    "leadCall": {
                        "$ref": "#/components/schemas/Telecom.V3.CallModelResponse"
                    }
                },
                "additionalProperties": false
            },
            "Telecom.V2.NamedModel": {
                "required": [
                    "id",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The ID of the entity",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the entity"
                    }
                },
                "additionalProperties": false
            },
            "Telecom.V3.JobTypeModel": {
                "required": [
                    "id",
                    "name",
                    "modifiedOn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The ID of the entity",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the entity"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "additionalProperties": false
            },
            "Telecom.V3.CallModelResponse": {
                "required": [
                    "createdOn",
                    "active",
                    "id",
                    "receivedOn",
                    "duration",
                    "from",
                    "to",
                    "direction",
                    "reason",
                    "recordingUrl",
                    "voiceMailUrl",
                    "createdBy",
                    "customer",
                    "campaign",
                    "modifiedOn",
                    "agent"
                ],
                "type": "object",
                "properties": {
                    "createdOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "receivedOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "duration": {
                        "type": "string",
                        "format": "duration"
                    },
                    "from": {
                        "type": "string"
                    },
                    "to": {
                        "type": "string"
                    },
                    "direction": {
                        "$ref": "#/components/schemas/Telecom.V3.CallDirection"
                    },
                    "callType": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Telecom.V3.CallType"
                            }
                        ],
                        "nullable": true
                    },
                    "reason": {
                        "$ref": "#/components/schemas/Telecom.V3.CallReasonModel"
                    },
                    "recordingUrl": {
                        "type": "string"
                    },
                    "voiceMailUrl": {
                        "type": "string"
                    },
                    "createdBy": {
                        "$ref": "#/components/schemas/Telecom.V2.NamedModel"
                    },
                    "customer": {
                        "$ref": "#/components/schemas/Telecom.V2.NamedModel"
                    },
                    "campaign": {
                        "$ref": "#/components/schemas/Telecom.V2.NamedModel"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "agent": {
                        "$ref": "#/components/schemas/Telecom.V3.CallAgentModel"
                    },
                    "sid": {
                        "type": "string",
                        "nullable": true
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Module.Telecom.Shared.TagResponseModel"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "Telecom.V3.CallDirection": {
                "enum": [
                    "Inbound",
                    "Outbound"
                ],
                "type": "string",
                "description": "Indicates the direction of a call",
                "x-enumNames": [
                    "Inbound",
                    "Outbound"
                ]
            },
            "Telecom.V3.CallType": {
                "enum": [
                    "Abandoned",
                    "Unbooked",
                    "Excused",
                    "Booked",
                    "NotLead"
                ],
                "type": "string",
                "description": "Specifies the type (classification) of the call. If null, the call was not classified yet. Also,\n            outbound calls don't have classification and CallType is always null for outbound calls",
                "x-enumNames": [
                    "Abandoned",
                    "Unbooked",
                    "Excused",
                    "Booked",
                    "NotLead"
                ]
            },
            "Telecom.V3.CallReasonModel": {
                "required": [
                    "id",
                    "name",
                    "lead",
                    "active"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The ID of the entity",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the entity"
                    },
                    "lead": {
                        "type": "boolean"
                    },
                    "active": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "Telecom.V3.CallAgentModel": {
                "required": [
                    "id",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The ID of the entity",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the entity"
                    },
                    "externalId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "Module.Telecom.Shared.TagResponseModel": {
                "required": [
                    "id",
                    "typeName"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "typeName": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            },
            "ApiErrorResponse": {
                "required": [
                    "type",
                    "title",
                    "status",
                    "traceId",
                    "errors",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "A URI reference that identifies the problem type"
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, human-readable summary of the problem type"
                    },
                    "status": {
                        "type": "integer",
                        "description": "The HTTP status code generated by server",
                        "format": "int32"
                    },
                    "traceId": {
                        "type": "string",
                        "description": "Internal trace ID for advanced diagnostics"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Provides more details about errors occurred, which can potentially be used for visual display"
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": {},
                        "description": "Provides additional data, intended for programmatical usage"
                    }
                },
                "additionalProperties": false,
                "description": "Detailed error response, following RFC 7807 recommendations (https://tools.ietf.org/html/rfc7807)."
            },
            "ActiveRequestArg": {
                "enum": [
                    "True",
                    "Any",
                    "False"
                ],
                "type": "string",
                "description": "Represents possible HTTP query argument values, when applying filters based on active status.",
                "x-enumNames": [
                    "True",
                    "Any",
                    "False"
                ]
            },
            "Telecom.V3.OptOutListResponse": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Telecom.V3.OptOutResponse"
                        },
                        "description": "The list of opt-out responses."
                    }
                },
                "additionalProperties": false,
                "description": "List of opt-outs"
            },
            "Telecom.V3.OptOutResponse": {
                "required": [
                    "contactNumber",
                    "optOutType"
                ],
                "type": "object",
                "properties": {
                    "contactNumber": {
                        "type": "string",
                        "description": "Contact number in E.164 format"
                    },
                    "optOutType": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Telecom.V3.OptOutType"
                            }
                        ],
                        "description": "Opt-out type"
                    }
                },
                "additionalProperties": false,
                "description": "Single contact number opt-out status"
            },
            "Telecom.V3.OptOutType": {
                "enum": [
                    "Unknown",
                    "Global",
                    "Marketing",
                    "Other"
                ],
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "Unknown",
                    "Global",
                    "Marketing",
                    "Other"
                ]
            },
            "Telecom.V3.GetOptOutListRequest": {
                "required": [
                    "contactNumbers"
                ],
                "type": "object",
                "properties": {
                    "contactNumbers": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Contact numbers (must be valid parseable phone numbers, E.164 format is recommended)"
                    }
                },
                "additionalProperties": false,
                "description": "List of phone numbers to get opt-out status for"
            },
            "Telecom.V3.CreateOptOutListResponse": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Telecom.V3.CreateOptOutResponse"
                        },
                        "description": "Individual results for each number"
                    }
                },
                "additionalProperties": false,
                "description": "Result of creating the opt-outs"
            },
            "Telecom.V3.CreateOptOutResponse": {
                "required": [
                    "contactNumber",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "contactNumber": {
                        "type": "string",
                        "description": "Contact number in E.164 format"
                    },
                    "status": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Telecom.V3.CreateOptOutStatus"
                            }
                        ],
                        "description": "Result of opt-out creation"
                    }
                },
                "additionalProperties": false,
                "description": "Result of creating a single opt-out"
            },
            "Telecom.V3.CreateOptOutStatus": {
                "enum": [
                    "Ok",
                    "RetryableError",
                    "LogicalError"
                ],
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "Ok",
                    "RetryableError",
                    "LogicalError"
                ]
            },
            "Telecom.V3.CreateOptOutListRequest": {
                "required": [
                    "optOutType",
                    "contactNumbers"
                ],
                "type": "object",
                "properties": {
                    "optOutType": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Telecom.V3.OptOutType"
                            }
                        ],
                        "description": "Type of opt-out to create"
                    },
                    "contactNumbers": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Contact numbers (must be valid parseable phone numbers, E.164 format is recommended)"
                    }
                },
                "additionalProperties": false,
                "description": "List of phone numbers to create the opt-out status for"
            },
            "Module.Telecom.Shared.DetailedBundleCallModel": {
                "required": [
                    "id",
                    "jobNumber",
                    "projectId",
                    "businessUnit",
                    "type",
                    "leadCall"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "jobNumber": {
                        "type": "string"
                    },
                    "projectId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "businessUnit": {
                        "$ref": "#/components/schemas/Module.Admin.Shared.BusinessUnitModel"
                    },
                    "type": {
                        "$ref": "#/components/schemas/JobTypeModel"
                    },
                    "leadCall": {
                        "$ref": "#/components/schemas/Module.Telecom.Shared.DetailedCallModel"
                    }
                },
                "additionalProperties": false
            },
            "Module.Admin.Shared.BusinessUnitModel": {
                "required": [
                    "id",
                    "name",
                    "active",
                    "officialName",
                    "email",
                    "currency",
                    "phoneNumber",
                    "invoiceHeader",
                    "invoiceMessage",
                    "defaultTaxRate",
                    "authorizationParagraph",
                    "acknowledgementParagraph",
                    "address",
                    "materialSku",
                    "quickbooksClass",
                    "accountCode",
                    "franchiseId",
                    "conceptCode",
                    "corporateContractNumber",
                    "tenant",
                    "modifiedOn"
                ],
[...]
