{
    "openapi": "3.0.1",
    "info": {
        "title": "Timesheets",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.servicetitan.io/timesheets/v2"
        }
    ],
    "paths": {
        "/tenant/{tenant}/activities": {
            "get": {
                "tags": [
                    "ActivitiesControllers"
                ],
                "summary": "Gets a list of activities",
                "description": "Gets a list of activities",
                "operationId": "ActivitiesControllers_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by specified fields",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Timesheets.V2.Activities.ActivitiesResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "employeeId": 0,
                                            "activityTypeId": 0,
                                            "employeeType": {},
                                            "startTime": "string",
                                            "endTime": "string",
                                            "jobId": 0,
                                            "appointmentId": 0,
                                            "projectId": 0,
                                            "projectLabel": "string",
                                            "laborTypeId": 0,
                                            "budgetCodeId": 0,
                                            "memo": "string",
                                            "tagTypes": [
                                                0
                                            ],
                                            "startCoordinate": {
                                                "latitude": 0,
                                                "longitude": 0
                                            },
                                            "endCoordinate": {
                                                "latitude": 0,
                                                "longitude": 0
                                            },
                                            "active": true,
                                            "modifiedById": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ActivitiesControllers"
                ],
                "summary": "Creates new activity",
                "description": "Creates new activity",
                "operationId": "ActivitiesControllers_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Activity model to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Timesheets.V2.Activities.ActivityCreateRequest"
                            },
                            "example": {
                                "employeeId": 0,
                                "employeeType": {},
                                "activityTypeId": 0,
                                "startTime": "string",
                                "endTime": "string",
                                "jobId": 0,
                                "appointmentId": 0,
                                "projectId": 0,
                                "projectLabel": "string",
                                "laborTypeId": 0,
                                "budgetCodeId": 0,
                                "budgetCodeName": "string",
                                "milesDriven": 0,
                                "nonJobEventAssignmentId": 0,
                                "memo": "string",
                                "tagTypes": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/activities/{id}": {
            "get": {
                "tags": [
                    "ActivitiesControllers"
                ],
                "summary": "Gets activity specified by ID",
                "description": "Gets activity specified by ID",
                "operationId": "ActivitiesControllers_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The activity ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Timesheets.V2.Activities.ActivityResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "employeeId": 0,
                                    "employeeType": {},
                                    "activityTypeId": 0,
                                    "startTime": "string",
                                    "endTime": "string",
                                    "jobId": 0,
                                    "appointmentId": 0,
                                    "projectId": 0,
                                    "projectLabel": "string",
                                    "laborTypeId": 0,
                                    "budgetCodeId": 0,
                                    "memo": "string",
                                    "tagTypes": [
                                        0
                                    ],
                                    "startCoordinate": {
                                        "latitude": 0,
                                        "longitude": 0
                                    },
                                    "endCoordinate": {
                                        "latitude": 0,
                                        "longitude": 0
                                    },
                                    "active": true,
                                    "modifiedById": 0,
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Activity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ActivitiesControllers"
                ],
                "summary": "Updates the specified activity",
                "description": "Updates the specified activity",
                "operationId": "ActivitiesControllers_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Activity ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Activity to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Timesheets.V2.Activities.ActivityUpdateRequest"
                            },
                            "example": {
                                "activityTypeId": 0,
                                "startTime": "string",
                                "endTime": "string",
                                "jobId": 0,
                                "appointmentId": 0,
                                "projectId": 0,
                                "projectLabel": "string",
                                "laborTypeId": 0,
                                "budgetCodeId": 0,
                                "budgetCodeName": "string",
                                "milesDriven": 0,
                                "nonJobEventAssignmentId": 0,
                                "memo": "string",
                                "tagTypes": [
                                    0
                                ],
                                "active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                },
                                "example": {
                                    "id": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ActivitiesControllers"
                ],
                "summary": "Deletes the specified activity",
                "description": "Deletes the specified activity",
                "operationId": "ActivitiesControllers_Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Activity ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/activity-categories": {
            "get": {
                "tags": [
                    "ActivityCategories"
                ],
                "summary": "Gets a list of activity categories",
                "description": "Gets a list of activity categories",
                "operationId": "ActivityCategories_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Timesheets.V2.ActivityCategories.ActivityCategoriesResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "type": {},
                                            "allowEdit": true,
                                            "isDefault": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "active": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/activity-categories/{id}": {
            "get": {
                "tags": [
                    "ActivityCategories"
                ],
                "summary": "Gets activity category specified by ID",
                "description": "Gets activity category specified by ID",
                "operationId": "ActivityCategories_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The activity category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Timesheets.V2.ActivityCategories.ActivityCategoryResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "name": "string",
                                    "type": {},
                                    "allowEdit": true,
                                    "isDefault": true,
                                    "createdOn": "string",
                                    "modifiedOn": "string",
                                    "active": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Activity category was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/activity-types": {
            "get": {
                "tags": [
                    "ActivityTypes"
                ],
                "summary": "Gets a list of activity types",
                "description": "Gets a list of activity types",
                "operationId": "ActivityTypes_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_Timesheets.V2.ActivityTypes.ActivityTypesResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "code": "string",
                                            "categoryId": 0,
                                            "description": "string",
                                            "icon": "string",
                                            "businessUnitId": 0,
                                            "isUsersHomeBusinessUnit": true,
                                            "laborTypeId": 0,
                                            "isTechnicianProfileLaborType": true,
                                            "visibleToRoles": [
                                                0
                                            ],
                                            "defaultTagTypeIds": [
                                                0
                                            ],
                                            "tagAssociation": {},
                                            "jobAssociation": {},
                                            "projectAssociation": {},
                                            "projectLabelAssociation": {},
                                            "budgetCodeAssociation": {},
                                            "laborTypeAssociation": {},
                                            "memoAssociation": {},
                                            "defaultMemo": "string",
                                            "dontAllowToChangeMemo": true,
                                            "dontAllowToChangeTag": true,
                                            "isArchived": true,
                                            "isDraft": true,
                                            "isDefault": true,
                                            "isInUse": true,
                                            "active": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/activity-types/{id}": {
            "get": {
                "tags": [
                    "ActivityTypes"
                ],
                "summary": "Gets activity types specified by ID",
                "description": "Gets activity types specified by ID",
                "operationId": "ActivityTypes_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The activity types ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Timesheets.V2.ActivityTypes.ActivityTypeResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "code": "string",
                                    "categoryId": 0,
                                    "description": "string",
                                    "icon": "string",
                                    "businessUnitId": 0,
                                    "isUsersHomeBusinessUnit": true,
                                    "laborTypeId": 0,
                                    "isTechnicianProfileLaborType": true,
                                    "visibleToRoles": [
                                        0
                                    ],
                                    "defaultTagTypeIds": [
                                        0
                                    ],
                                    "tagAssociation": {},
                                    "jobAssociation": {},
                                    "projectAssociation": {},
                                    "projectLabelAssociation": {},
                                    "budgetCodeAssociation": {},
                                    "laborTypeAssociation": {},
                                    "memoAssociation": {},
                                    "defaultMemo": "string",
                                    "dontAllowToChangeMemo": true,
                                    "dontAllowToChangeTag": true,
                                    "isArchived": true,
                                    "isDraft": true,
                                    "isDefault": true,
                                    "isInUse": true,
                                    "active": true,
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Activity types was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/activity-categories": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for activity categories.",
                "description": "Provides export feed for activity categories.",
                "operationId": "Export_ActivityCategories",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Timesheets.V2.ActivityCategories.ActivityCategoryExportResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "type": {},
                                            "allowEdit": true,
                                            "isDefault": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "active": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/activity-types": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for activity types.",
                "description": "Provides export feed for activity types.",
                "operationId": "Export_ActivityTypes",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Timesheets.V2.ActivityTypes.ActivityTypeExportResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "code": "string",
                                            "categoryId": 0,
                                            "description": "string",
                                            "icon": "string",
                                            "businessUnitId": 0,
                                            "isUsersHomeBusinessUnit": true,
                                            "laborTypeId": 0,
                                            "isTechnicianProfileLaborType": true,
                                            "visibleToRoles": [
                                                0
                                            ],
                                            "defaultTagTypeIds": [
                                                0
                                            ],
                                            "tagAssociation": {},
                                            "jobAssociation": {},
                                            "projectAssociation": {},
                                            "projectLabelAssociation": {},
                                            "budgetCodeAssociation": {},
                                            "laborTypeAssociation": {},
                                            "memoAssociation": {},
                                            "defaultMemo": "string",
                                            "dontAllowToChangeMemo": true,
                                            "dontAllowToChangeTag": true,
                                            "isArchived": true,
                                            "isDraft": true,
                                            "isDefault": true,
                                            "isInUse": true,
                                            "active": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/export/activities": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Provides export feed for activity.",
                "description": "Provides export feed for activity.",
                "operationId": "Export_Activities",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse_Of_Timesheets.V2.Activities.ActivityExportResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "employeeId": 0,
                                            "employeeType": {},
                                            "activityTypeId": 0,
                                            "startTime": "string",
                                            "endTime": "string",
                                            "jobId": 0,
                                            "appointmentId": 0,
                                            "projectId": 0,
                                            "projectLabel": "string",
                                            "laborTypeId": 0,
                                            "budgetCodeId": 0,
                                            "memo": "string",
                                            "tagTypes": [
                                                0
                                            ],
                                            "startCoordinate": {
                                                "latitude": 0,
                                                "longitude": 0
                                            },
                                            "endCoordinate": {
                                                "latitude": 0,
                                                "longitude": 0
                                            },
                                            "active": true,
                                            "modifiedById": 0,
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "PaginatedResponse_Of_Timesheets.V2.Activities.ActivitiesResponse": {
                "required": [
                    "page",
                    "pageSize",
                    "hasMore",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "page": {
                        "type": "integer",
                        "description": "From which page this output has started",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "description": "Page size for this query (i.e. how many records were requested to return)",
                        "format": "int32"
                    },
                    "hasMore": {
                        "type": "boolean",
                        "description": "True if there are more records in the query than returned in this result"
                    },
                    "totalCount": {
                        "type": "integer",
                        "description": "Total count of records for this query (can optionally be populated)",
                        "format": "int32",
                        "nullable": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Timesheets.V2.Activities.ActivitiesResponse"
                        },
                        "description": "The collection of result items, will never have more than PageSize items"
                    }
                },
                "additionalProperties": false,
                "description": "Represents paginated API response."
            },
            "Timesheets.V2.Activities.ActivitiesResponse": {
                "required": [
                    "id",
                    "employeeId",
                    "activityTypeId",
                    "employeeType",
                    "startTime",
                    "tagTypes",
                    "active",
                    "createdOn",
                    "modifiedOn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "ID of the activity.",
                        "format": "int64"
                    },
                    "employeeId": {
                        "type": "integer",
                        "description": "ID of the employee associated with the activity.",
                        "format": "int64"
                    },
                    "activityTypeId": {
                        "type": "integer",
                        "description": "ID of the activity type.",
                        "format": "int64"
                    },
                    "employeeType": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Timesheets.V2.EmployeeType"
                            }
                        ],
                        "description": "Type of the employee."
                    },
                    "startTime": {
                        "type": "string",
                        "description": "Start time of the activity on UTC.",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "description": "End time of the activity on UTC.",
                        "format": "date-time",
                        "nullable": true
                    },
                    "jobId": {
                        "type": "integer",
                        "description": "ID of the job associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "appointmentId": {
                        "type": "integer",
                        "description": "ID of the appointment associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectId": {
                        "type": "integer",
                        "description": "ID of the project associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectLabel": {
                        "type": "string",
                        "description": "Label of the project associated with the activity.",
                        "nullable": true
                    },
                    "laborTypeId": {
                        "type": "integer",
                        "description": "ID of the labor type associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "budgetCodeId": {
                        "type": "integer",
                        "description": "ID of the budget code associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string",
                        "description": "Memo or notes related to the activity.",
                        "nullable": true
                    },
                    "tagTypes": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "description": "List of tag type IDs associated with the activity."
                    },
                    "startCoordinate": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Timesheets.V2.Activities.ActivityEntryCoordinate"
                            }
                        ],
                        "description": "Start Coordinate of the activity.",
                        "nullable": true
                    },
                    "endCoordinate": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Timesheets.V2.Activities.ActivityEntryCoordinate"
                            }
                        ],
                        "description": "End Coordinate of the activity.",
                        "nullable": true
                    },
                    "active": {
                        "type": "boolean",
                        "description": "Indicates whether the activity is active."
                    },
                    "modifiedById": {
                        "type": "integer",
                        "description": "ID of the user who last modified the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "createdOn": {
                        "type": "string",
                        "description": "Date and time when the activity was created on UTC.",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "description": "Date and time when the activity was last modified on UTC.",
                        "format": "date-time"
                    }
                },
                "additionalProperties": false
            },
            "Timesheets.V2.EmployeeType": {
                "enum": [
                    "Technician",
                    "Employee"
                ],
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "Technician",
                    "Employee"
                ]
            },
            "Timesheets.V2.Activities.ActivityEntryCoordinate": {
                "type": "object",
                "properties": {
                    "latitude": {
                        "type": "number",
                        "format": "double",
                        "nullable": true
                    },
                    "longitude": {
                        "type": "number",
                        "format": "double",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ApiErrorResponse": {
                "required": [
                    "type",
                    "title",
                    "status",
                    "traceId",
                    "errors",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "A URI reference that identifies the problem type"
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, human-readable summary of the problem type"
                    },
                    "status": {
                        "type": "integer",
                        "description": "The HTTP status code generated by server",
                        "format": "int32"
                    },
                    "traceId": {
                        "type": "string",
                        "description": "Internal trace ID for advanced diagnostics"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Provides more details about errors occurred, which can potentially be used for visual display"
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": {},
                        "description": "Provides additional data, intended for programmatical usage"
                    }
                },
                "additionalProperties": false,
                "description": "Detailed error response, following RFC 7807 recommendations (https://tools.ietf.org/html/rfc7807)."
            },
            "ActiveRequestArg": {
                "enum": [
                    "True",
                    "Any",
                    "False"
                ],
                "type": "string",
                "description": "Represents possible HTTP query argument values, when applying filters based on active status.",
                "x-enumNames": [
                    "True",
                    "Any",
                    "False"
                ]
            },
            "Timesheets.V2.Activities.ActivityResponse": {
                "required": [
                    "id",
                    "employeeId",
                    "employeeType",
                    "activityTypeId",
                    "startTime",
                    "tagTypes",
                    "active",
                    "createdOn",
                    "modifiedOn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "ID of the activity.",
                        "format": "int64"
                    },
                    "employeeId": {
                        "type": "integer",
                        "description": "ID of the employee associated with the activity.",
                        "format": "int64"
                    },
                    "employeeType": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Timesheets.V2.EmployeeType"
                            }
                        ],
                        "description": "Type of the employee."
                    },
                    "activityTypeId": {
                        "type": "integer",
                        "description": "ID of the activity type.",
                        "format": "int64"
                    },
                    "startTime": {
                        "type": "string",
                        "description": "Start time of the activity  on UTC.",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "description": "End time of the activity  on UTC.",
                        "format": "date-time",
                        "nullable": true
                    },
                    "jobId": {
                        "type": "integer",
                        "description": "ID of the job associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "appointmentId": {
                        "type": "integer",
                        "description": "ID of the appointment associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectId": {
                        "type": "integer",
                        "description": "ID of the project associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectLabel": {
                        "type": "string",
                        "description": "Label of the project associated with the activity.",
                        "nullable": true
                    },
                    "laborTypeId": {
                        "type": "integer",
                        "description": "ID of the labor type associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "budgetCodeId": {
                        "type": "integer",
                        "description": "ID of the budget code associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string",
                        "description": "Memo or notes related to the activity.",
                        "nullable": true
                    },
                    "tagTypes": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "description": "List of tag type IDs associated with the activity."
                    },
                    "startCoordinate": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Timesheets.V2.Activities.ActivityEntryCoordinate"
                            }
                        ],
                        "description": "Start Coordinate of the activity.",
                        "nullable": true
                    },
                    "endCoordinate": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Timesheets.V2.Activities.ActivityEntryCoordinate"
                            }
                        ],
                        "description": "End Coordinate of the activity.",
                        "nullable": true
                    },
                    "active": {
                        "type": "boolean",
                        "description": "Indicates whether the activity is active."
                    },
                    "modifiedById": {
                        "type": "integer",
                        "description": "ID of the user who last modified the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "createdOn": {
                        "type": "string",
                        "description": "Date and time when the activity was created  on UTC.",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "description": "Date and time when the activity was last modified  on UTC.",
                        "format": "date-time"
                    }
                },
                "additionalProperties": false
            },
            "ModificationResponse": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The ID of created/updated object",
                        "format": "int64"
                    }
                },
                "additionalProperties": false,
                "description": "Default response when creating object with a new ID, or updating object by specified ID."
            },
            "Timesheets.V2.Activities.ActivityCreateRequest": {
                "required": [
                    "employeeId",
                    "employeeType",
                    "activityTypeId",
                    "startTime",
                    "tagTypes"
                ],
                "type": "object",
                "properties": {
                    "employeeId": {
                        "type": "integer",
                        "description": "ID of the employee associated with the activity.",
                        "format": "int64"
                    },
                    "employeeType": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Timesheets.V2.EmployeeType"
                            }
                        ],
                        "description": "Type of the employee."
                    },
                    "activityTypeId": {
                        "type": "integer",
                        "description": "ID of the activity type.",
                        "format": "int64"
                    },
                    "startTime": {
                        "type": "string",
                        "description": "Start time of the activity  on UTC.",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "description": "End time of the activity  on UTC.",
                        "format": "date-time",
                        "nullable": true
                    },
                    "jobId": {
                        "type": "integer",
                        "description": "ID of the job associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "appointmentId": {
                        "type": "integer",
                        "description": "ID of the appointment associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectId": {
                        "type": "integer",
                        "description": "ID of the project associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectLabel": {
                        "type": "string",
                        "description": "Label of the project associated with the activity.",
                        "nullable": true
                    },
                    "laborTypeId": {
                        "type": "integer",
                        "description": "ID of the labor type associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "budgetCodeId": {
                        "type": "integer",
                        "description": "ID of the budget code associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "budgetCodeName": {
                        "type": "string",
                        "description": "Name of the budget code associated with the activity.",
                        "nullable": true
                    },
                    "milesDriven": {
                        "type": "number",
                        "description": "Miles driven associated with the activity.",
                        "format": "double",
                        "nullable": true
                    },
                    "nonJobEventAssignmentId": {
                        "type": "integer",
                        "description": "Non-job event assignment associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string",
                        "description": "Memo or notes related to the activity.",
                        "nullable": true
                    },
                    "tagTypes": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "description": "List of tag type IDs associated with the activity."
                    }
                },
                "additionalProperties": false
            },
            "Timesheets.V2.Activities.ActivityUpdateRequest": {
                "required": [
                    "activityTypeId",
                    "startTime",
                    "tagTypes",
                    "active"
                ],
                "type": "object",
                "properties": {
                    "activityTypeId": {
                        "type": "integer",
                        "description": "ID of the activity type.",
                        "format": "int64"
                    },
                    "startTime": {
                        "type": "string",
                        "description": "Start time of the activity  on UTC.",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "description": "End time of the activity  on UTC.",
                        "format": "date-time",
                        "nullable": true
                    },
                    "jobId": {
                        "type": "integer",
                        "description": "ID of the job associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "appointmentId": {
                        "type": "integer",
                        "description": "ID of the appointment associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectId": {
                        "type": "integer",
                        "description": "ID of the project associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "projectLabel": {
                        "type": "string",
                        "description": "Label of the project associated with the activity.",
                        "nullable": true
                    },
                    "laborTypeId": {
                        "type": "integer",
                        "description": "ID of the labor type associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "budgetCodeId": {
                        "type": "integer",
                        "description": "ID of the budget code associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "budgetCodeName": {
                        "type": "string",
                        "description": "Name of the budget code associated with the activity.",
                        "nullable": true
                    },
                    "milesDriven": {
                        "type": "number",
                        "description": "Miles driven associated with the activity.",
                        "format": "double",
                        "nullable": true
                    },
                    "nonJobEventAssignmentId": {
                        "type": "integer",
                        "description": "Non-job event assignment associated with the activity.",
                        "format": "int64",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string",
                        "description": "Memo or notes related to the activity.",
                        "nullable": true
                    },
                    "tagTypes": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "description": "List of tag type IDs associated with the activity."
                    },
                    "active": {
                        "type": "boolean",
                        "description": "Indicates whether the activity is active."
                    }
                },
                "additionalProperties": false
            },
            "PaginatedResponse_Of_Timesheets.V2.ActivityCategories.ActivityCategoriesResponse": {
                "required": [
                    "page",
                    "pageSize",
                    "hasMore",
                    "data"
                ],
                "type": "object",
                "properties": {
                    "page": {
                        "type": "integer",
                        "description": "From which page this output has started",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "description": "Page size for this query (i.e. how many records were requested to return)",
                        "format": "int32"
                    },
                    "hasMore": {
                        "type": "boolean",
                        "description": "True if there are more records in the query than returned in this result"
                    },
                    "totalCount": {
                        "type": "integer",
                        "description": "Total count of records for this query (can optionally be populated)",
                        "format": "int32",
                        "nullable": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Timesheets.V2.ActivityCategories.ActivityCategoriesResponse"
                        },
                        "description": "The collection of result items, will never have more than PageSize items"
                    }
                },
                "additionalProperties": false,
                "description": "Represents paginated API response."
            },
            "Timesheets.V2.ActivityCategories.ActivityCategoriesResponse": {
                "required": [
                    "id",
                    "name",
                    "type",
                    "allowEdit",
                    "isDefault",
                    "createdOn",
                    "modifiedOn",
                    "active"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "ID of the activity category",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the activity category"
                    },
                    "type": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Timesheets.V2.ActivityCategoryType"
                            }
                        ],
                        "description": "Type of the activity category"
                    },
                    "allowEdit": {
                        "type": "boolean",
                        "description": "Identifies if the activity category is allowed to edit"
                    },
                    "isDefault": {
                        "type": "boolean",
                        "description": "Identifies if the activity category is default"
                    },
                    "createdOn": {
                        "type": "string",
                        "description": "The date when the activity category was created (in UTC)",
                        "format": "date-time"
                    },
                    "modifiedOn": {
                        "type": "string",
                        "description": "The last date when the activity category was last modified (in UTC)",
                        "format": "date-time"
                    },
                    "active": {
                        "type": "boolean",
                        "description": "Indicates whether the activity category is active or not"
                    }
                },
                "additionalProperties": false
            },
            "Timesheets.V2.ActivityCategoryType": {
                "enum": [
                    "Other",
                    "Idle",
                    "Meal",
                    "PaidTimeOff",
                    "OnJobActivities",
                    "Training",
                    "Travel"
                ],
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "Other",
                    "Idle",
                    "Meal",
                    "PaidTimeOff",
                    "OnJobActivities",
                    "Training",
                    "Travel"
                ]
            },
            "Timesheets.V2.ActivityCategories.ActivityCategoryResponse": {
                "required": [
                    "id",
                    "name",
                    "type",
                    "allowEdit",
                    "isDefault",
                    "createdOn",
                    "modifiedOn",
                    "active"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "ID of the activity category",
                        "format": "int64"
                    },
                    "name": {
[...]
